<section id="contact-us" class="p-3 mt-3 mb-4">
    <div class="container">
        <h2>Contact Us!</h2>
        <h2>Technical Support</h2>
        <p>
            If you have general questions about GEOME, please read the
            <a href="docs/helpDocumentation.pdf" target="_blank ">User Help Document.</a> There is also
            information about using GEOME on the <span [routerLink]="['/about']" class="text-primary cursor-pointer">About</span> page. If you
            still have questions of a technical nature, or encounter a bug, feel free to send an email to
            <a href="mailto:geome.help@gmail.com">geome.help&#64;.com</a> with your questions, along with
            as much information as possible so we can help resolve the issue.
        </p>
    </div>
</section>