<div class="modal-header border-0 py-2 bg-danger justify-content-center">
    <h4 class="modal-title fw-semibold" id="modal-basic-title">Delete {{modalFor}}!</h4>
</div>
<div class="modal-body p-2 px-4 border-0" id="expedition_modal">
    <p class="m-0">
        Are you sure you want to delete this {{modalFor}}? All associated data and records will be lost.<br> <b>We recommend that you export the data before deleting.</b>
    </p>
</div>
<div class="modal-footer border-0 pt-0">
    <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="activeModal.dismiss(true)">Delete</button>
    </div>
</div>