<div class="tk-labels">
    <div>
        <img (click)="showNoticeMessage(notice_modal)" id="TK-notice" class="image figure-img img-fluid cursor-pointer"
            src="images/TK-notice.png" />
    </div>
</div>

<ng-template #notice_modal let-modal>
	<div class="modal-body p-4 pb-2">
        <h5 class="fw-semibold mb-3">Traditional Knowledge (TK) Notice</h5>
        <p>The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated.</p>
        <p>For more information, visit <a href="https://localcontexts.org/notice/tk-notice/" target="_blank" rel="noopener noreferrer">Local Contexts</a>.</p>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary border-0" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>
