<form method="POST" layout="column">
  <div layout="row" layout-align="center">
    <md-progress-circular ng-show="$ctrl.loading" md-mode="indeterminate"></md-progress-circular>
    <h4 ng-if="!$ctrl.loading">{{$ctrl.configuration.name}} Query</h4>
  </div>
  <div ng-if="!$ctrl.loading">
    <div>
      <div layout="column" layout-padding>
        <h3 class="md-subhead bold" flex>
          Genus
        </h3>
        <md-input-container md-no-float flex>
          <input ng-model="$ctrl.params.genus" type="text" />
        </md-input-container>
      </div>

      <div layout="column" layout-padding>
        <h3 class="md-subhead bold" flex>
          Specific Epithet (species)
        </h3>
        <md-input-container md-no-float flex>
          <input ng-model="$ctrl.params.specificEpithet" type="text" />
        </md-input-container>
      </div>

      <!--AMPHIBIAN DISEASE TEAM'S QUERY-->
      <div ng-if="$ctrl.configuration.id === 45">
        <amphibian-disease
          configuration="$ctrl.configuration"
          params="$ctrl.params"
        ></amphibian-disease>
      </div>

      <div layout="column" layout-wrap layout-padding>
        <a
          href=""
          ng-class="{'active': $ctrl.drawing}"
          ng-show="!$ctrl.params.bounds"
          ng-click="$ctrl.drawBounds()"
          ><u>Draw Bounding Box</u></a
        >
        <div layout="row" layout-align="space-between center" ng-show="$ctrl.params.bounds">
          <div layout="column">
            <div>
              <span class="small bold">northEast:</span>
              <span class="small">
                [{{ $ctrl.params.bounds.northEast.lat | number: 2 }}, {{
                $ctrl.params.bounds.northEast.lng | number: 2 }}]</span
              >
            </div>
            <div>
              <span class="small bold">southWest:</span>
              <span class="small">
                [{{ $ctrl.params.bounds.southWest.lat | number: 2 }}, {{
                $ctrl.params.bounds.southWest.lng | number: 2 }}]</span
              >
            </div>
          </div>
          <a href="" class="text-danger" ng-click="$ctrl.clearBounds()">Clear Bounding Box</a>
        </div>
      </div>
    </div>

    <div class="search-row" layout="row" layout-align="end center">
      <md-button type="submit" ng-click="$ctrl.queryJson()" class="md-raised md-primary">
        <span class="fa fa-search"></span> Search
      </md-button>
    </div>
  </div>

  <div flex></div>
  <div class="data-policy" layout="column" layout-align="center center">
    <md-divider></md-divider>
    <i>Data is subject to our <a ui-sref="about({'#':'dataPolicy'})"> Data Usage Policy</a>.</i>
  </div>
</form>
