<div class="mt-4 ps-4">
    <div class="form-check master-conf">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="masterConfig">
            Master Configuration?
        </label>
        <p class="form-text text-muted">
            Master Configurations are for subscribing teams only. This enables team
            collaboration and multiple projects to be created using the same
            configuration.
            See <a href="/about#subscriptions" class="text-decoration-none">our about
                page</a> for more information.
        </p>
    </div>
</div>