<div class="row bottom-form-section">
    <div class="col-lg-8">
        <form [formGroup]="fastqMetadataForm">
            <div class="form-container FASTQ d-flex flex-column gap-3">
                <div>
                    <app-upload [sectionData]="{ label: 'FASTQ Filenames', mainClass: 'p-2', singleInput: true }" (onFileChange)="fileChanged($event)"/>
                    @if(form['file'].touched && form['file'].invalid){
                        <div class="d-flex" style="padding-left: 3rem;">
                            <span class="d-flex col-3"></span>
                            <span class="d-flex warn-text f-12 mt-1 col-9">File is required.</span>
                        </div>
                    }
                    @else{
                        <div class="d-flex" style="padding-left: 3rem;">
                            <span class="d-flex col-3"></span>
                            <span class="d-block text-secondary f-12 mt-1 col-9">Upload your list of fastq filenames (1 per line) here</span>
                        </div>
                    }
                </div>
                <div class="input-section">
                    <label class="input-label fastq-label">Library Layout</label>
                    <div class="btn-group-custom">
                        <div class="d-flex">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="single" id="singleEnd" formControlName="libraryLayout">
                                <label class="form-check-label" for="singleEnd">Single End</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="paired" id="pairedEnd" formControlName="libraryLayout">
                                <label class="form-check-label" for="pairedEnd">Paired End</label>
                            </div>
                        </div>
                        @if(form['libraryLayout'].touched && form['libraryLayout'].invalid){
                            <span class="d-block warn-text f-12 mt-1">LibraryLayout is required.</span>
                        }
                    </div>
                </div>
                <div class="input-section">
                    <label class="input-label fastq-label">Library Strategy</label>
                    <div class="input-med-sec">
                        <select class="form-select" formControlName="libraryStrategy">
                            <option value="" selected>-- Select a Library Strategy --</option>
                            @for(item of fastq?.libraryStrategies || []; track item){
                                <option [value]="item.value">{{item.value}}</option>
                            }
                        </select>
                        @if(form['libraryStrategy'].touched && form['libraryStrategy'].invalid){
                            <span class="d-block warn-text f-12 mt-1">LibraryStrategy is required.</span>
                        }
                        @else{
                            <span class="d-block text-secondary f-12 mt-1">For instance if uploading using RADSeq data this is likely to be “WGS”</span>
                        }
                    </div>
                    <button class="info-btn"><i class="fa-solid fa-circle-question"></i></button>
                </div>
                <div class="input-section">
                    <label class="input-label fastq-label">Library Source</label>
                    <div class="input-med-sec">
                        <select class="form-select" formControlName="librarySource">
                            <option value="" selected>-- Select a Library Source --</option>
                            @for(item of fastq?.librarySources || []; track item){
                                <option [value]="item.value">{{item.value}}</option>
                            }
                        </select>
                        @if(form['librarySource'].touched && form['librarySource'].invalid){
                            <span class="d-block warn-text f-12 mt-1">Library Source is required.</span>
                        }
                    </div>
                    <button class="info-btn"><i class="fa-solid fa-circle-question"></i></button>
                </div>
                <div class="input-section">
                    <label class="input-label fastq-label">Library Selection</label>
                    <div class="input-med-sec">
                        <select class="form-select" formControlName="librarySelection">
                            <option value="" selected>-- Select a Library Selection --</option>
                            @for(item of fastq?.librarySelections || []; track item){
                                <option [value]="item.value">{{item.value}}</option>
                            }
                        </select>
                        @if(form['librarySelection'].touched && form['librarySelection'].invalid){
                            <span class="d-block warn-text f-12 mt-1">Library Selection is required.</span>
                        }
                        @else{
                            <span class="d-block text-secondary f-12 mt-1">For instance if uploading using RADSeq data this is likely to be “Reduced Representation”</span>
                        }
                    </div>
                    <button class="info-btn"><i class="fa-solid fa-circle-question"></i></button>
                </div>
                <div class="input-section">
                    <label class="input-label fastq-label">Platform</label>
                    <div class="input-med-sec">
                        <select class="form-select" (change)="onPlatformsChange($event)" formControlName="platform">
                            <option value="" selected>-- Select a Platform --</option>
                            @for(item of fastq?.platforms || []; track item){
                                <option [value]="item.name">{{item.name}}</option>
                            }
                        </select>
                        @if(form['platform'].touched && form['platform'].invalid){
                            <span class="d-block warn-text f-12 mt-1">Platform is required.</span>
                        }
                    </div>
                    <button class="info-btn"><i class="fa-solid fa-circle-question"></i></button>
                </div>

                <div class="input-section">
                    <label class="input-label fastq-label">Instrument Model</label>
                    <div class="input-med-sec">
                        <select class="form-select" formControlName="instrumentModel">
                            <option value="" selected>-- Select a Instrument Model --</option>
                            @for(item of fastq?.models || []; track item){
                                <option [value]="item">{{item}}</option>
                            }
                        </select>
                        @if(form['instrumentModel'].touched && form['instrumentModel'].invalid){
                            <span class="d-block warn-text f-12 mt-1">Instrument Model is required.</span>
                        }
                    </div>
                    <button class="info-btn"><i class="fa-solid fa-circle-question"></i></button>
                </div>

                <div class="input-section">
                    <label class="input-label fastq-label">Protocol citation or website</label>
                    <div class="input-med-sec">
                        <input type="text" class="form-control fastq-control" formControlName="designDescription"/>
                        @if(form['designDescription'].touched && form['designDescription'].invalid){
                            <span class="d-block warn-text f-12 mt-1">Field is required.</span>
                        }
                    </div>
                    <button class="info-btn"><i class="fa-solid fa-circle-question"></i></button>
                </div>


            </div>
        </form>
    </div>
    <div class="col-lg-4">
        <div class="instr-box">
            <h6 class="inst-hed">Instructions:</h6>
            <ul class="intr-list">
                <li>Instructions for loading FASTQ Filenmames to GEOME are contained in the GEOME User Guide
                </li>
                <li>Filenames listed in the FASTQ filenames file must start with the tissueID column value in
                    your Sample metadata file. For example, given a tissueID value of 'sample1': Single End
                    filename values will be sample1.fastq.gz or sample1.fq.gz, and Paired End filenames must
                    have either a (-1 or -2) or (-F or -R) immediately preceding the *.fastq.gz or *.fq.gz
                    names, and valid values will be sample1-1.fq.gz, sample1-2.fq.gz OR sample1-F.fastq.gz,
                    sample1-R.fastq.gz</li>
            </ul>
        </div>
    </div>
</div>