<md-dialog class="list-dialog">
  <md-dialog-content>
    <form layout="column" name="form" novalidate>
      <h4 class="md-title">New Field</h4>

      <md-input-container>
        <label>Field</label>
        <input type="text" name="value" ng-model="$ctrl.field.value" required exclusion-list="$ctrl.existingFields"
          ignore-case="true" md-autofocus />

        <div ng-messages="form.value.$error">
          <div ng-message="exclusionList">A field with this value already exists.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Definition</label>
        <textarea name="definition" ng-model="$ctrl.field.definition" rows="1" />
        </md-input-container>

    <md-input-container>
      <label>Defined By</label>
      <input type="text" name="definedBy" ng-model="$ctrl.field.definedBy" />
    </md-input-container>

    <md-dialog-actions>
      <md-button ng-click="$ctrl.$mdDialog.cancel()" class="md-primary">Cancel</md-button>
      <md-button ng-disabled="form.$invalid" ng-click="$ctrl.$mdDialog.hide($ctrl.field)" class="md-primary">Add</md-button>
    </md-dialog-actions>
    </form>
  </md-dialog-content>
</md-dialog>