<md-table-container id="list-fields-table">
  <table md-table order-by="$ctrl.orderBy" class="table table-condensed">
    <thead fix-head md-head md-order="$ctrl.orderBy">
      <tr md-row>
        <th md-column md-order-by="value">Value</th>
        <th md-column>Defined By</th>
        <th md-column>
          <span>Definition</span>
          <!-- md-button here breaks due to the fix-head directive, so we use a regular button and 
                                            manually add the md-button classes -->
          <button
            ng-click="$ctrl.addField($event)"
            class="md-primary md-button md-ink-ripple add-button"
            ng-show="$ctrl.canEdit"
          >
            <md-icon md-font-icon="fa fa-plus fa-fw"></md-icon>
            Add Field
          </button>
        </th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="f in $ctrl.list.fields |  orderBy: $ctrl.orderBy track by $index">
        <td md-cell>{{f.value}}</td>
        <td md-cell>
          <a
            href="{{f.definedBy}}"
            ng-if="f.definedBy && f.definedBy.startsWith('http')"
            target="_blank"
            >{{f.definedBy}}</a
          >
          <span ng-if="!f.definedBy || !f.definedBy.startsWith('http')">{{f.definedBy}}</span>
        </td>
        <td md-cell>{{f.definition}}</td>
      </tr>
      <tr md-row ng-if="$ctrl.list.fields.length === 0">
        <td md-cell class="text-center" colspan="3">No fields.</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
