<div layout-fill layout="column">
  <h3 class="text-center page-header">{{ $ctrl.currentProject.projectTitle }} Overview</h3>
  <p class="text-center">{{ $ctrl.currentProject.description }}</p>

  <div class="project-details">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Project owner</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">
        {{ $ctrl.currentProject.user.username }} (<a
          href="mailto:{{ $ctrl.currentProject.user.email }}"
          >{{ $ctrl.currentProject.user.email }}</a
        >)
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Shareable URLs</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">
        <span>
          Project Homepage:
          <a href="{{ $ctrl.url }}?projectId={{ $ctrl.currentProject.projectId }}">
            {{ $ctrl.url }}?projectId={{ $ctrl.currentProject.projectId }}</a
          >
        </span>
        <br />
        <span ng-hide="$ctrl.currentProject.limitedAccess">
          Template Generator Direct Link:
          <a href="{{ $ctrl.templateUrl }}?projectId={{ $ctrl.currentProject.projectId }}">
            {{ $ctrl.templateUrl }}?projectId={{ $ctrl.currentProject.projectId }}</a
          >
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Visibility</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">
        <span ng-if="$ctrl.currentProject.public">This is a public project</span>
        <span ng-if="!$ctrl.currentProject.public && !$ctrl.currentProject.discoverable"
          >This is a private project and is not discoverable</span
        >
        <span ng-if="!$ctrl.currentProject.public && $ctrl.currentProject.discoverable"
          >This is a private project but is discoverable</span
        >
      </div>
    </div>

    <div class="row" ng-if="$ctrl.currentProject.principalInvestigator">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Prin. Investigator</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">
        {{ $ctrl.currentProject.principalInvestigator}}<span
          ng-if="$ctrl.currentProject.principalInvestigatorAffiliation"
          >, {{$ctrl.currentProject.principalInvestigatorAffiliation}}</span
        >
      </div>
    </div>

    <div class="row" ng-if="$ctrl.currentProject.projectContact">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Contact</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">
        {{ $ctrl.currentProject.projectContact}}
        <span ng-if="$ctrl.currentProject.projectContactEmail"
          >(
          <a href="mailto:{{ $ctrl.currentProject.projectContactEmail}}"
            >{{ $ctrl.currentProject.projectContactEmail}}</a
          >)
        </span>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.currentProject.publicationGuid">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Publication DOI</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">{{ $ctrl.currentProject.publicationGuid}}</div>
    </div>

    <div class="row" ng-if="$ctrl.currentProject.projectDataGuid">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Project Data GUID</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">{{ $ctrl.currentProject.projectDataGuid}}</div>
    </div>

    <div class="row" ng-if="$ctrl.currentProject.recommendedCitation">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>Citation</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">{{ $ctrl.currentProject.recommendedCitation}}</div>
    </div>
    <div class="row" ng-if="$ctrl.currentProject.license">
      <div class="col-sm-4 col-md-3 col-lg-2"><strong>License</strong></div>
      <div class="col-sm-8 col-md-9 col-lg-10">{{ $ctrl.currentProject.license}}</div>
    </div>

    <div ng-show="$ctrl.currentProject.projectConfiguration.networkApproved">
      <div class="row title">
        <div class="col-sm-4 col-md-3 col-lg-2"><strong>Team workspace</strong></div>

        <div class="col-sm-8 col-md-9 col-lg-10">
          <span class="label label-info" ng-click="$ctrl.viewTeamOverview()">
            {{ $ctrl.currentProject.projectConfiguration.name }} team</span
          >
          <span ng-hide="$ctrl.currentProject.limitedAccess">
            (<a href="mailto:{{ $ctrl.currentProject.projectConfiguration.user.email }}"
              >{{ $ctrl.currentProject.projectConfiguration.user.email }}</a
            >)
          </span>
          <md-button class="md-icon-button help-link md-popover-button">
            <md-popover md-popover-class="fastq-help-filenames" md-direction="right">
              <div ng-include="'overview-config-help.popover.html'"></div>
            </md-popover>
            <md-icon md-font-icon="fa fa-question-circle fa-sm"></md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" class="loading-overlay" ng-show="$ctrl.loading" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <p ng-show="!$ctrl.loading && $ctrl.totalItems === 0" class="text-center">
    There are no expeditions associated with this project
  </p>
  <div layout="row" ng-show="!$ctrl.loading && $ctrl.totalItems" layout-align="center center">
    <md-button
      class="md-primary md-raised project-download-button"
      ng-disabled="$ctrl.currentProject.limitedAccess"
      ng-click="$ctrl.downloadCsv()"
      layout="row"
      layout-align="center center"
    >
      <!-- Download -->
      <span>Project CSV Archive</span>
      <md-icon ng-show="$ctrl.loadingExpedition !== 'project'" md-font-icon="fa fa-download fa-xs">
      </md-icon>
      <md-progress-circular
        ng-show="$ctrl.loadingExpedition === 'project'"
        md-mode="indeterminate"
        md-diameter="18"
        class="md-accent md-hue-3"
      ></md-progress-circular>
    </md-button>
  </div>

  <!-- <table class="table table-hover table-condensed text-center" ng-show="!$ctrl.loading"> -->
  <table
    class="table table-hover table-condensed text-center"
    ng-show="$ctrl.displayResults.length > 0"
  >
    <thead>
      <th class="text-center">Expedition Title</th>
      <th class="text-center" ng-repeat="header in $ctrl.headers">
        {{ $ctrl.humanReadableHeader(header) }}
      </th>
      <th class="text-center">Expedition GUID</th>
      <th></th>
      <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="expedition in $ctrl.displayResults track by expedition.expeditionCode">
        <!--ng-click="$ctrl.results && $ctrl.viewData(expedition.expeditionCode)"-->
        <td>{{ expedition.expeditionTitle }}</td>
        <td ng-repeat="header in $ctrl.headers">{{ expedition[header] }}</td>
        <td>
          <a href="https://n2t.net/{{ expedition.expeditionIdentifier }}"
            >https://n2t.net/{{ expedition.expeditionIdentifier }}</a
          >
        </td>
        <td ng-show="!expedition.expeditionIdentifier"></td>
        <td
          ng-hide="$ctrl.currentProject.limitedAccess"
          ng-click="$ctrl.results && $ctrl.viewData(expedition.expeditionCode)"
        >
          <md-icon ng-show="$ctrl.results" md-font-icon="fa fa-search fa-xs"></md-icon>
        </td>
        <td ng-show="$ctrl.menuOptions(expedition).length === 0"></td>
        <td
          ng-click="$ctrl.results && $ctrl.viewData(expedition.expeditionCode)"
          ng-show="$ctrl.menuOptions(expedition).length > 0"
        >
          <md-menu ng-show="$ctrl.results" class="md-dense" md-position-mode="target-right target">
            <md-button
              aria-label="Open expedition download menu"
              ng-click="$mdMenu.open($event)"
              class="md-primary download-button"
            >
              <!-- Download -->
              <md-icon
                ng-show="$ctrl.loadingExpedition !== expedition.expeditionCode"
                md-font-icon="fa fa-download fa-xs"
              ></md-icon>
              <md-progress-circular
                ng-show="$ctrl.loadingExpedition === expedition.expeditionCode"
                md-mode="indeterminate"
                md-diameter="18"
                class="md-accent md-hue-3"
              >
              </md-progress-circular>
            </md-button>
            <md-menu-content width="2" class="md-dense download-menu-content">
              <md-menu-item
                ng-repeat="opt in $ctrl.menuOptions(expedition) track by expedition.expeditionCode + opt.name"
              >
                <md-button ng-click="opt.fn(expedition.expeditionCode)">{{ opt.name }}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" ng-show="$ctrl.totalItems > 0">
    <ul
      uib-pagination
      total-items="$ctrl.totalItems"
      ng-model="$ctrl.currentPage"
      ng-change="$ctrl.pageChanged()"
      max-size="10"
      force-ellipses="true"
      boundary-link-numbers="true"
      items-per-page="$ctrl.itemsPerPage"
    ></ul>
  </div>
</div>

<!----------------------------
help templates
 ---------------------------->

<script type="text/ng-template" id="overview-config-help.popover.html">
    <div>
  <p>
          This team workspace specifies all validation rules and terms for this project. If you have
          any questions or suggestions, please contact the team owner.
  </p>
    </div>
</script>
