.btn-check:checked + .btn{
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: #063d5e;
    --bs-btn-hover-border-color: #063d5e;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #063d5e;
    --bs-btn-active-border-color: #063d5e;
    --bs-btn-active-color: #fff;
}

.map-sidebar-toggle{
    top: calc(100vh / 2 - 85px);
    z-index: 999;
    &.hidden{
        left: 10px;
    }
}

.map-container{
    transition: all 0.5s;
}