<div class="position-relative">
    <div id="{{mapId}}" class="map-container" style="width: 100%;" [ngStyle]="{ 'height': showExtras ? 'calc(100vh - 140px)' : height }"></div>
    <div class="position-absolute" style="top: 10px; right: 10px; z-index: 999">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="map" autocomplete="off" checked>
            <label class="btn btn-light" for="map" (click)="onViewChange('map')">Map</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="satellite" autocomplete="off">
            <label class="btn btn-light" for="satellite" (click)="onViewChange('sat')">Satellite</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="oceanBase" autocomplete="off">
            <label class="btn btn-light" for="oceanBase" (click)="onViewChange('esri')">Ocean Base</label>
        </div>
    </div>
    @if(showExtras){
        <button #t="ngbTooltip" type="button" class="btn btn-light rounded-0 rounded-end position-absolute map-sidebar-toggle" [class.hidden]="!showSidebar" (click)="toggleSidebar(t)" [placement]="showSidebar ? 'top' : 'end'" [ngbTooltip]="showSidebar ? 'hide sidebar' : 'show sidebar'">
            <i class="fas f-14" [ngClass]="showSidebar ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
        </button>
    }
</div>