<div class="settings">
    <ul class="settings-list">
        <li class="settings-list-item" ng-repeat="expedition in $ctrl.expeditions">
            <div class="row-actions">
                <a href ui-sref="project.expeditions.detail.settings({ id:expedition.expeditionId, expedition:expedition })">
                    <i class="fa fa-pencil fa-fw"></i></a>
                <a href ng-click="$ctrl.exportData($ctrl.currentProject.projectId, expedition)" uib-tooltip="export data"><i class="fa fa-download fa-fw"></i></a>
                <a href="#" ng-click="$ctrl.delete(expedition)"><i class="fa fa-trash text-danger fa-fw"></i></a>
            </div>

            <div class="info">
                <div class="title">{{ expedition.expeditionTitle }}</div>
                <ul class="list-inline metadata">
                    <li><strong>Code:</strong> {{ expedition.expeditionCode}}</li>
                    <li><strong>Owner:</strong> {{ expedition.user.username }}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>