<div class="full-page-header-bottom-border"></div>
<div class="sample-detail">
  <div class="detail-wrapper">
    <p>identifier:
      <span class="h3" style="margin-left: 10px;text-transform: none;">{{$ctrl.bcid}}</span>
    </p>

    <p style="margin-top: 24px; margin-bottom: 5px;" ng-show="$ctrl.bioProjectLink">
      <strong>NCBI BioProject:</strong>
      <a href="{{ $ctrl.bioProjectLink }}" target="_blank">{{$ctrl.bioProjectLink}}</a>
    </p>
    <p ng-show="$ctrl.bioSamplesLink">
      <strong>NCBI BioSamples:</strong>
      <a href="{{$ctrl.bioSamplesLink}}" target="_blank">{{$ctrl.bioSamplesLink}}</a>
    </p>

    <table class="table table-condensed table-striped text-nowrap">
      <thead>
        <tr>
          <th>Term</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in ::$ctrl.sample track by ::key" ng-if="value">
          <td>{{ ::key }}</td>
          <td>{{ ::value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
