<Section class="validate-data">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="valid-hed">Validate Data</h3>
                <p class="valid-hed1"><strong>To upload data users must have an account.</strong>To set up an account send an email with your name, title and affiliation to <a class="valid-link" href="#">geome.database&#64;gmail.com</a> </p>
                <p class="valid-hed2">Data is subject to our <a class="valid-link" href="#">Data Usage Policy.</a></p>
            </div>


            <div class="col-lg-9">
                <div class="container">
                    <div class="form-container">
                        <div class="input-section">
                            <label class="input-label">FASTQ Filenames</label>
                            <input type="file" class="form-control" />
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Layout</label>
                            <div class="btn-group-custom d-flex">
                                <button class="btn btn-outline-primary">Single End</button>
                                <button class="btn btn-outline-primary">Paired End</button>
                            </div>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Strategy</label>
                            <select class="form-select">
                                <option selected>-- Select a Library Strategy --</option>
                            </select>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Source</label>
                            <select class="form-select">
                                <option selected>-- Select a Library Source --</option>
                            </select>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Selection</label>
                            <select class="form-select">
                                <option selected>-- Select a Library Selection --</option>
                            </select>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Platform</label>
                            <select class="form-select">
                                <option selected>-- Select a Platform --</option>
                            </select>
                        </div>
                    </div>
                </div>
            
            
            </div>
        </div>
    </div>
</Section>
