<div layout-fill layout="column">
  <md-content>
    <h2 class="page-header">SRA Submission</h2>

    <div class="information">
      <p>This tool will facilitate the submission of FASTQ data to the SRA database.</p>
    </div>

    <div
      layout="row"
      layout-xs="column"
      layout-sm="column"
      layout-align="center center"
      class="bg-white layout-padding layout-margin md-whiteframe-1dp"
    >
      <form flex name="form" novalidate>
        <md-stepper flex id="create-project-stepper" md-vertical="true" md-prevent-skip="true">
          <md-step md-label="BioProject" md-order="0">
            <md-step-body>
              <p>A BioProject describes the goals of your research.</p>

              <md-input-container flex-gt-sm>
                <label>Expedition</label>
                <md-select
                  name="expedition"
                  ng-model="$ctrl.expedition"
                  required
                  ng-change="$ctrl.handleExpeditionChange()"
                >
                  <md-option ng-repeat="expedition in $ctrl.userExpeditions" ng-value="expedition">
                    {{ expedition.expeditionTitle }}
                  </md-option>
                </md-select>

                <div ng-messages="form.expedition.$error">
                  <div ng-message="required">Expedition is required.</div>
                </div>
              </md-input-container>

              <div ng-show="$ctrl.expedition" layout="column">
                <md-switch
                  ng-model="$ctrl.newBioProject"
                  class="md-primary"
                  aria-label="Create new BioProject?"
                >
                  Create new BioProject?

                  <md-hints>
                    <md-hint>
                      Did you already register a BioProject for this research? (for the submission
                      of the reads to SRA and/or of the genome to GenBank)
                    </md-hint>
                  </md-hints>
                </md-switch>

                <md-input-container flex-gt-sm ng-show="!$ctrl.newBioProject">
                  <label>BioProject Accession</label>
                  <input
                    name="bioProjectAccession"
                    ng-model="$ctrl.bioProjectAccession"
                    required="!$ctrl.newBioProject"
                    placeholder="PRJNA371471"
                  />
                </md-input-container>

                <md-input-container flex-gt-sm ng-show="$ctrl.newBioProject">
                  <label>Title</label>
                  <input
                    name="bioProjectTitle"
                    ng-model="$ctrl.bioProjectTitle"
                    required="$ctrl.newBioProject"
                  />
                </md-input-container>
                <md-input-container flex-gt-sm ng-show="$ctrl.newBioProject">
                  <label>Description</label>
                  <textarea
                    name="description"
                    ng-model="$ctrl.bioProjectDescription"
                    placeholder="What are the study goals and relevance"
                    rows="2"
                    md-select-on-focus
                    required
                  ></textarea>
                </md-input-container>
              </div>
            </md-step-body>
            <md-step-actions>
              <md-button
                class="md-primary md-raised"
                ng-click="$mdStep.$stepper.next()"
                ng-disabled="!$ctrl.expedition || (!$ctrl.newBioProject && form.bioProjectAccession.$invalid) || ($ctrl.newBioProject && (form.bioProjectTitle.$invalid || form.bioProjectDescription.$invalid))"
              >
                Next</md-button
              >
            </md-step-actions>
          </md-step>

          <md-step md-label="BioSample Type" md-order="1">
            <md-step-body>
              <md-radio-group ng-model="$ctrl.bioSampleType" class="md-primary">
                <md-radio-button value="animal"
                  >Model organism or animal sample -
                  <span class="small"
                    >Use for multicellular samples or cell lines derived from common laboratory
                    model organisms, e.g., mouse, rat, Drosophila, worm, fish, frog, or large
                    mammals including zoo and farm animals.</span
                  >
                </md-radio-button>
                <md-radio-button value="invertebrate"
                  >Invertebrate -
                  <span class="small">Use for any invertebrate sample.</span>
                </md-radio-button>
                <md-radio-button value="plant"
                  >Plant -
                  <span class="small">Use for any plant sample or cell line. </span>
                </md-radio-button>
                <md-radio-button value="environmental"
                  >Metagenome or environmental sample -
                  <span class="small"
                    >Use for metagenomic and environmental samples when it is not appropriate or
                    advantageous to use MIxS packages.</span
                  >
                </md-radio-button>
                <md-radio-button value="genome"
                  >Genome, metagenome or marker sequences (MIxS compliant) -
                  <span class="small"
                    >Use for genomes, metagenomes, and marker sequences. These samples include
                    specific attributes that have been defined by the Genome Standards Consortium
                    (GSC) to formally describe and standardize sample metadata for genomes,
                    metagenomes, and marker sequences. The samples are validated for compliance
                    based on the presence of the required core attributes as described in
                    MIxS.</span
                  >
                </md-radio-button>
                <md-radio-button value="virus"
                  >Virus -
                  <span class="small"
                    >Use for all virus samples not directly associated with disease. Viral pathogens
                    should be submitted using the Pathogen: Clinical or host-associated pathogen
                    package.</span
                  >
                </md-radio-button>
                <md-radio-button value="beta-lactamase"
                  >Beta-lactamase -
                  <span class="small"
                    >Use for beta-lactamase gene transformants that have antibiotic resistance
                    data.</span
                  >
                </md-radio-button>
                <md-radio-button value="pathogen"
                  >Pathogen affecting public health -
                  <span class="small"
                    >Use for pathogen samples that are relevant to public health. Required
                    attributes include those considered useful for the rapid analysis and trace back
                    of pathogens.</span
                  >
                </md-radio-button>
                <md-radio-button value="microbe"
                  >Microbe -
                  <span class="small"
                    >Use for bacteria or other unicellular microbes when it is not appropriate or
                    advantageous to use MIxS, Pathogen or Virus packages.</span
                  >
                </md-radio-button>
                <md-radio-button value="human"
                  >Human -
                  <span class="small"
                    >WARNING: Only use for human samples or cell lines that have no privacy
                    concerns. For all studies involving human subjects, it is the submitter's
                    responsibility to ensure that the information supplied protects participant
                    privacy in accordance with all applicable laws, regulations and institutional
                    policies. Make sure to remove any direct personal identifiers from your
                    submission. If there are patient privacy concerns regarding making data fully
                    public, please submit samples and data to NCBI's dbGaP database. dbGaP has
                    controlled access mechanisms and is an appropriate resource for hosting
                    sensitive patient data. For samples isolated from humans use the Pathogen,
                    Microbe or appropriate MIxS package.</span
                  >
                </md-radio-button>
              </md-radio-group>
            </md-step-body>
            <md-step-actions>
              <md-button
                class="md-primary md-raised"
                ng-click="$mdStep.$stepper.next()"
                ng-disabled="!$ctrl.bioSampleType"
              >
                Next</md-button
              >
            </md-step-actions>
          </md-step>
          <md-step md-label="BioSamples" md-order="1">
            <md-step-body> </md-step-body>
          </md-step>
        </md-stepper>
      </form>
    </div>
  </md-content>
</div>
