// .accordion-button:focus{
//     box-shadow: none;
// }

// .accordion-item{
//     margin-bottom: 0.75rem;
//     box-shadow: 5px 2px 12px #a8a8a8;
// }

// @media screen and (max-width: 991px) {
//     img{ max-width: 80%; }
// }

.doc-frame-wrapper {
    width: 100%;
    height: calc(100vh - 95px);
}

.doc-iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}
