<style>
  /* Style for the container */
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr)); /* Create a responsive grid */
    gap: 10px; /* Add some gap between grid items */
    justify-items: center; /* Center the items horizontally */
}

/* Style for the individual image wrappers */
.image-wrapper {
    text-align: center;
}

.image-subtext {
  font-size: 9px;
}
</style>
<div layout="column" layout-margin>
  <div class="help-block" ng-show="!$ctrl.results">
    Click <strong>Search</strong> on sidebar to display browse results
  </div>

  <div ng-show="$ctrl.results">
    <p>Only one photo per {{ $ctrl.entity }} is shown. When quality_score is populated, the photo with the best quality_score is used.</p>
    <md-table-container id="query-table">
      <div class="image-container">
      <div ng-if="$ctrl.entity === 'Sample_Photo'" ng-repeat="(materialSampleID, group) in $ctrl.results.data | groupBy:'materialSampleID'" class="image-wrapper">
            <!-- Display the highest quality photo within each group -->
            <img ng-src="{{ $ctrl.getHighestQualityPhoto(group) }}" alt="Material Sample {{ materialSampleID }}" width="128"
            ng-click="$ctrl.sampleDetailViewByGroup(group)">
            <p class="image-subtext">{{ materialSampleID }} ({{ group.length }})</p>
        </div>
        <div ng-if="$ctrl.entity === 'Event_Photo'" ng-repeat="(eventID, group) in $ctrl.results.data | groupBy:'eventID'" class="image-wrapper">
          <!-- Display the highest quality photo within each group -->
          <img ng-src="{{ $ctrl.getHighestQualityPhoto(group) }}" alt="Event {{ eventID }}" width="128"
          ng-click="$ctrl.eventDetailViewByGroup(group)">
          <p class="image-subtext">{{ eventID }} ({{ group.length }})</p>
      </div>
      </div>      
   </md-table-container>
  </div>
</div>
