<div class="modal-header border-0 py-2 bg-warning justify-content-center">
    <h4 class="modal-title fw-semibold text-light text-center" id="modal-basic-title">Session Timeout!</h4>
</div>
<div class="modal-body p-2 px-4 border-0" id="expedition_modal">
    <p class="m-0 py-3 px-2 text-center">
        You have been signed out due to inactivity. Please login again to continue.
    </p>
</div>
<div class="modal-footer border-0 pt-0">
    <div class="d-flex justify-content-center gap-2">
        <button type="button" class="btn btn-primary" (click)="activeModal.close()">OK</button>
    </div>
</div>