<div>
    <a class="edit-close" href="#"><i ng-click="$ctrl.onClose()" class="fa fa-times"></i></a>
    <div class="row">
        <div class="col-xs-12">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Column</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="New Attribute"
                               ng-model="$ctrl.attribute.column"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Group</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="$ctrl.attribute.group"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Defined By</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="$ctrl.attribute.defined_by"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Data Type</label>
                    <div class="col-xs-9">
                        <select class="form-control" ng-options="type for type in $ctrl.datatypes"
                                ng-model="$ctrl.attribute.datatype"></select>
                    </div>
                </div>

                <div class="form-group" ng-show="$ctrl.dataformatTypes.indexOf($ctrl.attribute.datatype) > -1">
                    <label class="control-label col-xs-3">Data Format</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="$ctrl.attribute.dataformat"
                               placeholder="YYYY-MM-DD hh:mm:sss, YYYY-MM-DD"/>
                        <span class="help-block">
                            This is required for DATE, DATETIME, and TIME datatypes. This is a , separated list of
                            valid input formats.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Definition</label>
                    <div class="col-xs-9">
                        <textarea rows="3" class="form-control" ng-model="$ctrl.attribute.definition"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox col-xs-offset-3 col-xs-9">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.delimited" ng-click="$ctrl.toggleDelimited()"/> Delimited Column?
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-show="$ctrl.delimited">
                    <label class="control-label col-xs-3">Delimiter</label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="$ctrl.attribute.delimited_by"/>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>