<md-table-container id="attributes-table">
    <table md-table md-row-select multiple ng-model="$ctrl.selected" order-by="$ctrl.orderBy" class="table table-condensed">
        <thead fix-head md-head md-order="$ctrl.orderBy">
            <tr md-row>
                <th md-column class="action-row"></th>
                <th md-column md-order-by="column">Column</th>
                <th md-column md-order-by="group">Group</th>
                <th md-column md-order-by="dataType">Data Type</th>
                <th md-column md-order-by="required">Required</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="a" md-select-id="uri" ng-repeat="a in $ctrl.getAvailable() | orderBy: $ctrl.orderBy track by a.uri"
                ng-disabled="$ctrl.requiredUris.includes(a.uri)" ng-if="!a.internal">
                <td md-cell class="action-row" ng-click="$ctrl.editAttribute($event, a)">
                    <md-icon md-font-icon="fa fa-pencil fa-fw"></md-icon>
                </td>
                <td md-cell>{{a.column}}</td>
                <td md-cell>{{a.group || 'Default Group'}}</td>
                <td md-cell>{{a.dataType}}</td>
                <td md-cell>{{$ctrl.requiredUris.includes(a.uri)}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>