<div id="landing-page" layout="column" flex>
  <div class="md-headline">
  </p>  
    <h3>
      Genomic Observatories MetaDatabase (GEOME)
      <md-icon ng-click="$ctrl.playAudio()" md-font-icon="fa fa-volume-up fa-sm"></md-icon>
    </h3>
  </div>

  
  <h4>
    <p style="color:#FF0000";>
      <b>PLEASE NOTE:</b>
      GEOME Services are currently DOWN due to an unexpected server issue at our hosting center. 
      We expect that GEOME services will be available again on May 28th, 2021. 
      More information will be posted here as it becomes available.  This affects the query page, data loading,
      project functions, and all API calls.
      </p>
    </h4>
  
  <p>  
     The Genomic Observatories Meta-Database (GEOME) is a web-based database that captures the who, what, where, and when
     of biological samples and associated genetic sequences.  GEOME helps users with the following goals:
  <ul>
     <li>Ensure the metadata from your biological samples is findable, accessible, interoperable, and reusable</li>
     <li>Improve the quality of your data and comply with global data standards</li>
     <li>Integrate with <a href="https://cran.r-project.org/web/packages/geomedb/index.html" target="_blank">R</a>, ease publication to NCBI's sequence read archive, and work with an associated <a href="https://github.com/biocodellc/biocode-lims/wiki" target="_blank">LIMS</a></li>
  </ul>
  </p>

  <div layout="row" layout-align="center center" flex>
    <div layout="row" flex layout-wrap>
      <md-card layout-align="center center" ng-click="$ctrl.$state.go('about')" flex>
        <img src="img/about7.png" alt="iconabout" />
        <h3>Getting Started</h3>
        <p>Getting started and additional information about GEOME</p>
      </md-card>
      <md-card layout-align="center center" layout-padding ng-click="$ctrl.$state.go('query')" flex>
        <img src="img/search.png" alt="world" />
        <h3>Query</h3>
        <p>Search and download sequence files and associated metadata</p>
      </md-card>
      <md-card
        layout-align="center center"
        layout-padding
        ng-click="$ctrl.$state.go('dashboard')"
        flex
      >
        <img src="img/workbench.png" alt="workbench icon" />
        <h3>Workbench</h3>
        <p>View and manage project specific data</p>
      </md-card>
    </div>
  </div>


  <div>
  <p></p>
  <p>
    <i>
      <a href="https://doi.org/10.1371/journal.pbio.2002925">
        "The Genomic Observatories Metadatabase (GEOME): A new repository for field and sampling
        event metadata associated with genetic samples"</a
      >, John Deck , Michelle R. Gaither, Rodney Ewing, Christopher E. Bird, Neil Davies,
      Christopher Meyer, Cynthia Riginos, Robert J. Toonen, Eric D. Crandall Published: August 3,
      2017 <a href="https://doi.org/10.1371/journal.pbio.2002925">https://doi.org/10.1371/journal.pbio.2002925</a>
    </i>
  </p>
  </div>

  <div layout="row" layout-align="center center">
    <collaboration-label></collaboration-label>
  </div>
</div>
