<div id="landing-page" layout="column" flex>
  <div class="md-headline">
    <h3>
      GEOME: a Field Information Management System
      <md-icon ng-click="$ctrl.playAudio()" md-font-icon="fa fa-volume-up fa-sm"></md-icon>
    </h3>
  </div>

  <p>
    This site is the legacy version of GEOME and is maintained temporarily for reference purposes only. We are actively transitioning to the new GEOME platform and encourage all users to begin using the updated system for current workflows.
  </p>

  <p>
    The legacy site will remain accessible for a limited period to support:
    <ul>
      <li>Reference to prior projects and data</li>
      <li>Completion of critical tasks not yet supported on the new site</li>
      <li>Fallback access in case of issues with the new system</li>
    </ul>
  </p>

  <p>
    Please restrict your use of this legacy site to essential functions that are not yet available on the new platform.
    If you experience a problem on the new site that requires reverting here, contact us at 
    <a href="mailto:geome.help@gmail.com">geome.help@gmail.com</a>.
  </p>


  <div layout="row" layout-align="center center">
    <collaboration-label></collaboration-label>
  </div>
</div>

