<div id="landing-page" layout="column" flex>
  <div class="md-headline">
    <h3>
      Genomic Observatories MetaDatabase (GEOME)
      <md-icon ng-click="$ctrl.playAudio()" md-font-icon="fa fa-volume-up fa-sm"></md-icon>
    </h3>
  </div>
  <p>
     The Genomic Observatories Meta-Database (GEOME) is a web-based database which captures the who, what, where, and when
     of biological samples and associated genetic sequences.  GEOME helps users with the following goals:
  <ul>
     <li>Ensure the metadata from your biological samples is findable, accessible, interoperable, and reusable</li>
     <li>Improve the quality of your data and comply with global data standards</li>
     <li>Integrate with <a href="https://cran.r-project.org/web/packages/geomedb/index.html" target="_blank">R</a>, ease publication to NCBI's sequence read archive, and work with an associated <a href="https://github.com/biocodellc/biocode-lims/wiki">LIMS</a></li>
  </ul>
  </p>

  <div layout="row" layout-align="center center" flex>
    <div layout="row" flex layout-wrap>
      <md-card layout-align="center center" ng-click="$ctrl.$state.go('about')" flex>
        <img src="img/about7.png" alt="iconabout" />
        <h3>Getting Started</h3>
        <p>Getting started and additional information about GEOME</p>
      </md-card>
      <md-card layout-align="center center" layout-padding ng-click="$ctrl.$state.go('query')" flex>
        <img src="img/search.png" alt="world" />
        <h3>Query</h3>
        <p>Search and download sequence files and associated metadata</p>
      </md-card>
      <md-card
        layout-align="center center"
        layout-padding
        ng-click="$ctrl.$state.go('validate')"
        flex
      >
        <img src="img/workbench.png" alt="workbench icon" />
        <h3>Workbench</h3>
        <p>View and manage project specific data</p>
      </md-card>
    </div>
  </div>

  <md-divider></md-divider>

  <div layout="row" layout-align="center center">
    <collaboration-label></collaboration-label>
  </div>
</div>
