<div layout="row" layout-align="center center" class="login-card">
    <md-card flex-xs="100" flex-sm="80" flex-md="70" flex="60" class="md-whiteframe-2dp">
        <md-card-title>
            <md-card-title-text>
                <h4 ng-if="!$ctrl.resetPass" md-colors="{color: 'primary-700'}">Login</h4>
                <h4 ng-if="$ctrl.resetPass" md-colors="{color: 'primary-700'}">Reset Password</h4>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form id="login-form" name="form" role="form" layout="column" novalidate>
                <md-input-container>
                    <label>Username</label>
                    <input name="username" ng-model="$ctrl.credentials.username" required autofocus
                        tabindex="1">
                    <div ng-messages="form.username.$error">
                        <div ng-message="required">Username is required.</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="!$ctrl.resetPass">
                    <label>Password</label>
                    <input name="password" type="password" ng-model="$ctrl.credentials.password"
                        required tabindex="2">
                    <div ng-messages="form.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
            </form>

            <div layout="row" layout-align="center center">
                <md-button class="md-block md-primary md-raised" ng-click="$ctrl.submit()" layout="row"
                    tabindex="3" layout-align="center center" flex="33">
                    <span ng-show="!$ctrl.loading">
                        <span ng-if="!$ctrl.resetPass">Login</span>
                        <span ng-if="$ctrl.resetPass">Reset Password</span>
                    </span>
                    <md-progress-circular ng-show="$ctrl.loading" md-mode="indeterminate"
                        md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
                </md-button>
            </div>
            <div layout="row" layout-align="center center" class="text-center help-link">
                <a href="#" tabindex="4" ng-click="$ctrl.resetPass=!$ctrl.resetPass; $event.preventDefault();">
                    <span ng-if="$ctrl.resetPass">Login?</span>
                    <span ng-if="!$ctrl.resetPass">Forgot Password?</span>
                </a>
            </div>
            <div layout="row" layout-align="center center" class="text-center help-link">
                <span>
                    New to GeOMe?
                    <a ui-sref="register" tabindex="5">Sign up!</a>
                </span>
            </div>
        </md-card-content>
    </md-card>
</div>