<section id="login-container" class="p-3 mt-5 mb-3 container-bg main-content-container">
    <div class="container">
        <div class="w-100 d-flex justify-content-center align-items-center">
            <div style="min-width: 92%;" class="shadow p-4 rounded-2">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <h4 class="text-center primary-text mb-4">Create account</h4>
                    
                    <div class="mb-4">
                        <div class="form-floating mb-1">
                            <input type="text" formControlName="firstName" class="form-control" id="floatingFirstName" placeholder="firstName">
                            <label for="floatingFirstName" class="ps-0 fw-semibold">First Name *</label>
                        </div>
                        @if(form['firstName'].touched && form['firstName'].invalid){
                            <span class="warn-text f-12">{{ form['firstName'].hasError('required') ? 'First Name is required.' : '' }}</span>
                        }
                    </div>
                    <div class="mb-4">
                        <div class="form-floating mb-1">
                            <input type="text" formControlName="lastName" class="form-control" id="floatingLastName" placeholder="lastName">
                            <label for="floatingLastName" class="ps-0 fw-semibold">Last Name *</label>
                        </div>
                        @if(form['lastName'].touched && form['lastName'].invalid){
                            <span class="warn-text f-12">{{ form['lastName'].hasError('required') ? 'Last Name is required.' : '' }}</span>
                        }
                    </div>
                    <div class="mb-4">
                        <div class="form-floating mb-1">
                            <input type="email" formControlName="email" class="form-control" id="floatingEmail" placeholder="email">
                            <label for="floatingEmail" class="ps-0 fw-semibold">Email *</label>
                        </div>
                        @if(form['email'].touched && form['email'].invalid){
                            <span class="warn-text f-12">{{ form['email'].hasError('required') ? 'Email is required.' : 'Please enter a valid email address.' }}</span>
                        }
                    </div>
                    <div class="mb-4">
                        <div class="form-floating">
                            <input type="text" formControlName="institution" class="form-control" id="floatingInstitution" placeholder="institution">
                            <label for="floatingInstitution" class="ps-0 fw-semibold">Institution</label>
                        </div>
                    </div>
                    
                    <div class="mb-4">
                        <div class="form-floating mb-1">
                            <input type="text" formControlName="username" class="form-control" [class.invalid]="isUserNameTaken" id="floatingName" placeholder="username">
                            <label for="floatingName" class="ps-0 fw-semibold">Username *</label>
                        </div>
                        @if(form['username'].touched && (form['username'].invalid || isUserNameTaken)){
                            <span class="warn-text f-12">{{ form['username'].hasError('required') ? 'Username is required.' : 'That username already exists.' }}</span>
                        }
                    </div>
                    <div class="mb-4">
                        <div class="form-floating mb-1">
                            <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword" class="ps-0 fw-semibold">Password *</label>
                        </div>
                        @if(form['password'].touched && form['password'].invalid){
                            <span class="warn-text f-12">{{ form['password'].hasError('required') ? 'Password is required.' : 'Password is not strong enough.' }}</span>
                        }
                        @else{
                            <span class="f-12">Password must contain more than 15 characters OR at least 8 characters including a number and a letter.</span>
                        }
                    </div>
                    <div class="mb-4">
                        <div class="form-floating mb-1">
                            <input type="password" formControlName="verifyPass" class="form-control" id="floatingConfPassword" placeholder="verifyPass">
                            <label for="floatingConfPassword" class="ps-0 fw-semibold">Verify Password *</label>
                        </div>
                        @if(form['verifyPass'].touched &&form['verifyPass'].invalid){
                            <span class="warn-text f-12">{{ form['verifyPass'].hasError('required') ? 'Password verification is required.' : 'Password do not match' }}</span>
                        }
                    </div>

                    <div class="d-flex flex-column align-items-center gap-3">
                        <button type="submit" class="btn btn-primary custom" style="min-width: 200px;" [disabled]="isLoading">
                            @if(!isLoading){ CREATE ACCOUNT }
                            @else{
                                <div class="spinner-border text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                        </button>
                        <p>Already have an account?<span class="primary-text ms-1 cursor-pointer" [routerLink]="['/login']">Login!</span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>