<section id="expedition-container" class="p-3 pt-4 mb-3 container-bg shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="m-0 text-center mb-3">Project Expeditions</h4>
                <p class="mt-2 mb-3 text-center">
                    The following may not represent a comprehensive list of expeditions for this project, which can be
                    found under
                </p>
                <div class="proj-btn-sec">
                    <button class="proj-btn" [routerLink]="['/workbench','project-overview']">
                        <span class="desk-icon"><i class="fa-solid fa-desktop"></i></span>
                        <span class="pro-over"> PROJECT OVERVIEW</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="create-btn-sec">
                    <button type="button" class="btn btn-primary" (click)="openCreateModal()">
                        <span class="exp-icon"><i class="fa-solid fa-plus"></i></span> CREATE EXPEDITION
                    </button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-12">
                @for(item of projectExpeditions; track item){
                    <div class="d-flex flex-wrap p-3 mb-3 shadow cursor-pointer" [routerLink]="[item.expeditionId, 'settings']">
                        <div class="col-12 col-md-6">
                            <h4 class="m-0 mb-3">{{item.expeditionTitle}}</h4>
                            <p class="m-0"><span class="fw-semibold">Code:</span> {{item.expeditionCode}}</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="m-0"><span class="fw-semibold">Identifier:</span> http://n2t.net/{{item.identifier}}</p>
                            <p class="mt-2 mb-0"><span class="fw-semibold">Visibility:</span> {{item.visibility}}</p>
                            <p class="mt-2 mb-0"><span class="fw-semibold">Owner:</span> {{item.user.username}} ({{item.user.email}})</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

