<form role="form" name="$ctrl.uploadForm" class="form-horizontal" novalidate>
    <fims-upload-datatypes class="clearfix" data-types="$ctrl.dataTypes" on-update="$ctrl.handleDatatypes(dataTypes)"
        available-types="$ctrl.availableDataTypes"></fims-upload-datatypes>

    <fims-upload-expedition ng-if="$ctrl.showExpeditions" user-expeditions="$ctrl.userExpeditions" expedition-code="$ctrl.expeditionCode"
        multi-expedition-allowed="$ctrl.multiExpeditionAllowed" on-change="$ctrl.handleExpeditionChange(expeditionCode)">
    </fims-upload-expedition>

    <div class="clearfix">
        <div class="col-sm-8" ng-if="$ctrl.currentUser">
            <div class="checkbox col-xs-offset-3 col-xs-9">
                <label>
                    <input type="checkbox" ng-model="$ctrl.validateOnly" name="validateOnly" />
                    <strong>Only validate data</strong>
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix" ng-repeat="data in $ctrl.worksheetData track by data.worksheet">
        <hr class="separator" />
        <fims-worksheet-data on-change="$ctrl.handleWorksheetDataChange(worksheet, file, reload)" worksheet="data.worksheet"
            file="data.file" can-reload="!$ctrl.validateOnly && !$ctrl.isMultiExpeditionUpload()"></fims-worksheet-data>
        <div class="form-group" ng-if="$ctrl.coordinateWorksheets.includes(data.worksheet) && !$ctrl.verifiedCoordinateWorksheets.includes(data.worksheet)">
            <div class="col-xs-offset-2 has-error">
                <div class="col-xs-8">
                    <label>
                        <span class="control-label">You must verify your sample locations before uploading.
                            Click
                            <a ng-click="$ctrl.verifyCoordinates(data.worksheet)">here</a> to verify.</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group split-form" ng-if="$ctrl.dataTypes.Fasta">
        <fims-fasta-data on-change="$ctrl.handleFastaDataChange(data)" form="$ctrl.uploadForm" config="$ctrl.currentProject.config"
            data="$ctrl.fastaData">
        </fims-fasta-data>
    </div>

    <div class="form-group split-form" ng-if="$ctrl.dataTypes.Fastq">
        <fims-fastq-data on-change="$ctrl.handleFastqDataChange(data)" form="$ctrl.uploadForm" config="$ctrl.currentProject.config"
            data="$ctrl.fastqData">
        </fims-fastq-data>
    </div>

    <div class="col-xs-8">
        <div class="col-xs-12">
            <button ng-click="$ctrl.upload()" class="md-button md-raised md-primary pull-right" ng-disabled="!$ctrl.canValidate || $ctrl.parsing"
                layout="row" layout-align="center center">
                <span ng-if="!$ctrl.parsing && $ctrl.currentUser && !$ctrl.validateOnly">Load</span>
                <span ng-if="!$ctrl.parsing && (!$ctrl.currentUser || $ctrl.validateOnly)">Validate</span>
                <md-progress-circular ng-if="$ctrl.parsing" md-mode="indeterminate" md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
            </button>
        </div>
    </div>
</form>