<div class="col-sm-8">
  <div class="form-group" show-errors ng-if="$ctrl.availableTypes.length > 1">
    <label class="col-xs-3 control-label">Data Type(s)</label>
    <div class="col-xs-9">
      <label class="checkbox-inline" ng-repeat="type in $ctrl.availableTypes track by type.name">
        <input type="checkbox" ng-model="$ctrl.dataTypes[type.name]" name="{{type.name}}" ng-required="type.isRequired || !$ctrl.dataTypeSelected"
          ng-click="$ctrl.handleChange()" /> {{type.name}}
      </label>
      <p class="help-block col-xs-12" style="padding-left:0px;" ng-repeat="type in $ctrl.availableTypes | filter:{help: '!!'} track by type.name"
        ng-show="$ctrl.touched && type.isRequired && !$ctrl.dataTypes[type.name]">
        {{type.help}}
      </p>
    </div>
  </div>
</div>