<form role="form" name="$ctrl.uploadForm" class="form-horizontal" novalidate ng-submit="$ctrl.upload()">
    <fims-upload-datatypes on-update="$ctrl.handleDatatypes(dataTypes)" new-expedition="$ctrl.newExpedition"
        config="$ctrl.currentProject.config">
    </fims-upload-datatypes>


    <fims-upload-expedition user-expeditions="$ctrl.userExpeditions" expedition-code="$ctrl.expeditionCode"
        on-change="$ctrl.handleExpeditionChange(expeditionCode)">
    </fims-upload-expedition>


    <div ng-if="$ctrl.dataTypes.fims">
        <hr class="separator" />
        <fims-metadata ng-show="$ctrl.dataTypes.fims" fims-metadata="$ctrl.fimsMetadata" required="$ctrl.dataTypes.fims"
            on-change="$ctrl.onMetadataChange({ fimsMetadata: fimsMetadata })">
        </fims-metadata>
        <div class="form-group" ng-hide="$ctrl.checkCoordinatesVerified()">
            <div class="col-xs-offset-2 has-error">
                <div class="col-xs-8">
                    <label>
                        <span class="control-label">You must verify your sample locations before uploading. Click
                            <a ng-click="$ctrl.verifyCoordinates()">here</a> to verify.</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group split-form" ng-if="$ctrl.dataTypes.fasta">
        <fims-fasta-data on-change="$ctrl.handleFastaDataChange(data)" form="$ctrl.uploadForm" config="$ctrl.currentProject.config"
            data="$ctrl.fastaData">
        </fims-fasta-data>
    </div>

    <div class="form-group split-form" ng-if="$ctrl.dataTypes.fastq">
        <fims-fastq-data on-change="$ctrl.handleFastqDataChange(data)" form="$ctrl.uploadForm" config="$ctrl.currentProject.config"
            data="$ctrl.fastaData">
        </fims-fastq-data>
    </div>

    <div class="form-group">
        <div class="col-xs-1" ng-class="{'col-xs-offset-7': $ctrl.dataTypes.fasta || $ctrl.dataTypes.fastq, 'col-xs-offset-9': !($ctrl.dataTypes.fasta || $ctrl.dataTypes.fastq)}">
            <button type="submit" class="md-button md-raised md-primary pull-right">Upload</button>
        </div>
    </div>

</form>