<div class="form-group" show-errors
     ng-class="{'has-error': $ctrl.newExpedition && !$ctrl.fims}">
    <label class="col-xs-2 control-label">Data Type(s)</label>
    <div class="col-xs-8">
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="$ctrl.fims"
                   name="fimsData"
                   ng-required="$ctrl.newExpedition || (!$ctrl.fasta && !$ctrl.fastq)"
                   ng-click="$ctrl.datatypesChange()"/>
            Metadata
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="$ctrl.fasta"
                   name="fastaData"
                   ng-required="!$ctrl.fims && !$ctrl.fastq"
                   ng-click="$ctrl.fastq = false; $ctrl.datatypesChange()"/>
            Fasta
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="$ctrl.fastq"
                   name="fastqData"
                   ng-required="!$ctrl.fims && !$ctrl.fasta"
                   ng-click="$ctrl.fasta = false; $ctrl.datatypesChange()"/>
            Fastq
        </label>
        <p class="help-block col-xs-12" style="padding-left:0px;"
           ng-show="$ctrl.newExpedition && !$ctrl.fims">
            Metadata is required if you are creating a new expedition.
        </p>
    </div>
</div>