<div class="col-xs-12">
  <div class="form-group" show-errors ng-if="$ctrl.availableTypes.length > 1">
    <label class="col-xs-2 control-label">Data Type(s)</label>
    <div class="col-xs-10">
      <label class="checkbox-inline" ng-repeat="type in $ctrl.availableTypes track by type.name">
        <input type="checkbox" ng-model="$ctrl.dataTypes[type.name]" name="{{type.name}}" ng-required="type.isRequired($ctrl.dataTypes) || !$ctrl.dataTypeSelected"
          ng-click="$ctrl.handleChange(type.name)" />
          <span ng-if="!type.isWorksheet"><span ng-if="type.name === 'Workbook'">Excel </span>{{type.name}}</span>
          <span ng-if="type.isWorksheet">{{type.name}} CSV</span>
      </label>
      <p class="help-block col-xs-12" style="padding-left:0px;" ng-repeat="type in $ctrl.availableTypes | filter:{help: '!!'} track by type.name"
        ng-show="$ctrl.touched && type.isRequired($ctrl.dataTypes) && !$ctrl.dataTypes[type.name]">
        {{type.help}}
      </p>
    </div>
  </div>
</div>