<div class="form-group" show-errors>
  <label for="expeditionCode" class="col-xs-2 control-label">Expedition Name</label>
  <div class="row col-xs-8">
    <div class="col-xs-8">
      <div class="input-group">
        <select id="expeditionCode" name="expeditionCode" ng-change="$ctrl.onChange({ expeditionCode: $ctrl.expeditionCode })"
          ng-model="$ctrl.expeditionCode" ng-options="e.expeditionCode as e.expeditionTitle for e in $ctrl.userExpeditions | orderBy: 'expeditionTitle'"
          required class="form-control col-xs-6">
          <option value="">-- Select an Expedition --</option>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default">
            <md-tooltip md-direction="top">New expedition</md-tooltip>
            <span class="fa fa-plus" ng-click="$ctrl.onChange({ expeditionCode: 'CREATE' })"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>