<div>


    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar navbar-default">

        <div class="navbar-header">
            <a class="navbar-brand separator" ui-sref="home">Biocode-Fims</a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li uib-dropdown class="dropdown">
                <a href="#" uib-dropdown-toggle>
                    <i class="fa fa-cog fa-md"></i>
                    <i class="fa fa-angle-down"></i></a>
                <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right">
                    <li><a ng-click="$ctrl.apidocs()"><i class="fa fa-code fa-fw"></i> Api Docs</a></li>
                    <li><a href="http://fims.readthedocs.org/en/stable/"><i class="fa fa-question"></i> Help</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li uib-dropdown class="dropdown separator">
                <a href="#" uib-dropdown-toggle>
                    <span ng-show="$ctrl.currentUser"
                          style="padding-right: 5px;">hi, {{ $ctrl.currentUser.username }}!</span>
                    <i class="fa fa-user-circle-o fa-lg"></i> <i class="fa fa-angle-down"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li ng-show="!$ctrl.currentUser">
                        <a ng-click="$ctrl.login()"><i class="fa fa-sign-in fa-fw"></i> Sign In</a>
                    </li>
                    <li ng-show="$ctrl.currentUser">
                        <a ui-sref="profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li ng-show="$ctrl.currentUser" role="separator" class="divider"></li>
                    <li ng-show="$ctrl.currentUser">
                        <a ng-click="$ctrl.onSignout()" ui-sref="home"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
                    </li>
                </ul>
            </li>
        </ul>

        <project-selector
                is-authenticated="!!($ctrl.currentUser)"
                current-project="$ctrl.currentProject"
                on-change="$ctrl.onProjectChange({ project: project })">
        </project-selector>

    </nav>
    <!--<li><a ui-sref="lookup" class='enabled'>ID Lookup</a></li>-->
    <!--<li ng-show="!$ctrl.currentUser"><a href='#' class='disabled'>BCID Creator</a></li>-->
    <!--<li ng-show="$ctrl.currentUser"><a ui-sref="creator" class='enabled'>BCID Creator</a></li>-->

</div>
