<!-- Navbar -->
<md-toolbar layout="row" layout-align="start center" class="md-menu-toolbar" md-whiteframe="1">
  <div hide-gt-sm ng-show="$ctrl.projectView">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleSideNav()">
      <md-icon md-font-icon="fa fa-bars fa-sm"></md-icon>
    </md-button>
  </div>

  <a class="brand" ui-sref="home">
    <img src="img/geome-logo.png" alt="geome-db" />
  </a>

  <md-divider hide-lg hide-md></md-divider>
  <md-menu>
    <md-button
      hide-lg
      hide-md
      aria-label="menu"
      class="md-icon-button md-primary"
      ng-click="$mdMenu.open($event)"
    >
      <md-icon md-menu-origin md-font-icon="fa fa-home fa-md"></md-icon>
      <md-icon md-font-icon="fa fa-angle-down fa-sm"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ui-sref="about">Getting Started</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="query">Query</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="dashboard">Workbench</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <div flex ng-show="!$ctrl.projectView && !$ctrl.showCreateProject"></div>
  <div flex layout="row" layout-align="center">
    <project-selector
      layout="row"
      layout-align="center center"
      ng-show="$ctrl.projectView"
      user-has-project="$ctrl.currentUser && $ctrl.currentUser.userHasProject"
      is-authenticated="!!($ctrl.currentUser)"
      current-project="$ctrl.currentProject"
      on-change="$ctrl.onProjectChange({ project: project })"
      offset="0 12"
      button-class="md-primary"
    >
    </project-selector>
    <div ng-show="$ctrl.showCreateProject" layout="row" layout-align="center">
      <md-button ui-sref="create-project" class="md-primary md-raised">
        Create Project
      </md-button>
    </div>
  </div>

  <md-button hide-sm hide-xs ui-sref="about">Getting Started</md-button>
  <md-button hide-sm hide-xs ui-sref="query">Query</md-button>
  <md-button hide-sm hide-xs ui-sref="dashboard">Workbench</md-button>

  <md-divider></md-divider>

  <md-menu md-position-mode="right bottom" md-offset="0 12">
    <md-button
      aria-label="Open user profile menu"
      class="md-icon-button md-primary"
      ng-click="console.log($mdMenu); $mdMenu.open($event)"
    >
      <span ng-show="$ctrl.currentUser" style="padding-right: 5px;text-transform: none"
        >HI, {{ $ctrl.currentUser.username }}!</span
      >
      <md-icon md-font-icon="fa fa-user-circle-o fa-md"></md-icon>
      <md-icon md-font-icon="fa fa-angle-down fa-sm"></md-icon>
    </md-button>
    <md-menu-content width="4" class="md-menu-bar-menu md-dense">
      <md-menu-item ng-show="!$ctrl.currentUser">
        <md-button ng-click="$ctrl.login()">
          <md-icon md-font-icon="fa fa-sign-in fa-fw"></md-icon>
          Sign In
        </md-button>
      </md-menu-item>
      <md-menu-item ng-show="!$ctrl.currentUser">
        <md-button ui-sref="register">
          <md-icon md-font-icon="fa fa-user fa-fw"></md-icon>
          Create an account
        </md-button>
      </md-menu-item>
      <md-menu-item ng-show="$ctrl.currentUser">
        <md-button ui-sref="profile">
          <md-icon md-font-icon="fa fa-user fa-fw"></md-icon>
          User Profile
        </md-button>
      </md-menu-item>
      <md-menu-item ng-show="$ctrl.currentUser">
        <md-button ui-sref="create-project">
          <md-icon md-font-icon="fa fa-laptop fa-fw"></md-icon>
          Create a new project
        </md-button>
      </md-menu-item>
      <md-menu-divider ng-show="$ctrl.currentUser"></md-menu-divider>
      <md-menu-item ng-show="$ctrl.currentUser">
        <md-button ng-click="$ctrl.onSignout()">
          <md-icon md-font-icon="fa fa-sign-out fa-fw"></md-icon>
          Sign Out
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <md-divider></md-divider>

  <md-menu md-position-mode="right bottom" md-offset="0 12">
    <md-button
      aria-label="Open user profile menu"
      class="md-icon-button md-primary"
      ng-click="$mdMenu.open($event)"
    >
      <md-icon md-font-icon="fa fa-cog fa-md"></md-icon>
      <md-icon md-font-icon="fa fa-angle-down fa-sm"></md-icon>
    </md-button>
    <md-menu-content width="4" class="md-menu-bar-menu md-dense">
      <md-menu-item>
        <md-button ng-href="/docs/helpDocumentation.pdf" target="_blank">
          <md-icon md-font-icon="fa fa-question fa-fw"></md-icon>
          User Help
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button
          ng-href="https://docs.google.com/document/d/1tEFpclCyJ6aLnypmtdfdjLVhiWQ-rYhGqu5eGhq3s5s/edit?usp=sharing"
          target="_blank"
        >
          <md-icon md-font-icon="fa fa-question fa-fw"></md-icon>
          Frequently Asked Questions
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="https://fims.readthedocs.org/en/latest/">
          <md-icon md-font-icon="fa fa-question fa-fw"></md-icon>
          Developer Documentation
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="{{ $ctrl.restRoot }}/apidocs" target="_blank">
          <md-icon md-font-icon="fa fa-code fa-fw"></md-icon>
          Api Docs
        </md-button>
      </md-menu-item>

      <md-menu-divider></md-menu-divider>

      <md-menu-item>
        <md-button ui-sref="contact">
          <md-icon md-font-icon="fa fa-envelope-o fa-fw"></md-icon>
          Contact Us
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-toolbar>

<!-- </div> -->
<!-- </nav> -->
<!--<li><a ui-sref="lookup" class='enabled'>ID Lookup</a></li>-->
<!--<li ng-show="!$ctrl.currentUser"><a href='#' class='disabled'>BCID Creator</a></li>-->
<!--<li ng-show="$ctrl.currentUser"><a ui-sref="creator" class='enabled'>BCID Creator</a></li>-->
