.dashboard {
  .loading-overlay-fixed {
    position: fixed;
  }

  .md-button.md-icon-button {
    width: auto;
    md-icon {
      display: inline-block;
    }
  }

  .sign-in {
    padding: 10px;
  }
}
