.dashboard {
    .loading-overlay-fixed {
        position: fixed;
    }

    projects-table {
        display: inline-block;
        background-color: #fff;
        border: 1px solid hsla(184, 6%, 85%, 1);
        padding: 24px;

        table {
            table-layout: fixed;
            width: 100%;
            overflow: auto;

            .projects-table-header-row {
                th {
                    color: $gray;
                    font-weight: 400;
                    font-size: unset;

                    // white-space: unset;
                    text-align: center;
                }

                th:first-child {
                    width: 65%;
                }
            }

            .projects-table-body {
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

                .body-row {
                    td {
                        border: none;
                        font-size: unset;
                    }
                }

                .title-cell {
                    padding: 8px !important;

                    .title-row {
                        padding-bottom: 2px;
                    }

                    .title {
                        font-weight: 600;
                    }
                }

                .stat-cell {
                    text-align: right;
                    font-weight: bold;
                }
            }
        }

        .label {
            max-width: fit-content;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        margin-bottom: 48px;
    }
}
