@import 'base';
@import 'forms';
@import 'tables';
@import 'header';
@import 'fimsNavigation';
@import 'projectView';
@import 'validation';
@import 'expeditions';
@import 'expedition';

// components
@import 'mdFileUpload';
@import 'projectInfo';
@import 'projectConfigAttributes';
@import 'projectConfigRules';
@import 'projectConfigExpeditionMetadata';
@import 'projectConfigList';
@import 'users';

// views
@import 'query';
@import 'overview';
@import 'record';
@import 'templates';
@import 'photoUpload';
@import 'plateViewer';
@import 'createProject';
@import 'createExpedition';
@import 'login';
@import 'register';
@import 'projectConfig';
