// Brand/project name

.navbar-brand {
  position: relative;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;

  .project-selector {

    .dropdown-toggle {
      font-size: $font-size-large;
    }

    .dropdown-menu {
      max-height: calc(100vh - #{$navbar-height});
      overflow-y: auto;

      .section-title {
        font-weight: 700;
        padding: 3px 20px 0;
      }

      > li > a {
        padding: 7px 20px;
      }

      .fa {
        color: $brand-success;
      }
    }

    .include-public {
      input[type="checkbox"] {
        margin: 5px 0 0;
      }

      label {
        font-weight: 300;
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }

  .separator:after {
    content: '';
    position: absolute;
    background: $gray-light;
    height: 70%;
    top: 12.5%;
    width: 1px;
    right: 1px;

  }
}

.nav {
  .fa {
    padding-right: 3px;
  }
}

.side-nav-divider {
  content: '';
  width: 100%;
  position: absolute;
  height: 3px;
  background: $navbar-default-bg;
  box-shadow: inset 0px 0px 8px 3px hsla(210, 43%, 16%, 0.6);
}

.side-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: $sidenav-width;
  height: 100%;
  margin-top: $navbar-height;
  padding-top: 10px;
  padding-bottom: 60px;
  overflow: auto;

  &:before {
      @extend .side-nav-divider;
      top: 0;
  }

  ul > li > a {
    color: $navbar-default-link-color;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 13px;
    @extend .text-uppercase;

    &.disabled {
      cursor: default;
      pointer-events: auto;

      &:hover,
      &:focus {
        background-color: $navbar-default-bg;
      }
    }

    &:hover,
    &:focus {
      background-color: darken($navbar-default-bg, 5%);
      color: $navbar-default-link-hover-color;
    }

    &:active {
      background-color: $navbar-default-link-active-bg;
      color: $navbar-default-link-active-color;
    }
  }

  .section {
    padding-top: 20px;
    margin-bottom: 30px;

    &:after {
      @extend .side-nav-divider;
      margin-top: 20px;
    }

    .section-title {
      font-size: $font-size-base;
      padding-left: 20px;
      color: hsla(0, 0%, 100%, .35);
    }
  }

}

