md-icon.password-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  font-size: 18px;
  line-height: 18px;
}

.weak-password {
  @extend .password-indicator;
  color: #d9230f;
}
.strong-password {
  @extend .password-indicator;
  color: #468847;
}

.password-input {
  position: relative;
  input {
    padding-right: 30px;
  }
  .fa {
    right: 10px;
    top: 10px;
  }
}