.project-view-white {
  margin: -30px -25px;
  padding: 30px 25px;
  background-color: #fff;
  display: block;
}

.project-view {
  padding: 30px 25px; // when changing this, update.project-view-white

  fims-dashboard,
  fims-validation,
  fims-templates {
    @extend .project-view-white;
  }

}