.project-view-white {
  margin: -12px -25px;
  padding: 12px 25px;
  background-color: #fff;
  display: block;
}

.project-view {
  padding: 12px 25px; // when changing this, update.project-view-white

  ui-view > * {
    flex: 1;
  }

  fims-dashboard,
  fims-validation,
  fims-templates {
    @extend .project-view-white;
  }

  md-card-title {
    padding-top: 4px;
  }
}
