#rules-table {
  max-height: 300px;
  .table {
    margin-bottom: 0;

    .md-cell {
      .list-inline {
        margin-bottom: 0;
      }
    }
  }
}

.rule-dialog {
  min-width: 400px;
  max-width: 650px;
  padding: 16px;
  padding-bottom: 0;

  md-checkbox {
    margin-top: 0;
  }

  .md-title {
    align-self: center;
  }

  fims-md-rule-form {
    overflow-y: auto;
  }

  .metadata {
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    md-input-container {
      margin-bottom: 0;
    }
  }
}
