.project-view-white {
    margin: -12px -25px -60px;
    padding: 12px 25px 60px;
    background-color: #fff;
    display: block;
}

.project-view {
    padding: 12px 25px 60px; // when changing this, update.project-view-white
    overflow: auto;

    ui-view {
        min-height: 100%;

        > * {
            flex: 1;
            overflow: auto;
        }
    }

    fims-project-overview,
    fims-team-overview,
    fims-validation,
    fims-templates {
        @extend .project-view-white;
    }

    md-card-title {
        padding-top: 4px;
    }
}
