// md-menu-content.md-menu-bar-menu.md-dense .md-button span.highlight {
// font-weight: 700;
// }
md-menu-content.project-selector {
  width: 320px;
  max-width: 320px;
  max-height: calc(100vh - 10px) !important;

  &.md-menu-bar-menu.md-dense {
    .md-button {
      span.highlight {
        font-weight: 700;
        float: none;
      }
    }
  }
  .project-selector-projects {
    overflow: auto;
  }

  md-menu-item .md-button span {
    max-width: calc(100% - 24px); // 24px for project selected checkmark
    overflow: hidden;
    text-overflow: ellipsis;
  }

  md-menu-item.project-selector-not-found {
    height: auto;

    a:hover {
      cursor: pointer;
    }
  }
}

.project-selector {
  .md-button.md-icon-button {
    width: auto;
    md-icon {
      display: inline-block;
    }
  }
}

.project-selector-header {
  flex-direction: column;
  .hint {
    font-size: 10px;
  }
}

.project-selector-action {
  margin: 0 4px 0 auto;
}

md-checkbox.include-public {
  @extend .project-selector-action;
}

.include-public {
  padding-left: 8px;
  margin-left: 32px;
  margin-bottom: 0;
  .md-label {
    margin-left: 8px;
    font-size: 10px;
  }
}
