// Query View styles

.md-raised-disabled {
  background-color: rgba(0,0,0,0.30);
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
}

.query-content {
  z-index: 10;
}

.query-bar {
  background-color: rgba(96, 134, 152, 0.6);

  .actions {
    padding: $layout-gutter-width / 4 $layout-gutter-width / 2;

    .md-dense > .md-button {
      // min-height:  26px;
      // line-height: 26px;
      min-width: 70px;

      &.md-raised[disabled] {
        @extend .md-raised-disabled;
      }
    }

  }
}

.sidebar {
  min-width: 500px;
  z-index: 61;

  &-toggle {
    position: relative;

    > .md-button {
      position: absolute;
      top: 50%;
      height: 40px;
      margin-top: -20px;
      margin-left: 0;
      width: 40px;
      min-width: 40px;
      // border-left: 1px solid #fff;
      border-radius: 0 6px 6px 0;
      background-color: #fff;
      z-index: 60;

      &.md-raised:not([disabled]) {
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.26); 
      }
    }
  }
}

.leaflet-control {
  > .md-button {
    min-width: 0px;
    padding: 0 10px;

    &.md-raised[disabled] {
      @extend .md-raised-disabled;
      background-color: rgba(0,0,0,0.60);
    }
  }
}

.query-form {
  section {
    margin-bottom: $layout-gutter-width / 2;

    .md-form-group {
      margin-bottom: 0;
    }

    > a:focus,
    > a:hover {
      text-decoration: none;
    }
  }

  .md-input-container-dense {
    md-input-container {
      margin: 0;
      margin-top: 5px;

      .md-errors-spacer {
        min-height: 0;
      }
    }
  }

  .sequences {
    @extend .md-input-container-dense;
  }

  .dwc-terms {
    @extend .md-input-container-dense;

    .md-form-group > div:first-of-type {
      margin-top: 3px;
    }

    md-input-container.md-input-focused label:not(.md-container-ignore),
    md-input-container.md-input-has-value label:not(.md-container-ignore) {
      bottom: 75%;
    }
  }

  .expeditions {
    md-chips {
      margin-top: 0;
    }
  }

  md-checkbox {
    margin-bottom: 4px;

    .md-label {
      margin-left: 22px;
    }
  }

  .project-selector {
    margin: 10px 0;

    .md-button {
      margin-left: 0;
      padding-left: 0;
      text-transform: none;
      color: grey;
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      border-radius: 35%;
    }
  }
}