// Query View styles

.project-autocomplete-menu,
.project-config-autocomplete-menu {
  min-width: 400px !important;
}

.md-raised-disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.query-content {
  z-index: 10;
  position: relative;

  md-progress-circular {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;
  }
}
.query-help {
  width: 200px;
  margin-left: 11px;

  h4 {
    margin-top: 0;
    text-transform: none;
  }

  md-divider {
    margin-bottom: 8px;
  }
}

.query-bar {
  background-color: rgba(96, 134, 152, 0.6);

  .actions {
    padding: $layout-gutter-width / 4 $layout-gutter-width / 2;

    .md-dense > .md-button {
      min-width: 70px;

      .download-button {
        min-width: 40px;
      }

      &.md-raised[disabled] {
        @extend .md-raised-disabled;
      }
    }
  }
}

$query-form-toggle-width: 40px;

.full-page-query-table {
  padding-left: $query-form-toggle-width;
}

.sidebar {
  min-width: 500px;
  z-index: 61;

  &-toggle {
    position: relative;

    > .md-button {
      position: absolute;
      top: 50%;
      height: 40px;
      margin-top: -20px;
      margin-left: 0;
      width: $query-form-toggle-width;
      min-width: $query-form-toggle-width;
      border-radius: 0 6px 6px 0;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 60;

      &.md-raised:not([disabled]) {
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.26);
      }
    }
  }
}

.leaflet-control {
  > .md-button {
    min-width: 0px;
    padding: 0 10px;

    &.md-raised[disabled] {
      @extend .md-raised-disabled;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.query-form {
  height: 100%;
  > form {
    height: 100%;
  }

  .layout-padding > * {
    padding: 0px;
  }

  h3 {
    margin: 0px;
  }

  md-checkbox {
    margin-bottom: 0px;
  }

  md-input-container {
    margin: 0px;
  }

  .entity-radio {
    padding: 8px 0;
  }

  .sequences {
    md-checkbox {
      margin-top: 4px;
    }
    md-input-container {
      margin-top: 28px;
    }
  }

  .bounding-box {
    .md-subhead {
      margin-bottom: 4px;
    }
    .checkboxes {
      margin-top: 8px;
    }
  }

  md-option {
    font-size: 14px;
    height: 38px;
  }

  md-chips-wrap {
    padding: 0px;
  }

  .filters {
    .filter-button {
      margin-top: 0;
    }

    md-chips {
      md-chips-wrap {
        box-shadow: none;
        margin-bottom: 8px;
      }

      md-chip:first-of-type {
        margin-top: 0;
      }

      md-chip {
        width: 100%;
        height: 28px;
        padding-left: 8px;
        line-height: 28px;
        background-color: inherit;

        md-chip-template > * {
          margin-right: 10px;
        }

        .md-chip-content {
          width: 100%;

          md-input-container {
            margin: 0;

            .md-errors-spacer {
              display: none;
            }
          }

          md-select {
            margin: 0;
          }

          .md-select-value {
            min-width: 0;
          }
        }
      }
    }
  }

  .search-row {
    flex-shrink: 0;
  }

  .data-policy {
    flex-shrink: 0;
    md-divider {
      margin: 16px 0;
    }
  }
}

#query-table {
  border: none;
  tr:last-of-type {
    height: 50px;
  }
}
