// Record View styles

fims-record {
  notice-label {
    margin-left: 24px;
    margin-top: auto;
    margin-bottom: ($line-height-computed / 2);

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.md-tooltip.fix-placement {
  margin-top: 0;
}

.main-details {
  margin: 12px 0;
  margin-top: 0;
  img {
    max-width: 100%;
  }
}

.auxiliary-details {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

  td {
    padding: 0 8px;
    word-break: break-all;
  }

  td.sequence {
    word-break: break-all;
  }
}

.record-detail {
  > h3 {
    margin-top: 8px;
  }

  .truncate {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td > a,
  td > .truncate {
    display: block;
    padding: 3px;
  }
  .table {
    > tbody {
      > tr {
        > td,
        > th {
          border-color: transparent;
        }
        > th {
          width: 1%;
          white-space: nowrap;
          padding-right: 24px;
        }
        > td {
          width: 100%;
          table-layout: fixed;
          display: table;
        }
      }
    }
  }
}

.parent-details,
.child-details {
  margin: 12px 0;
  h4 {
    margin: 0;
    margin-bottom: 12px;
  }
}

.child-details {
  .entity {
    font-weight: 600;
    margin-right: 24px;
  }
}

.horizontal-description-list {
  dl {
    margin-bottom: 2px;
  }
  dt {
    font-weight: 400;
    margin-right: 8px;
  }
  dd {
    margin-right: 24px;
    font-size: 14px;
  }
}
