// Record View styles
.md-tooltip.fix-placement {
  margin-top: 0;
}

.main-details {
  margin: 24px 0;
  img {
    max-width: 100%;
  }
}

.auxiliary-details {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.record-detail {
  .truncate {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td > a,
  td > .truncate {
    display: block;
    padding: 5px;
  }
  .table {
    > tbody {
      > tr {
        > td,
        > th {
          border-color: transparent;
        }
        > th {
          width: 1%;
          white-space: nowrap;
          padding-right: 24px;
        }
        > td {
          width: 100%;
          table-layout: fixed;
          display: table;
        }
      }
    }
  }
}

.parent-details,
.child-details {
  h3 {
    margin-bottom: 32px;
  }
}

.child-details {
  .entity {
    font-weight: 600;
    margin-right: 24px;
  }
  .entity-group {
    margin: 8px 0;
  }
}

.horizontal-description-list {
  dl {
    margin-bottom: 8px;
  }
  dt {
    font-weight: 400;
    margin-right: 8px;
  }
  dd {
    margin-right: 24px;
    font-size: 14px;
  }
}