table.clone {
  + md-table-container {
    border-top: none;

    table tbody tr:first-child td {
      border-top: none;
    }
  }
  thead tr:last-child th {
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  }

  border-left: 1px solid transparent;
}

md-table-container {
  border: 1px rgba(0, 0, 0, 0.12) solid;
}

.md-table {
  margin-bottom: inherit;

  &.table {
    &.md-row-select {
      th.md-column,
      td.md-cell {
        &:nth-child(n + 3):nth-last-child(n + 2) {
          padding: 5px 32px 5px 0;
        }
        &:first-child {
          padding: 0 0 0 16px;
        }
        &:nth-child(2) {
          padding: 0 16px;
        }

        &.md-checkbox-cell + .md-column,
        &.md-checkbox-cell + .md-cell {
          padding: 0 16px 0 8px;
        }
      }

      tbody.md-body {
        > tr.md-row {
          &:not([disabled]):hover,
          &.md-selected {
            background-color: inherit !important;
          }
        }
      }
    }

    &:not(.md-row-select) {
      th.md-column.action-row:first-child,
      td.md-cell.action-row:first-child {
        padding: 0 16px;
      }
    }

    .action-row {
      *:focus {
        outline: none;
      }
    }

    thead.md-head {
      tr.md-row {
        height: auto;
      }
    }

    tfoot.md-foot,
    tbody.md-body {
      > tr.md-row {
        height: auto;
      }
    }

    > thead > tr > th {
      &.md-checkbox-column {
        md-checkbox {
          margin: 0;
        }
      }
    }

    .md-sort-icon {
      min-width: 16px;
      min-height: 16px;
      margin-left: 5px;
    }

    &.table-condensed {
      > tfoot,
      > tbody,
      > thead {
        > tr {
          > td,
          > th {
            padding: 5px 16px;
            md-icon {
              min-width: 14px;
              min-height: 14px;
              width: 14px;
              height: 14px;
              line-height: 14px;
              margin: 0;

              &:not(:first-of-type) {
                margin-left: 5px;
              }
            }
          }
        }
      }

      &:not(.md-row-select) {
        th.md-column,
        td.md-cell {
          &.action-row:first-child {
            padding: 5px 16px;
          }

          &:nth-child(n + 3):nth-last-child(n + 2) {
            padding: 5px 32px 5px 0;
          }
          &:first-child {
            padding: 5px 16px 5px 16px;
          }
          &:nth-child(2) {
            padding: 5px 32px 5px 0;
          }
        }
      }

      .md-checkbox-column,
      .md-checkbox-cell {
        md-checkbox {
          width: 14px;
          height: 14px;
          min-width: 14px;
          min-height: 14px;
          @include checkbox-container('.md-checked', 14px, 14px);
          @extend .layout-row;
          .md-container {
            width: 14px;
            height: 14px;
            .md-icon {
              width: 14px;
              height: 14px;
            }
          }
          margin: 3px 0;
        }
      }

      thead > tr > th {
        .add-button {
          margin: -3px -16px -3px 0;
          min-height: 4px;
          height: 23px;
          line-height: 12px;
          font-size: 12px;
          font-weight: 600;
          float: right;

          md-icon {
            min-width: 12px;
            min-height: 12px;
            width: 12px;
            height: 12px;
            line-height: 12px !important;
            font-size: 12px !important;
            color: inherit;
          }
        }
      }
    }
  }
}

md-table-pagination {
  .label {
    display: block;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: inherit;
    color: inherit;
    border-radius: 0;
  }
}
