.team-overview {
    padding: 0em 2em 0em 2em;

    @media screen and (max-width: $layout-breakpoint-sm) {
        padding: 0px;
    }

    .description {
        padding: 0em 2em 1em 2em;

        // White-out default ng-click behavior
        :focus {
            outline-color: #fff;
        }

        .ellipsis {
            font-weight: 600;
            font-size: large;
        }

        @media screen and (max-width: $layout-breakpoint-sm) {
            .truncate {
                display: block;
                overflow: hidden;
                position: relative;
                line-height: 1.5em;

                /* max-height = line-height (1.5) * lines max number (3) */
                max-height: 4.5em;
            }
        }
    }

    .detail-row {
        padding: 0em 2em 0em 2em;

        .team-details {
            padding: 2em 0em 2em 0em;

            .detail-key {
                font-weight: bold;
            }
        }

        .collaboration {
            padding: 2em 0em 2em 0em;

            .checkbox-container {
                margin-right: 1em;

                md-checkbox {
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    section {
        padding: 0em 2em 0em 2em;
        border: 2px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

        .table {
            table-layout: fixed;

            .project-title, .title-row {
                font-weight: 600;
            }

            th {
                border-bottom: 0px;
                font-weight: 600;
            }

            tbody > tr > td {
                border-top: 0px;
            }
        }
    }
}
