.teams-list {
    section {
        background-color: #fff;
        padding: 24px;
        margin-bottom: 48px;

        md-input-container {
            width: 90%;
        }

        .table {
            table-layout: fixed;
            width: 100%;

            td {
                border: none;
            }

            .name {
                font-weight: 600;
            }

            th {
                color: $gray;
                font-weight: 400;
                border-bottom: 0px;
            }

            tbody {
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }
}
