fims-templates {
    #template-form {
        margin-top: 24px;
    }

    .panel-group .panel {
        margin-bottom: 8px;
    }

    .attribute-definition-container {
        height: 90vh;
        overflow-y: auto;
        padding: 15px;
    }
}
