md-toast {
    &.md-bottom.md-right {
        margin-right: 16px;
    }

    &.success {
        & .md-toast-content {
            background-color: #087f23;
            color: #fff;
        }
    }

    &.error {
        & .md-toast-content {
            background-color: #BA000D;
            color: #fff;
        }
    }

}
