// Profile Change Password
.change-password-form {
  .fa {
    left: 150px;
    bottom: 10px;
  }
}

// Reset Password
.reset-pass-form {
  .fa {
    right: 10px;
    top: 10px;
  }
}

// New User Creation Form
.registration-form {
  .fa {
    right: 10px;
    top: 10px;
  }
}

// All New Passwords
.form-group {
  .fa {
    position: absolute;
  }

  .input {
    position: relative;
  }

  .fa-check {
    color: green;
  }

  .fa-close {
    color: red;
  }
}
