<div layout-fill layout="column">
  <md-content layout-fill>
    <h2 class="page-header">Plate Viewer</h2>

    <div layout="row" layout-fill layout-sm="column" ng-show="$ctrl.loading" layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div layout="row" layout-xs="column" layout-sm="column" layout-align="center center">

      <div flex-gt-md="75" flex-gt-sm="80">
        <div layout-gt-sm="row" ng-if="$ctrl.loading || $ctrl.plates.length > 0" class="md-autocomplete-wrapper">
          <md-autocomplete flex required md-no-cache md-selected-item="$ctrl.plate" md-items="p in $ctrl.plates | filter:$ctrl.searchText"
            md-floating-label="Tissue Plate" md-require-match md-search-text="$ctrl.searchText" md-show-arrow="true"
            md-min-length="0" md-selected-item-change="$ctrl.fetchPlate();" ng-click="$ctrl.clearSearchText()">
            <md-item-template>
              <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{p}}</span>
            </md-item-template>
            <md-hints>
              <md-hint>Choose a plate to view data</md-hint>
            </md-hints>
          </md-autocomplete>
        </div>
        <p ng-if="!$ctrl.loading && $ctrl.plates.length === 0">No Plates found</p>

        <div flex layout="row">
          <span flex></span>
          <div>
	    <p ng-show="!$ctrl.loading && !$ctrl.currentUser">If you'd like to add a plate, please <a href="" ng-click="$ctrl.login()"
		class="md-raised md-primary">sign In</a>
            </p>
            <md-button ng-show="$ctrl.currentUser && !$ctrl.hashedSample" ng-click="$ctrl.newPlate($event)" class="md-raised md-primary">New
              Plate</md-button>
          </div>
          <md-button ng-show="$ctrl.plate" ng-click="$ctrl.viewPlate()" class="md-raised md-primary" layout="row"
            layout-align="center center">
            <span ng-show="!$ctrl.loadingPlate">View Plate</span>
            <md-progress-circular ng-show="$ctrl.loadingPlate" md-mode="indeterminate" md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
          </md-button>
          <span flex></span>
        </div>
      </div>

  </md-content>
</div>
