<md-dialog class="tissue-dialog">
  <md-dialog-content layout="column">
    <table flex class="table table-condensed">
      <tbody>
        <tr ng-repeat="d in $ctrl.tissueData() | orderBy: 'key' track by d.key">
          <th>{{d.key}}:</th>
          <td>
            <span ng-if="d.key !== 'bcid'">{{d.value}}</span>
            <span ng-if="d.key === 'bcid'"
              ><a target="_blank" ui-sref="record({bcid: d.value})">{{d.value}}</a></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <md-dialog-actions> -->
    <!-- <md-button ng-click="$ctrl.$mdDialog().hide()" class="md-primary">Close</md-button> -->
    <!-- </md-dialog-actions> -->
  </md-dialog-content>
</md-dialog>
