<section class="header-container px-2 py-1 container-bg shadow position-relative" style="z-index: 999">
    <div class="d-flex justify-content-between">
        <img src="logo/geome-logo.png" class="header-logo cursor-pointer" height="48px" routerLink="">
        <div class="d-flex align-items-center gap-2 projectsDropdownMenu">
            @if(!['/'].includes(currentRouteUrl)){
                <div ngbDropdown class="d-inline-block p-2">
                    <button id="projectsDropdown" class="btn primary-text text-eclipse" style="max-width: 300px;" ngbDropdownToggle>{{currentProject?.projectTitle || 'CHOOSE A PROJECT'}}</button>
                    <div ngbDropdownMenu class="f-14 pt-0" aria-labelledby="projectsDropdown">
                        <div class="w-100 d-flex justify-content-between mb-2 pb-2 border-bottom" style="padding: 0.75rem;">
                            <span>Switch Project</span>
                            @if(currentUser){
                                <div class="form-check">
                                    <input class="form-check-input" id="projects" type="checkbox" id="projects" [(ngModel)]="includePublicProj" (change)="onProjectPrefChange($event)">
                                    <label class="form-check-label" for="projects">Include Public</label>
                                </div>
                            }
                            @else{
                                <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/login']">SIGN IN</button>
                            }
                        </div>
                        <input type="text" placeholder="Filter Projects" class="form-control mb-2 border-top-0 border-start-0 border-end-0 rounded-0" [(ngModel)]="searchedProject" (ngModelChange)="filterProjectSubject.next('')" style="box-shadow: none;">
                        @for(project of allFilteredProjects; track project){
                            <button ngbDropdownItem (click)="onProjectChange(project)" class="my-1">{{ project.projectTitle }}</button>
                        }
                        @empty{ <span>No Project Found</span> }
                    </div>
                </div>
            }
            @else if(currentUser){
                <button type="button" class="btn btn-primary custom" [routerLink]="['/project/new']">CREATE PROJECT</button>
            }
        </div>
        <ul class="d-flex m-0 pe-2 align-items-center gap-3" style="list-style: none;">
            @if(largeDevice){
                <li class="p-2 f-14 cursor-pointer" routerLink="/about" [routerLinkActive]="'active'">GETTING STARTED</li>
                <li class="p-2 f-14 cursor-pointer" routerLink="/query" [routerLinkActive]="'active'">QUERY</li>
                <li class="p-2 f-14 cursor-pointer" [routerLink]="['/workbench']">WORKBENCH</li>
            }
            @else{
                <li ngbDropdown class="d-inline-block p-2">
                    <div id="homeDropdown" class="primary-text cursor-pointer" ngbDropdownToggle>
                        <i class="fas fa-house-chimney f-25"></i>
                    </div>
                    <div ngbDropdownMenu class="f-14" aria-labelledby="homeDropdown">
                        <button ngbDropdownItem [routerLink]="['/about']">Gettign Started</button>
                        <button ngbDropdownItem routerLink="/query">Query</button>
                        <button ngbDropdownItem [routerLink]="['/workbench']">Workbench</button>
                    </div>
                </li>
            }
            <li ngbDropdown class="d-inline-block p-2">
                <div id="userDropdown" class="primary-text cursor-pointer" ngbDropdownToggle>
                    @if(currentUser && largeDevice){ <span class="fw-semibold me-2">Hi {{currentUser.username}}</span> }
                    <i class="fas fa-user border border-primary rounded-circle p-2 f-20"></i>
                </div>
                <div ngbDropdownMenu class="f-14" aria-labelledby="userDropdown">
                    @if(!currentUser){
                        <button ngbDropdownItem [routerLink]="['/login']"><i class="fas fa-arrow-right-to-bracket me-2"></i> Sign in</button>
                        <button ngbDropdownItem [routerLink]="['/register']"><i class="fas fa-user me-2"></i> Create Account</button>
                    }
                    @else{
                        <button ngbDropdownItem [routerLink]="['/workbench/user/profile']"><i class="fas fa-user me-2"></i> User Profile</button>
                        <button ngbDropdownItem  [routerLink]="['/project/new']"><i class="fas fa-laptop me-2"></i> Create a new project</button>
                        <div style="height: 1px;" class="w-100 border my-2"></div>
                        <button ngbDropdownItem (click)="signoutUser()"><i class="fas fa-arrow-right-from-bracket me-2"></i> Sign Out</button>
                    }
                </div>
            </li>
            <li ngbDropdown class="d-inline-block p-2">
                <div id="settingDropdown" class="primary-text cursor-pointer" ngbDropdownToggle>
                    <i class="fas fa-gear f-25"></i>
                </div>
                <div ngbDropdownMenu class="f-14" aria-labelledby="settingDropdown">
                    <a href="https://docs.google.com/document/d/1j94NWlrcwu85xGaRda98SSTpRFgRg_RcrYG4Qs5CB1w/edit?usp=sharing" target="_blank"><button ngbDropdownItem><i class="fas fa-question me-2"></i> User Guide</button></a>
                    <a href="https://docs.google.com/document/d/1tEFpclCyJ6aLnypmtdfdjLVhiWQ-rYhGqu5eGhq3s5s/edit?usp=sharing" target="_blank"><button ngbDropdownItem> <i class="fas fa-question me-2"></i> Frequently Asked Questions</button></a>
                    <a href="https://fims.readthedocs.org/en/latest/" target="_blank"><button ngbDropdownItem> <i class="fas fa-question me-2"></i> Technical Documentation</button></a>
                    <a href="https://api.geome-db.org/apidocs" target="_blank"><button ngbDropdownItem> <i class="fas fa-code me-2"></i> Application Programming Interface</button></a>
                    <div style="height: 1px;" class="w-100 border my-2"></div>
                    <button ngbDropdownItem [routerLink]="['/contact']"> <i class="fas fa-envelope me-2"></i> Contact Us</button>
                </div>
            </li>
        </ul>
    </div>
</section>