ul li.cursor-pointer{
    &:hover, &.active{
        background-color: #f0f0f0;
        color: #1360a4;
        border-radius: 5px;
    }
}

::ng-deep .projectsDropdownMenu{
    .dropdown-menu.f-14.show{
        max-width: 330px;
        max-height: 300px;
        overflow-y: auto;
        button{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media screen and (max-width: 991px) {
    .dropdown-toggle::after{ display: none; }
    .header-container ul{ gap: 0.5rem !important; }
}