<div class="modal-header border-0 py-2">
    <h4 class="modal-title" id="modal-basic-title">New Expedition</h4>
</div>
<div class="modal-body p-2 px-4 border-0" id="expedition_modal">
    <form [formGroup]="expeditionForm">
        <div class="mb-3">
            <div class="form-floating mb-1">
                <input type="text" formControlName="expeditionTitle" class="form-control" id="floatingExpeditionTitle"
                    placeholder="Enter Expedition Title">
                <label for="floatingExpeditionTitle" class="ps-0 fw-semibold">Expedition Title *</label>
            </div>
            @if(form['expeditionTitle'].touched && form['expeditionTitle'].invalid){
            <span class="warn-text f-12">{{ form['expeditionTitle'].hasError('required') ? 'Title is required.' : '' }}</span>
            }
        </div>
        <div class="mb-3">
            <div class="form-floating mb-1">
                <input type="text" formControlName="expeditionCode" class="form-control" id="floatingExpeditionCode"
                    placeholder="Enter Expedition Code">
                <label for="floatingExpeditionCode" class="ps-0 fw-semibold">Expedition Code *</label>
            </div>
            @if(form['expeditionCode'].touched && (form['expeditionCode'].invalid || codeExists)){
            <span class="warn-text f-12">
                {{ form['expeditionCode'].hasError('required') ? 'Code is required.' :
                form['expeditionCode'].hasError('pattern') ? 'Expedition Code must contain only numbers, letters, or underscores and be 4 to 50 characters long.' : 'Expedition with that code already exists' }}
            </span>
            }
        </div>
        @for(item of metaDataList; track item){
            <div class="mb-3">
                <div class="mb-1" [class.form-floating]="item.type == 'STRING'" [class.form-group-div]="item.type == 'LIST'">
                    @switch(item.type){
                        @case ('BOOLEAN'){
                            <input id="checkbox-{{item.name}}" type="checkbox" class="form-check-input" [formControlName]="item.name">
                            <label for="checkbox-{{item.name}}" class="form-check-label cursor-pointer" class="ms-2">{{item.name}}</label>
                        }
                        @case ('LIST'){
                            <label [for]="item.name" class="form-group-label">{{item.name}}</label>
                            <select [id]="item.name" [formControlName]="item.name" class="d-block rounded bg-white border border-dark-subtle" style="width: 280px; padding: 8px 12px;">
                                @for(val of item.values; track val){
                                    <option [value]="val">{{val}}</option>
                                }
                            </select>
                        }
                        @default {
                            <input type="text" [formControlName]="item.name" class="form-control" id="floatingDescription_{{item.name}}" placeholder="">
                            <label for="floatingDescription_{{item.name}}" class="ps-0 fw-semibold">{{item.name}} {{ item.required ? '*' : ''}}</label>
                        }
                    }
                </div>
                @if(item.required && form[item.name].touched && (form[item.name].invalid)){
                    <span class="warn-text f-12">
                        {{ form[item.name].hasError('required') ? item.name +' is required.' : '' }}
                    </span>
                }
            </div>
    </form>
</div>
<div class="modal-footer border-0 pt-0">
    <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-primary custom" [disabled]="expeditionForm.invalid" (click)="createNew()"
            [disabled]="isLoading">Create</button>
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
</div>