<form method="POST" name="queryForm" layout="column">

  <section class="projects">
    <a href="#" ng-click="$ctrl.showProjects = !$ctrl.showProjects" class="md-subhead bold">Projects</a>
    <br>
    <div class="md-form-group" ng-show="$ctrl.showProjects" layout="column" layout-margin>
      <md-checkbox ng-click="$ctrl.showGroups = !$ctrl.showGroups;$ctrl.clearParams()" class="projectGroups">Search by
        project family</md-checkbox>

      <div ng-if="$ctrl.showGroups">

        <md-chips ng-model="$ctrl.params.configGroups" md-require-match>
          <md-autocomplete md-selected-item="$ctrl.selectedItem" md-no-cache md-autocomplete-snap="width"
            md-search-text="searchText" md-items="item in $ctrl.filterGroups(searchText)" md-item-text="item"
            md-dropdown-position="bottom" md-min-length="0" placeholder="Configuration Name ...">
            <span md-highlight-text="searchText" md-highlight-flags="i">{{item}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>{{$chip}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
      </div>

      <div ng-if="!$ctrl.showGroups">
        <md-chips ng-model="$ctrl.params.projects" md-require-match>
          <md-autocomplete md-selected-item="$ctrl.selectedItem" md-no-cache md-autocomplete-snap="width"
            md-search-text="searchText" md-items="item in $ctrl.filterProjects(searchText)" md-item-text="item.projectTitle"
            md-dropdown-position="bottom" md-min-length="0" placeholder="Project Name ...">
            <md-autocomplete-template>
              <span md-highlight-text="searchText" md-highlight-flags="i">{{item.projectTitle}}</span>
            </md-autocomplete-template>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong ng-if="$chip.projectTitle.includes($chip.projectCode)">{{$chip.projectTitle}}</strong>
              <strong ng-if="!$chip.projectTitle.includes($chip.projectCode)">{{$chip.projectCode}}::{{$chip.projectTitle}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
      </div>

    </div>
  </section>

  <md-input-container ng-show="$ctrl.currentProject" class="md-icon-float md-icon-right md-block">
    <input type="text" placeholder="Query String..." ng-model="$ctrl.params.queryString" />
    <md-icon md-font-icon="fa fa-question-circle fa-sm" ng-click="$ctrl.helpDocs()">
    </md-icon>
    <md-hints>
      <md-hint class="pull-right">
        <a class="text-upper" href="#" ng-click="$ctrl.moreSearchOptions = !$ctrl.moreSearchOptions">
          More search options</a>
      </md-hint>
    </md-hints>
  </md-input-container>

  <div ng-show="$ctrl.currentProject && $ctrl.moreSearchOptions">

    <section class="expeditions">
      <a href="#" ng-click="$ctrl.showExpeditions = !$ctrl.showExpeditions" class="md-subhead bold">Expeditions</a>
      <div class="md-form-group" ng-show="$ctrl.showExpeditions" layout="column" layout-margin>
        <md-chips ng-model="$ctrl.params.expeditions" md-require-match>
          <md-autocomplete md-selected-item="$ctrl.selectedItem" md-no-cache md-autocomplete-snap="width"
            md-search-text="$ctrl.searchText" md-items="item in $ctrl.filterExpeditions($ctrl.searchText)" md-item-text="item.expeditionTitle"
            md-dropdown-position="bottom" md-min-length="0" placeholder="Expedition Name ...">
            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{item.expeditionTitle}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong ng-if="$chip.expeditionTitle.includes($chip.expeditionCode)">{{$chip.expeditionTitle}}</strong>
              <strong ng-if="!$chip.expeditionTitle.includes($chip.expeditionCode)">{{$chip.expeditionCode}}::{{$chip.expeditionTitle}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
      </div>
    </section>

    <section>
      <a href="#" ng-click="$ctrl.showMap = !$ctrl.showMap" class="md-subhead bold">Map</a>
      <div class="md-form-group" ng-show="$ctrl.showMap" layout="column" layout-margin>
        <div layout="row" layout-wrap>
          <md-checkbox class="small" ng-model="$ctrl.params.isMappable" name="isMappable"> is
            Mappable</md-checkbox>
          <md-checkbox class="small" ng-model="$ctrl.params.hasCoordinateUncertaintyInMeters" name="coordinateUncertaintyInMeters">
            has coordinateUncertaintyInMeters</md-checkbox>
          <md-checkbox class="small" ng-model="$ctrl.params.hasPermitInfo" name="hasPermitInfo">
            has permitInfo</md-checkbox>
        </div>
        <div layout="row">
          <div flex="25">
            <p class="small bold">BoundingBox: </p>
          </div>

          <div flex layout="row" layout-align="center center" ng-show="$ctrl.params.bounds">
            <div flex="66" layout="column">
              <div>
                <span class="small bold">northEast:</span>
                <span class="small"> [{{$ctrl.params.bounds.northEast.lat | number:2 }},
                  {{$ctrl.params.bounds.northEast.lng
                  | number:2 }}]</span>
              </div>
              <div>
                <span class="small bold">southWest:</span>
                <span class="small"> [{{$ctrl.params.bounds.southWest.lat | number:2 }},
                  {{$ctrl.params.bounds.southWest.lng
                  | number:2 }}]</span>
              </div>
            </div>
            <md-button class="md-raised md-warn md-hue-2 md-button-sm" ng-click="$ctrl.clearBounds()">Clear</md-button>
          </div>
          <md-button class="md-raised md-accent md-button-sm" ng-class="{'active': $ctrl.drawing}" ng-show="!$ctrl.params.bounds"
            ng-click="$ctrl.drawBounds()">Draw</md-button>
        </div>
      </div>
    </section>

    <section class="sequences" ng-show="$ctrl.hasFastqEntity || $ctrl.markers">
      <a href="#" ng-click="$ctrl.showSequences = !$ctrl.showSequences" class="md-subhead bold">Sequences</a>
      <div class="md-form-group" ng-show="$ctrl.showSequences" layout="column" layout-margin>
        <div layout="row" ng-show="$ctrl.hasFastqEntity">
          <md-checkbox class="small" ng-model="$ctrl.params.hasSRAAccessions" name="hasSraAccessions">
            has NCBI
            Sequence Read Archive Accession Numbers</md-checkbox>
        </div>
        <div layout="row" ng-show="$ctrl.markers">
          <md-input-container flex="80">
            <label>marker</label>
            <md-select ng-model="$ctrl.params.marker" md-container-class="query-form">
              <md-option ng-value="undefined">-- Clear Selection --</md-option>
              <md-option ng-value="marker.value" ng-repeat="marker in $ctrl.markers track by marker.value">{{marker.value}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </section>

    <section class="dwc-terms">
      <a href="#" ng-click="$ctrl.showDWC = !$ctrl.showDWC" class="md-subhead bold">Darwin Core
        Terms</a>
      <div class="md-form-group" ng-show="$ctrl.showDWC" layout="column" layout-margin>
        <div layout="row">
          <md-input-container flex="50">
            <input ng-model="$ctrl.params.genus" type="text" placeholder="Genus" />
          </md-input-container>
          <md-input-container flex="50">
            <input ng-model="$ctrl.params.specificEpithet" type="text" placeholder="specificEpithet" />
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <input ng-model="$ctrl.params.family" type="text" placeholder="Family" />
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="50">
            <input ng-model="$ctrl.params.country" type="text" placeholder="Country" />
          </md-input-container>
          <md-input-container flex="50">
            <input ng-model="$ctrl.params.locality" type="text" placeholder="Locality" />
          </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
          <span flex="30" class="small">yearCollected</span>
          <md-input-container md-no-float flex="15">
            <input ng-model="$ctrl.params.fromYear" type="text" placeholder="YYYY" />
          </md-input-container>
          <span flex="10" class="small" style="text-align: center;">to</span>
          <md-input-container md-no-float flex="15">
            <input ng-model="$ctrl.params.toYear" type="text" placeholder="YYYY" />
          </md-input-container>
        </div>
      </div>
    </section>

    <section class="filters" layout="column">
      <a href="#" flex="30" ng-click="$ctrl.showFilters = !$ctrl.showFilters" class="md-subhead bold">Column
        Filters</a>
      <div class="md-form-group" ng-show="$ctrl.showFilters" layout="column" layout-margin>
        <md-chips ng-model="$ctrl.params.filters" readonly="true" md-removable="true" md-transform-chip="$ctrl.transformChip($chip)">
          <md-chip-template layout="row">
            <div flex="40" class="filter-select">
              <md-select ng-model="$chip.column" md-container-class="query-form">
                <md-optgroup label="{{group}}" ng-repeat="group in $ctrl.filterOptionsGroups">
                  <md-option ng-value="opt.column" ng-repeat="opt in $ctrl.filterOptions | filter: {group: group} | filter: {group: '!hidden'} track by opt.column">{{opt.column.split('.')[1]}}</md-option>
                  <md-divider></md-divider>
                </md-optgroup>
              </md-select>
            </div>
            <div flex="15" class="filter-select">
              <md-select ng-model="$chip.type" ng-model-options="{trackBy: '$value'}" md-container-class="query-form">
                <md-option ng-value="t" ng-repeat="t in $ctrl.getQueryTypes($chip.column)">{{t}}</md-option>
              </md-select>
            </div>
            <div flex="45">
              <div ng-show="$chip.type !== 'has'">
                <md-input-container ng-show="!$chip.list">
                  <input type="text" ng-model="$chip.value" />
                </md-input-container>

                <md-select ng-model="$chip.value" ng-show="$chip.list" md-container-class="query-form">
                  <md-option>-- Choose value --</md-option>
                  <md-option ng-value="item" ng-repeat="item in $chip.list track by item">{{item}}</md-option>
                </md-select>

                <!-- <md-datepicker ng-show="$chip.dataType === 'date'" ng-model="$chip.value" md-placeholder="Enter date"></md-datepicker> -->
              </div>

            </div>
          </md-chip-template>
        </md-chips>
        <div layout="row" layout-align="center center" class="filter-button">
          <md-button class="md-accent md-raised md-button-sm" ng-show="$ctrl.showFilters" ng-click="$ctrl.addFilter()">
            <span class="fa fa-plus"></span> Add Filter</md-button>
        </div>
      </div>
    </section>

  </div>

  <div class="search-row" layout="row" layout-align="end center">
    <md-button type="submit" ng-click="$ctrl.currentProject ? $ctrl.queryJson() : '';" class="md-raised md-primary">
      <md-tooltip ng-show="!$ctrl.currentProject" md-direction="top">Select a project</md-tooltip>
      <span class="fa fa-search"></span> Search
    </md-button>
  </div>
  <span flex></span>
  <div class="data-policy" layout="column" layout-align="center center">
    <md-divider></md-divider>
    <i>Data is subject to our <a ui-sref="about({'#':'dataPolicy'})"> Data Usage Policy</a>.</i>
  </div>
</form>