<form method="POST" name="queryForm" layout="column">
	<!--TODO: autocomplete and md-select snaps-->
	<!--TODO: filters to take up more space -->
  <md-hints>
    <md-hint class="pull-right">
      <a class="text-upper" href="" ng-click="$ctrl.moreSearchOptions = !$ctrl.moreSearchOptions;$ctrl.showGroups = true;$ctrl.clearParams()">
        <span ng-if="!$ctrl.moreSearchOptions">Switch to Advanced Search</span><span ng-if="$ctrl.moreSearchOptions">Switch
          to Simple Search</span></a>
    </md-hint>
  </md-hints>

  <div class="projects">
    <div ng-show="$ctrl.loading" class="loading-overlay">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-show="$ctrl.moreSearchOptions" class="radio" ng-click="$ctrl.clearParams()">
      <a ng-click="$ctrl.showGroups = !$ctrl.showGroups">
	<!-- what icon would be more informative here? -->
        <span class="fa fa-chevron-up fa-xs" ng-show="!$ctrl.showGroups"> Search by project family</span>
        <span class="fa fa-chevron-down fa-xs" ng-show="$ctrl.showGroups"> Search by individual project</span>
      </a>
    </div>

    <!--TODO: fix format issues when multiple chips are selected-->
    <section class="groups" layout-gt-sm="row" layout-align="center center" layout-padding ng-show="$ctrl.showGroups">
      <a href="#" class="md-subhead bold" flex>Project Family</a>
        <md-content flex="65">
          <md-chips ng-model="$ctrl.groupedProjects" md-on-add="$ctrl.chipChanged($chip)"
            md-on-remove="$ctrl.chipChanged($chip,$event)" md-require-match>
            <md-autocomplete md-selected-item="$ctrl.selectedGroup" md-no-cache md-autocomplete-snap="width"
              md-search-text="searchText" md-items="item in $ctrl.configNames | filter: {$: searchText}" md-item-text="item"
              md-dropdown-position="bottom" md-min-length="0" placeholder="Configuration Name ...">
              <span md-highlight-text="searchText" md-highlight-flags="i">{{item}}</span>
            </md-autocomplete>
            <md-chip-template>
              <span>
                <strong>{{$chip}}</strong>
              </span>
            </md-chip-template>
          </md-chips>
        </md-content>
    </section>
    <section class="individual" layout-gt-sm="row" layout-align="center center" layout-padding ng-show="$ctrl.moreSearchOptions && !$ctrl.showGroups">
      <a href="#" class="md-subhead bold" flex>Individual Projects</a>
      <div flex="65">
        <md-content>
          <md-chips ng-model="$ctrl.individualProjects" md-on-add="$ctrl.chipChanged($chip)"
            md-on-remove="$ctrl.chipChanged($chip,$event)" md-require-match>
            <md-autocomplete md-selected-item="$ctrl.selectedProject" md-no-cache md-autocomplete-snap="width"
              md-search-text="searchText" md-items="item in $ctrl.projects | filter: {projectTitle: searchText}"
              md-item-text="item.projectTitle" md-dropdown-position="bottom" md-min-length="0" placeholder="Project Name ...">
		    <!-- TODO: why is autocomplete-snap not working? -->
              <span md-highlight-text="searchText" md-highlight-flags="i">{{item.projectTitle}}</span>
            </md-autocomplete>
            <md-chip-template>
              <span>
                <strong>{{$chip.projectTitle}}</strong>
              </span>
            </md-chip-template>
          </md-chips>
        </md-content>
      </div>
    </section>
  </div>

  <section class="expeditions" ng-show="$ctrl.moreSearchOptions&&$ctrl.singleProject" layout-gt-sm="row" layout-align="center center"
      layout-padding>
      <a href="#" class="md-subhead bold" flex>Expeditions</a>
        <md-chips ng-model="$ctrl.params.expeditions" md-require-match flex="65">
          <md-autocomplete md-selected-item="$ctrl.selectedExpedition" md-no-cache md-autocomplete-snap="width"
            md-search-text="$ctrl.searchText" md-items="item in $ctrl.expeditions | filter: {projectTitle: searchText}"
            md-item-text="item.expeditionTitle" md-dropdown-position="bottom" md-min-length="0" placeholder="Expedition Name ...">
            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{item.expeditionTitle}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>{{$chip.expeditionTitle}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
  </section>


  <section class="term" layout-gt-sm="row" layout-align="center center" layout-padding>
    <a href="#" class="md-subhead bold" flex>Any Term</a>
      <md-input-container flex="65" class="md-icon-float md-icon-right md-block" layout="row">
        <input type="text" placeholder="Query String..." ng-model="$ctrl.params.queryString" flex="70"/>
	<md-button class="md-icon-button help-link md-popover-button">
                    <md-popover md-popover-class="fastq-help-filenames" md-direction="below">
			    <div>Hi! I'm a popover</div>
                    </md-popover>
                    <md-icon md-font-icon="fa fa-question-circle fa-sm"></md-icon>
        </md-button>
      </md-input-container>
  </section>

  <div class="simple" ng-show="!$ctrl.moreSearchOptions">

    <section layout-gt-sm="row" layout-align="center center" layout-padding>
      <a href="#" class="md-subhead bold" flex>Country</a>
      <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
      <div flex="65">
        <md-input-container>
          <input ng-model="$ctrl.params.country" type="text" placeholder="Country" />
        </md-input-container>
      </div>
    </section>

    <section layout-gt-sm="row" layout-align="center center" layout-padding>
      <a href="#" class="md-subhead bold" flex>Year</a>
      <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
      <div flex="65">
        <div layout="row" layout-align="start center">
          <span flex="30" class="small">yearCollected</span>
          <md-input-container md-no-float flex="15">
            <input ng-model="$ctrl.params.fromYear" type="text" placeholder="YYYY" />
          </md-input-container>
          <span flex="10" class="small" style="text-align: center;">to</span>
          <md-input-container md-no-float flex="15">
            <input ng-model="$ctrl.params.toYear" type="text" placeholder="YYYY" />
          </md-input-container>
        </div>
      </div>
    </section>

    <section layout-gt-sm="row" layout-align="center center" layout-padding>
      <a href="#" class="md-subhead bold" flex>Phylum</a>
      <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
      <div flex="65">
        <md-input-container>
          <input ng-model="$ctrl.params.phylum" type="text" placeholder="Phylum" />
        </md-input-container>
      </div>
    </section>

  </div>
  
  <section layout-gt-sm="row" layout-padding layout-wrap>
    <a href="#" class="md-subhead bold" flex>Map</a>
    <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
    <a href="" ng-class="{'active': $ctrl.drawing}" ng-show="!$ctrl.params.bounds" ng-click="$ctrl.drawBounds()" layout="row" flex="100" layout-align="center"><u>Draw
        Bounding Box</u></a>

    <div flex="100" layout="row" layout-align="center center" ng-show="$ctrl.params.bounds">
      <div flex="66" layout="column">
        <div>
          <span class="small bold">northEast:</span>
          <span class="small"> [{{$ctrl.params.bounds.northEast.lat | number:2 }},
            {{$ctrl.params.bounds.northEast.lng
            | number:2 }}]</span>
        </div>
        <div>
          <span class="small bold">southWest:</span>
          <span class="small"> [{{$ctrl.params.bounds.southWest.lat | number:2 }},
            {{$ctrl.params.bounds.southWest.lng
            | number:2 }}]</span>
        </div>
      </div>
      <a href="" ng-click="$ctrl.clearBounds()">Clear Bounding Box</a>
    </div>
    <div ng-show="$ctrl.moreSearchOptions" layout="row" class="checkboxes">
        <md-checkbox class="small" ng-model="$ctrl.params.isMappable" name="isMappable"> is
          Mappable</md-checkbox>
        <md-checkbox class="small" ng-model="$ctrl.params.hasCoordinateUncertaintyInMeters" name="coordinateUncertaintyInMeters">
          has coordinateUncertaintyInMeters</md-checkbox>
        <md-checkbox class="small" ng-model="$ctrl.params.hasPermitInfo" name="hasPermitInfo">
          has permitInfo</md-checkbox>
    </div>
  </section>

  <div ng-show="$ctrl.moreSearchOptions">

	  <div class="filters">
    <section layout-gt-sm="row" layout-align="center center" layout-padding>
      <a href="#" class="md-subhead bold" flex>Events</a>
      <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
      <div layout="column" layout-margin flex="65">
	<md-chips ng-model="$ctrl.params.events" readonly="true" md-removable="true">
          <md-chip-template layout="row">
            <div flex="40" class="filter-select">
              <md-select ng-model="$chip.column" md-container-class="query-form" class="md-no-underline" aria-label="event">
		<md-optgroup label="Events">
			<md-option ng-value="event.column" ng-repeat="event in $ctrl.events">{{event.column.split('.')[1]}}</md-option>
		</md-optgroup>
              </md-select>
            </div>
            <div flex="15" class="filter-select">
              <md-select ng-model="$chip.type" ng-model-options="{trackBy: '$value'}" md-container-class="query-form" aria-label="event">
                <md-option ng-value="t" ng-repeat="t in $ctrl.getQueryTypes($chip.column)">{{t}}</md-option>
              </md-select>
            </div>
          <div flex="45">
            <div ng-show="$chip.type !== 'has'">
              <md-input-container ng-show="!$chip.list">
                <input type="text" ng-model="$chip.value" aria-label="event"/>
              </md-input-container>
              <md-select ng-model="$chip.value" ng-show="$chip.list" md-container-class="query-form" aria-label="event">
                <md-option>-- Choose value --</md-option>
                <md-option ng-value="item" ng-repeat="item in $chip.list track by item">{{item}}</md-option>
              </md-select>
            </div>
          </div>
          </md-chip-template>
        </md-chips>
        <div class="filter-button">
	  <md-button class="md-accent md-raised md-button-sm" ng-disabled="!$ctrl.projectsChosen" ng-click="$ctrl.addFilter('event')">
          <span class="fa fa-plus"></span> Add Filter</md-button>
        </div>
      </div>
    </section>

    <section layout-gt-sm="row" layout-align="center center" layout-padding>
      <a href="#" class="md-subhead bold" flex>Specimens</a>
      <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
      <div layout="column" layout-margin flex="65">
	<md-chips ng-model="$ctrl.params.specimens" readonly="true" md-removable="true">
          <md-chip-template layout="row">
            <div flex="40" class="filter-select">
              <md-select ng-model="$chip.column" md-container-class="query-form" class="md-no-underline" aria-label="specimen">
		<md-optgroup label="Specimens">
			<md-option ng-value="specimen.column" ng-repeat="specimen in $ctrl.specimens">{{specimen.column.split('.')[1]}}</md-option>
		</md-optgroup>
              </md-select>
            </div>
            <div flex="15" class="filter-select">
              <md-select ng-model="$chip.type" ng-model-options="{trackBy: '$value'}" md-container-class="query-form" aria-label="specimen">
                <md-option ng-value="t" ng-repeat="t in $ctrl.getQueryTypes($chip.column)">{{t}}</md-option>
              </md-select>
            </div>
          <div flex="45">
            <div ng-show="$chip.type !== 'has'">
              <md-input-container ng-show="!$chip.list">
                <input type="text" ng-model="$chip.value" aria-label="specimen"/>
              </md-input-container>
              <md-select ng-model="$chip.value" ng-show="$chip.list" md-container-class="query-form" aria-label="specimen">
                <md-option>-- Choose value --</md-option>
                <md-option ng-value="item" ng-repeat="item in $chip.list track by item">{{item}}</md-option>
              </md-select>
            </div>
          </div>
          </md-chip-template>
        </md-chips>
        <div class="filter-button">
          <md-button class="md-accent md-raised md-button-sm" ng-disabled="!$ctrl.projectsChosen" ng-click="$ctrl.addFilter('specimen')">
            <span class="fa fa-plus"></span> Add Filter</md-button>
        </div>
      </div>
    </section>

    <section layout-gt-sm="row" layout-align="center center" layout-padding>
      <a href="#" class="md-subhead bold" flex>Tissues</a>
      <md-tooltip ng-show="!$ctrl.projectsChosen" md-direction="top">Select a project</md-tooltip>
      <div layout="column" layout-margin flex="65">
	<md-chips ng-model="$ctrl.params.tissues" readonly="true" md-removable="true">
          <md-chip-template layout="row">
            <div flex="40" class="filter-select">
              <md-select ng-model="$chip.column" md-container-class="query-form" class="md-no-underline" aria-label="tissue">
		<md-optgroup label="Tissues">
			<md-option ng-value="tissue.column" ng-repeat="tissue in $ctrl.tissues">{{tissue.column.split('.')[1]}}</md-option>
		</md-optgroup>
              </md-select>
            </div>
            <div flex="15" class="filter-select">
              <md-select ng-model="$chip.type" ng-model-options="{trackBy: '$value'}" md-container-class="query-form" aria-label="tissue">
                <md-option ng-value="t" ng-repeat="t in $ctrl.getQueryTypes($chip.column)">{{t}}</md-option>
              </md-select>
            </div>
          <div flex="45">
            <div ng-show="$chip.type !== 'has'">
              <md-input-container ng-show="!$chip.list">
                <input type="text" ng-model="$chip.value" aria-label="tissue"/>
              </md-input-container>
              <md-select ng-model="$chip.value" ng-show="$chip.list" md-container-class="query-form" aria-label="tissue">
                <md-option>-- Choose value --</md-option>
                <md-option ng-value="item" ng-repeat="item in $chip.list track by item">{{item}}</md-option>
              </md-select>
            </div>
          </div>
          </md-chip-template>
        </md-chips>
        <div class="filter-button">
          <md-button class="md-accent md-raised md-button-sm" ng-disabled="!$ctrl.projectsChosen" ng-click="$ctrl.addFilter('tissue')">
            <span class="fa fa-plus"></span> Add Filter</md-button>
        </div>
      </div>
    </section>
	  </div>


  <section class="sequences" ng-show="$ctrl.hasFastqEntity || $ctrl.markers" layout-gt-sm="row" layout-padding>
    <a href="#" class="md-subhead bold" flex>Sequences</a>
    <div class="md-form-group" layout="column" layout-margin flex="65">
      <div layout="row" ng-show="$ctrl.hasFastqEntity">
        <md-checkbox class="small" ng-model="$ctrl.params.hasSRAAccessions" name="hasSraAccessions">
          has NCBI
          Sequence Read Archive Accession Numbers</md-checkbox>
      </div>
      <div layout="row" ng-show="$ctrl.markers">
        <md-input-container flex="80">
          <label>marker</label>
          <md-select ng-model="$ctrl.params.marker" md-container-class="query-form">
            <md-option ng-value="undefined">-- Clear Selection --</md-option>
            <md-option ng-value="marker.value" ng-repeat="marker in $ctrl.markers track by marker.value">{{marker.value}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </section>

  </div>

  <div class="search-row" layout="row" layout-align="end center">
    <md-button type="submit" ng-click="$ctrl.queryJson()" class="md-raised md-primary">
      <span class="fa fa-search"></span> Search
    </md-button>
  </div>

  <div class="data-policy" layout="column" layout-align="center center">
    <md-divider></md-divider>
    <i>Data is subject to our <a ui-sref="about({'#':'dataPolicy'})"> Data Usage Policy</a>.</i>
  </div>

</form>
