<section id="homepage-container" class="p-3 mt-3 mb-4 main-content-container">
    <div class="container">
        <h3 class="fw-light">GEOME: a Field Information Management System <i class="fas fa-volume-high text-secondary f-18" (click)="playAudio()"></i></h3>
        <div class="base-text-color">
            <p>GEOME, formerly the Genomic Observatories Meta-Database, is a Field Information Management System that captures the who, what, where, and when of biological samples that are collected in the field, and aids in the connection to downstream data including digital sequencing and derived data. GEOME helps users with the following goals:</p>
            <ul>
                <li>Ensure the metadata from your biological samples is findable, accessible, interoperable, and reusable</li>
                <li>Improve the quality of your data and comply with global data standards</li>
                <li>Integrate with <a href="https://cran.r-project.org/web/packages/geomedb/index.html" target="_blank" class="text-decoration-none">R</a>, ease publication to NCBI's sequence read archive, and work with an associated <a href="https://github.com/biocodellc/biocode-lims/wiki" target="_blank" class="text-decoration-none">LIMS</a></li>
            </ul>
        </div>

        <div class="mt-3 d-flex flex-wrap">
            @for(item of homeItems; track item){
                <div class="col-12 col-md-4 p-3">
                    <div class="p-2 d-flex flex-column gap-2 shadow rounded-2 align-items-center h-100 cursor-pointer" [routerLink]="[item.route]">
                        <img [src]="item.img" width="150px" height="150px">
                        <h4>{{item.title}}</h4>
                        <p class="text-center base-text-color">{{item.disc}}</p>
                    </div>
                </div>
            }
        </div>
        <div class="mt-3">
            <p>
                <a href="https://doi.org/10.1371/journal.pbio.2002925" target="_blank" class="text-decoration-none">
                  "The Genomic Observatories Metadatabase (GEOME): A new repository for field and sampling
                  event metadata associated with genetic samples"</a>, John Deck , Michelle R. Gaither, Rodney Ewing, Christopher E. Bird, Neil Davies,
                Christopher Meyer, Cynthia Riginos, Robert J. Toonen, Eric D. Crandall Published: August 3,
                2017 <a href="https://doi.org/10.1371/journal.pbio.2002925" target="_blank" class="text-decoration-none">https://doi.org/10.1371/journal.pbio.2002925</a>
            </p>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-outline-primary" placement="top" ngbTooltip="Collaborate" (click)="openCollabModal(collab_modal)">
                    <i class="fas fa-handshake f-25"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<ng-template #collab_modal let-modal>
	<div class="modal-body p-4 pb-2">
        <h5 class="fw-semibold">Open to Collaborate</h5>
        <p>GEOME is committed to the development of new modes of collaboration, engagement, and partnership with Indigenous peoples for the care and stewardship of past and future heritage collections. See <a href="https://localcontexts.org/notice/open-to-collaborate/" target="_blank" class="text-decoration-none">Local Contexts</a> for more information</p>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary border-0" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>