<div id="validation" class="section">
    <div id="warning"></div>
    <div class="sectioncontent" id="mainpage">

        A Field Information Management System (FIMS) enables data collection at the source (in the field) by
        generating spreadsheet templates, validating data, and assigning persistent identifiers to collected samples.
        The following diagram shows how the system works.  The most typical functions are the <b>Generate Template</b>
        and <b>Validate and Load Data</b> options, both of which can be found under the Tools menu.

        <p><img id='workflowImage' src='docs/Workflow_simple.jpeg'></p>
    </div>
</div>
