<form class="form-horizontal" name="vm.ruleForm">
    <div class="form-group">
        <label class="control-label col-xs-3">Name</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" disabled ng-model="vm.rule.name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Level</label>
        <div class="col-xs-9">
            <select class="form-control" ng-model="vm.rule.level" name="level"
                    ng-options="level for level in vm.config.ruleLevels()"></select>
        </div>
    </div>

    <div class="form-group" ng-repeat="(key, value) in vm.rule.metadata()">
        <rule-metadata key="key" rule="vm.rule" columns="vm.columns" lists="vm.lists"></rule-metadata>
    </div>
</form>