<div class="admin">
    <div class="row">
        <div class="col-xs-12">
            <section class="heading">
                <h3>{{ vm.project.projectTitle }}</h3>
                <p><strong>Description: </strong> {{ vm.project.description }}</p>
            </section>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <section>
                <ul class="nav nav-pills">
                    <li><a href ui-sref=".settings" ui-sref-active="active">Settings</a></li>
                    <li><a href ui-sref=".expeditions" ui-sref-active="active">Expeditions</a></li>
                    <li><a href ui-sref=".members" ui-sref-active="active">Members</a></li>
                    <li><a href ui-sref=".config.entities" ui-sref-active="active">Config</a></li>
                </ul>

                <div class="row">
                    <div ui-view="details" class="col-xs-12"></div>
                </div>

            </section>
        </div>

        <!--<div class="col-xs-3 right-column">-->
        <!--<section>-->
        <!--<div class="list-group">-->
        <!--<a class="list-group-item" href ui-sref="query">-->
        <!--<strong>View Data <i class="fa fa-map-marker fa-fw pull-right"></i></strong>-->
        <!--</a>-->
        <!--<a class="list-group-item" href ui-sref="validate">-->
        <!--<strong>Upload Data <i class="fa fa-upload fa-fw pull-right"></i></strong>-->
        <!--</a>-->
        <!--<a class="list-group-item" href="#" ng-click="vm.export()">-->
        <!--<strong>Export Data <i class="fa fa-download fa-fw pull-right"></i></strong>-->
        <!--</a>-->
        <!--</div>-->
        <!--</section>-->
        <!--</div>-->

    </div>

</div>

