<div class="form-section">
    <form class="form-section-start">
        @if(moreSearchOptions){
            <div class="form-group">
                <label for="entity">Query Entity <i class="fas fa-circle-question ms-2 text-secondary"></i></label>
                <select class="form-control" id="entity" name="queryEntity" [(ngModel)]="entity">
                    @for(entity of queryEntities; track entity){ <option [value]="entity">{{entity}}</option> }
                </select>
            </div>
            <div class="form-group">
                <label for="Team">Team <i class="fas fa-circle-question ms-2 text-secondary"></i></label>
                <select class="form-control" id="Team" (change)="onDropdownChange($event, 'teams')" name="Team" [(ngModel)]="selectedTeam">
                    @for(team of configNames; track team){ <option [value]="team">{{team}}</option> }
                </select>
            </div>
            <div class="form-group">
                <label for="Projects">Individual Projects <i class="fas fa-circle-question ms-2 text-secondary"></i></label>
                <select class="form-control" id="Projects" (change)="onDropdownChange($event, 'individualProj')" name="Projects" [(ngModel)]="selectedIndividualProject">
                    @for(project of allProjects; track project){ <option [value]="project.projectTitle">{{project.projectTitle}}</option> }
                </select>
            </div>
            @if(individualProjects.length == 1 && !loadingExpeditions && expeditions.length > 0){
                <div class="form-group">
                    <label for="expedition">Expeditions</label>
                    <select class="form-control" id="expedition" name="expedition" [(ngModel)]="params.expeditions">
                        @for(exp of expeditions; track exp){ <option [value]="exp">{{exp.expeditionTitle}}</option> }
                    </select>
                </div>
            }
            @else if(individualProjects.length == 1 && loadingExpeditions){
                <div class="m-3">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </div>
            }
            <div class="form-group">
                <label for="exampleFormControlInput1">Any Term <i class="fas fa-circle-question ms-2 text-secondary"></i></label>
                <input type="text" autocomplete="off" class="form-control" id="exampleFormControlInput1" name="anyTerm" placeholder="" [(ngModel)]="params.queryString">
            </div>
        }
        @else{
            <!-- ===================================================== -->
                    <div class="form-group">
                        <label for="MaterialSampleID">MaterialSampleID <i class="fas fa-circle-question ms-2 text-secondary"></i></label>
                        <input type="text" autocomplete="off" class="form-control" id="MaterialSampleID" name="MaterialSampleID" placeholder="" [(ngModel)]="params.materialSampleID">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Country</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="country" [(ngModel)]="params.country">
                            @for(country of countries; track country){ <option [value]="country.value">{{country.value}}</option> }
                        </select>
                    </div>
                    <div class="form-group" style="flex: 1">
                        <label>Year Collected</label>
                        <div class="d-flex align-items-center">
                            <input type="number" class="form-control" id="fromYear" name="fromYear" [(ngModel)]="params.fromYear" placeholder="YYYY" style="flex: 1;">
                            <span class="px-2">to</span>
                            <input type="number" class="form-control" id="toYear" name="toYear" [(ngModel)]="params.toYear" placeholder="YYYY" style="flex: 1;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Phylum</label>
                        <select class="form-control" name="Phylum" id="Phylum" [(ngModel)]="params.phylum">
                            @for(item of phylums; track item){ <option [value]="item.value">{{item.value}}</option> }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Genus">Genus</label>
                        <input type="text" autocomplete="off" class="form-control" id="Genus" name="genus" placeholder="" [(ngModel)]="params.genus">
                    </div>
                    <div class="form-group">
                        <label for="specificEpithet">Specific Epithet (species)</label>
                        <input type="text" autocomplete="off" class="form-control" id="specificEpithet" placeholder="" name="specificEpithet" [(ngModel)]="params.specificEpithet">
                    </div>
        }
<!-- ===================================================== -->

        @if(moreSearchOptions){
            @if(config){
                <div>
                    <ul class="form-btns">
                        @if(entitiesList.includes('Event')){
                            <li><app-filter-button [conceptAlias]="'Event'" [params]="params" [currentConfig]="networkConfig"/></li>
                        }
                        @if(entitiesList.includes('Sample')){
                            <li><app-filter-button [conceptAlias]="'Sample'" [params]="params" [currentConfig]="networkConfig"/></li>
                        }
                        @if(entitiesList.includes('Tissue')){
                            <li><app-filter-button [conceptAlias]="'Tissue'" [params]="params" [currentConfig]="networkConfig"/></li>
                        }
                        @if(entitiesList.includes('Sample_Photo')){
                            <li><app-filter-button [conceptAlias]="'Sample_Photo'" [params]="params" [currentConfig]="networkConfig"/></li>
                        }
                        @if(entitiesList.includes('Event_Photo')){
                            <li><app-filter-button [conceptAlias]="'Event_Photo'" [params]="params" [currentConfig]="networkConfig"/></li>
                        }
                    </ul>
                </div>
            }
    
            <div class="form-group">
                <label for="exampleFormControlInput1">Filter Options</label>
                <app-map-bounding [params]="params"/>
                <ul class="check-list f-14">
                    <li>
                        <input type="checkbox" class="form-check-input" id="mappable" name="mappable" [(ngModel)]="params.isMappable">
                        <label class="form-check-label" for="mappable"> is mappable</label>
                    </li>
                    <li>
                        <input type="checkbox" class="form-check-input" id="coordinateUncertaintyInMeters" name="coordinateUncertaintyInMeters" [(ngModel)]="params.hasCoordinateUncertaintyInMeters">
                        <label class="form-check-label" for="coordinateUncertaintyInMeters"> has coordinateUncertaintyInMeters</label>
                    </li>
                    <li>
                        <input type="checkbox" class="form-check-input" id="hasPermitInfo" name="hasPermitInfo" [(ngModel)]="params.hasPermitInfo">
                        <label class="form-check-label" for="hasPermitInfo"> has permitInfo</label>
                    </li>
                    <li>
                        <input type="checkbox" class="form-check-input" id="hasTissue" name="hasTissue" [(ngModel)]="params.hasTissue">
                        <label class="form-check-label" for="hasTissue"> has tissue</label>
                    </li>
                    <li>
                        <input type="checkbox" class="form-check-input" id="hasSamplePhoto" name="hasSamplePhoto" [(ngModel)]="params.hasSamplePhoto">
                        <label class="form-check-label" for="hasSamplePhoto"> has sample photos</label>
                    </li>
                    <li>
                        <input type="checkbox" class="form-check-input" id="hasEventPhoto" name="hasEventPhoto" [(ngModel)]="params.hasEventPhoto">
                        <label class="form-check-label" for="hasEventPhoto"> has event photos</label>
                    </li>
                </ul>
    
    
            </div>
    
            <div class="form-group">
                <label for="exampleFormControlInput1">Sequences</label>
                <ul class="check-list f-14">
                    <li>
                        <input type="checkbox" class="form-check-input" id="hasFasta" name="hasFasta" [(ngModel)]="params.hasFasta">
                        <label class="form-check-label" for="hasFasta"> has fasta sequence</label>
                    </li>
                    <li>
                        <input type="checkbox" class="form-check-input" id="hasSRAAccessions" name="hasSRAAccessions" [(ngModel)]="params.hasSRAAccessions">
                        <label class="form-check-label" for="hasSRAAccessions"> has NCBI Sequence Read Archive Accession Numbers</label>
                    </li>
                </ul>
            </div>
    
            <div class="form-floating mb-1">
                <select class="form-select" id="floatingSelect_expeditions" aria-label="Expeditions" name="marker" [(ngModel)]="params.marker">
                    <option class="fw-secondary" value="" selected>--Select Marker--</option>
                    @for(marker of markers; track marker){
                        <option [value]="marker.value">{{marker.value}}</option>
                    }
                </select>
                <label for="floatingSelect_expeditions">Expeditons <span>*</span></label>
            </div>
        }

        
        <div class="form-group search-btn-div">
            <button type="button" class="search-btn" (click)="queryJson()"><i class="fa-solid fa-magnifying-glass"></i>SEARCH</button>
        </div>

    </form>
</div>