<ul class="project-selector nav navbar-nav pull-right">
    <li uib-dropdown is-open="$ctrl.isOpen"
        auto-close="outsideClick" class="separator">
        <a href="#" uib-dropdown-toggle>
            <span ng-show="$ctrl.currentProject">{{ $ctrl.currentProject.projectTitle }}</span>
            <span ng-show="!$ctrl.currentProject">Choose a Project</span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right separator">
            <li class="section-title clearfix">Switch Project
                <span class="include-public pull-right" ng-show="$ctrl.isAuthenticated">
                            <label>include public</label>
                            <input type="checkbox" class="pull-right"
                                   ng-change="$ctrl.filterProjects()"
                                   ng-model="$ctrl.includePublicProjects"/>
                        </span>
            </li>
            <li class="divider"></li>
            <li ng-repeat="project in $ctrl.projects track by project.projectId">
                <a href='#' ng-click="$ctrl.change(project)">
                    {{ ::project.projectTitle }} <i ng-show="$ctrl.currentProject.projectId === project.projectId"
                                                    class="fa fa-check fa-after"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>
