<md-menu md-position-mode="left bottom" md-offset="{{ $ctrl.offset }}" class="project-selector">
  <md-button class="md-icon-button {{ $ctrl.buttonClass }}" ng-click="$mdMenu.open($event)">
    <span ng-show="$ctrl.currentProject">{{ $ctrl.currentProject.projectTitle }}</span>
    <span ng-show="!$ctrl.currentProject">Choose a Project</span>
    <md-icon md-font-icon="fa fa-angle-down fa-sm"></md-icon>
  </md-button>
  <md-menu-content width="4" class="md-menu-bar-menu md-dense">
    <md-menu-item>
      <p ng-show="!$ctrl.isAuthenticated" align="center">
        <md-button ng-click="$ctrl.signIn()">Sign In</md-button>to see your projects
      </p>
    </md-menu-item>
    <md-menu-item>
      <span layout="row" layout-align="center center">
        Switch Project
        <md-checkbox class="small include-public" ng-change="$ctrl.filterProjects()" ng-model="$ctrl.includePublicProjects" ng-show="$ctrl.isAuthenticated">
          <!-- <md-tooltip ng-show="$ctrl.isAuthenticated && $ctrl.currentProject.public && $ctrl.includePublicProjects" md-delay="500" -->
          <!-- md-direction="bottom">The current selected project is a public project that you are not a member of. Select a project -->
          <!-- you are a member of to uncheck this</md-tooltip> -->
          include public
        </md-checkbox>
      </span>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item ng-repeat="project in $ctrl.projects track by project.projectId">
      <md-button ng-click="$ctrl.change(project)">
        {{ ::project.projectTitle }}
        <md-icon ng-show="$ctrl.currentProject.projectId === project.projectId" md-font-icon="fa fa-check success fa-fw"></md-icon>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
