<md-menu md-position-mode="left bottom" md-offset="{{ $ctrl.offset }}" class="project-selector">
  <md-button class="md-icon-button {{ $ctrl.buttonClass }}" ng-click="$mdMenu.open($event)">
    <span ng-show="$ctrl.currentProject">{{ $ctrl.currentProject.projectTitle }}</span>
    <span ng-show="!$ctrl.currentProject">Choose a Project</span>
    <md-icon md-font-icon="fa fa-angle-down fa-sm"></md-icon>
  </md-button>
  <md-menu-content width="4" class="md-menu-bar-menu md-dense project-selector" layout="column">
    <md-menu-item class="project-selector-header" flex="noshrink">
      <div layout="row" layout-align="center center">
        <div layout="column">
          Switch Project
          <!-- pointer-events is a workaround for https://github.com/angular/material/issues/6662 -->
          <div
            ng-if="!$ctrl.userHasProject && $ctrl.isAuthenticated"
            class="hint"
            style="pointer-events: auto"
          >
            Showing public projects
            <md-tooltip md-delay="200" md-direction="bottom"
              >You are not a member of any projects</md-tooltip
            >
          </div>
        </div>
        <div class="project-selector-action">
          <!-- pointer-events is a workaround for https://github.com/angular/material/issues/6662 -->
          <md-button
            class="small"
            ng-click="$ctrl.signIn()"
            ng-show="!$ctrl.isAuthenticated"
            align="center"
            style="pointer-events: auto"
            >Sign In
            <md-tooltip md-delay="600" md-direction="bottom"
              >Sign In to see your projects</md-tooltip
            >
          </md-button>
        </div>
        <md-checkbox
          class="small include-public"
          ng-change="$ctrl.filterProjects()"
          ng-model="$ctrl.includePublicProjects"
          ng-show="$ctrl.userHasProject && $ctrl.isAuthenticated"
          style="pointer-events: auto"
        >
          include public
          <md-tooltip md-direction="bottom" ng-if="$ctrl.notMemberOfCurrentProject"
            >You are not a member of the current project. You must change projects before you can
            hide public projects.</md-tooltip
          >
        </md-checkbox>
      </div>
    </md-menu-item>
    <md-menu-divider flex="noshrink"></md-menu-divider>
    <md-menu-item class="project-selector-header" flex="noshrink">
      <md-input-container md-no-float>
        <input
          ng-model="$ctrl.searchText"
          ng-change="$ctrl.searchTextChange($ctrl.searchText)"
          placeholder="Filter Projects"
          md-autofocus
        />
      </md-input-container>
    </md-menu-item>
    <md-menu-divider flex="noshrink"></md-menu-divider>
    <div class="project-selector-projects">
      <md-menu-item ng-repeat="project in $ctrl.filteredProjects track by project.projectId">
        <md-button ng-click="$ctrl.change(project)">
          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="gi">
            {{ project.projectTitle }}</span
          >
          <md-icon
            ng-show="$ctrl.currentProject.projectId === project.projectId"
            md-font-icon="fa fa-check success fa-fw"
          ></md-icon>
        </md-button>
      </md-menu-item>
      <md-menu-item class="project-selector-not-found" ng-if="$ctrl.filteredProjects.length === 0"
        ><span
          >No matching projects were found.
          <span ng-show="$ctrl.isAuthenticated && !$ctrl.includePublicProjects"
            >You may need to include public projects.</span
          >
          <span ng-show="!$ctrl.isAuthenticated"
            >You may need to <a ng-click="$ctrl.signIn()">Sign In</a> to view the project.</span
          ></span
        >
      </md-menu-item>
    </div>
  </md-menu-content>
</md-menu>
