<section class="SRA-sub">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="valid-hed">SRA Submission</h3>
                <p class="valid-hed1">This tool will facilitate the submission of FASTQ data to the SRA database. <strong>This tool is in beta. Please email us at <a class="valid-link" href="#">geome.help&#64;gmail.com </a>if you experience any errors.</strong> </p>
            </div>
        </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-container SRA">
                            <ul class="step-list mt-4">
                                <li class="step-line">
                            <p class="step-active"> <strong>BioProject</strong></p>
                            <p>A BioProject describes the goals of your research.</p>
                            <select id="expedition" class="form-select color-change">
                                <option value="">Expedition <span class="text-danger">*</span></option>
                            </select>
                            <p class="error-text">Expedition is required.</p>
                            <button class="btn bio-next mt-3" disabled>NEXT</button>
                        </li>
                                <li class="step-active">BioProject</li>
                                <li class="step-active">Submission Info</li>
                                <li class="step-active">BioSample Type</li>
                                <li class="step-active">BioSamples</li>
                                <li class="step-active">SRA Metadata</li>
                                <li class="step-active">File Upload</li>
                            </ul>
                        </div>
                    </div>
                </div>
          
    </div>
</section>

