<div class="d-flex align-items-center gap-2 projectsDropdownMenu">
    @if(!['/'].includes(currentRouteUrl)){
        <div ngbDropdown class="d-inline-block p-2">
            <button id="projectsDropdown" class="btn primary-text text-eclipse" style="max-width: 300px;" ngbDropdownToggle>{{currentProject?.projectTitle || 'CHOOSE A PROJECT'}}</button>
            <div ngbDropdownMenu class="f-14 pt-0" aria-labelledby="projectsDropdown">
                <div class="w-100 d-flex justify-content-between align-items-center mb-2 pb-2 border-bottom" style="padding: 0.75rem;">
                    <span>Switch Project</span>
                    @if(currentUser){
                        <div class="form-check">
                            <input class="form-check-input" id="projects" type="checkbox" id="projects" [(ngModel)]="includePublicProj" (change)="onProjectPrefChange($event)">
                            <label class="form-check-label" for="projects">Include Public</label>
                        </div>
                    }
                    @else{
                        <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/login']">SIGN IN</button>
                    }
                </div>
                <div class="p-3 pt-1 mb-2 border-bottom">
                    <input type="text" placeholder="Filter Projects" class="form-control p-0 border-top-0 border-start-0 border-end-0 rounded-0 border-2" [(ngModel)]="searchedProject" (ngModelChange)="filterProjectSubject.next('')" style="box-shadow: none;">
                </div>
                @for(project of allFilteredProjects; track project){
                    <button ngbDropdownItem (click)="onProjectChange(project)" class="my-1">{{ project.projectTitle }}</button>
                }
                @empty{ <span class="d-block px-3 py-2">No Project Found</span> }
            </div>
        </div>
    }
    @else if(currentUser){
        <button type="button" class="btn btn-primary custom" [routerLink]="['/project/new']">CREATE PROJECT</button>
    }
</div>