<div class="settings">
  <form>
    <fieldset>
      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Title</label>
          <input type="text" required class="form-control" ng-model="$ctrl.project.projectTitle" />
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Description</label>
          <textarea
            required
            class="form-control"
            rows="3"
            ng-model="$ctrl.project.description"
          ></textarea>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-3">
          <label>Visibility</label>
          <select
            ng-model="$ctrl.project.public"
            class="form-control"
            required
            ng-options="(item?'public':'private') for item in [true, false]"
          >
          </select>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="checkbox col-xs-9">
          <label>
            <input type="checkbox" ng-model="$ctrl.project.enforceExpeditionAccess" />
            <!-- ng-change="$ctrl.onUpdate({ configuration: $ctrl.config })" /> -->
            Enforce Expedition Access Control?
            <span class="help-block"
              >Enforcing Expedition access will allow only the expedition owner to update the
              expedition. If disabled, any project member will be able to update the expedition
              data.</span
            >
          </label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group clearfix">
        <div class="col-xs-12">
          <md-progress-circular
            md-mode="indeterminate"
            ng-if="$ctrl.loadSave"
          ></md-progress-circular>
          <button
            class="btn btn-primary"
            ng-click="$ctrl.onProjectUpdate({ project: $ctrl.project })"
          >
            Save
          </button>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="panel panel-danger">
    <div class="panel-body vertical-align">
      <div class="col-xs-9">
        <p><strong>Delete this project</strong></p>
        <p class="small">
          <span class="text-danger"
            >Warning! This will delete all expeditions and records associated with this
            project.</span
          >
          Please export your data before deleting this
          <!-- expeditions and records associated with this project.</span> Please <a href -->
          <!-- ng-click="$parent.$ctrl.export()">export your data</a> before deleting this -->
          project.
        </p>
      </div>
      <div class="col-xs-3">
        <div>
          <button
            class="btn btn-danger pull-right"
            ng-click="$ctrl.onProjectDelete({project: $ctrl.project})"
          >
            Delete
          </button>
          <md-progress-circular
            ng-if="$ctrl.loadDelete"
            md-mode="indeterminate"
          ></md-progress-circular>
        </div>
      </div>
    </div>
  </div>
</div>
