<div class="settings">
  <form>
    <fieldset>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Title*</label>
          <input type="text" required class="form-control" ng-model="$ctrl.project.projectTitle" />
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Description*</label>
          <textarea
            required
            class="form-control"
            rows="3"
            ng-model="$ctrl.project.description"
          ></textarea>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-3">
          <label>Visibility*</label>
          <select
            ng-model="$ctrl.project.public"
            class="form-control"
            required
            ng-options="(item?'public':'private') for item in [true, false]"
          >
          </select>
        </div>
      </div>    

      <div class="form-group clearfix">
        <div class="col-xs-3">
          <label>Discoverable*
	      </label>
          <select 
            ng-model="$ctrl.project.discoverable"
            class="form-control col-xs-3"
            required
            ng-options="(item?'discoverable':'not discoverable') for item in [true, false]"
          >
          </select>
        </div>
      </div>    
      <span class="help-block col-xs-9"
              >Setting a project to discoverable indicates we want the project to be discoverable even if the project is set to private. 
	      Public users will be able to view project metadata and project statistics but not query project data. 
	      If a project is public then this setting has no meaning.
      </span

      <div class="form-group clearfix">

      <div class="form-group clearfix">
        <div class="checkbox col-xs-9">
          <label>
            <input type="checkbox" ng-model="$ctrl.project.enforceExpeditionAccess" />
            <!-- ng-change="$ctrl.onUpdate({ configuration: $ctrl.config })" /> -->
            Enforce Expedition Access Control?
            <span class="help-block"
              >Enforcing Expedition access will allow only the expedition owner to update the
              expedition. If disabled, any project member will be able to update the expedition
              data.</span
            >
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Principal Investigator</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.principalInvestigator">      
          <span class="help-block">The principal investigator for this project</span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Principal Investigator Affiliation</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.principalInvestigatorAffiliation">      
          <span class="help-block">The affiliation of the principal investigator for this project</span class="help-block">
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Project Contact</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.projectContact">      
          <span class="help-block">Name of an individual to contact for this project.  Typically this is the name of
            the person with the user account for this project, but in some cases the contact will
            be someone else</span>
          </span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Project Contact Email</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.projectContactEmail">      
          <span class="help-block">Email for the project contact</span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Publication GUID</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.publicationGuid">      
          <span class="help-block">A globally unique identifier for a written publication pertaining
            to this dataset</span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Project Data GUID</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.projectDataGuid">      
          <span class="help-block">A globally unique identifier for the data in this project.  
            Recommended to use a resolvable URL containing a DOI or ARK identifier.  Coming 
          soon is the ability to generage a DOI here.  GEOME does not automatically assign
          identifiers for all datasets since many datasets have been given GUIDs elsewhere.</span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>Recommended Citation</label>
          <input type="text" class="form-control"  ng-model="$ctrl.project.recommendedCitation">      
          <span class="help-block">Indicate a recommended citation for this data resource.</span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <label>*Required Elements</label> 
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-xs-9">
          <md-progress-circular
            md-mode="indeterminate"
            ng-if="$ctrl.loadSave"
          ></md-progress-circular>
          <button
            class="btn btn-primary"
            ng-click="$ctrl.onProjectUpdate({ project: $ctrl.project })"
          >
            Save
          </button>
           <!--  <input type="submit" class="btn btn-primary" value="Save" />-->
        </div>
      </div>
    </fieldset>
  </form>

  <div class="panel panel-danger">
    <div class="panel-body vertical-align">
      <div class="col-xs-9">
        <p><strong>Delete this project</strong></p>
        <p class="small">
          <span class="text-danger"
            >Warning! This will delete all expeditions and records associated with this
            project.</span
          >
          Please export your data before deleting this
          <!-- expeditions and records associated with this project.</span> Please <a href -->
          <!-- ng-click="$parent.$ctrl.export()">export your data</a> before deleting this -->
          project.
        </p>
      </div>
      <div class="col-xs-3">
        <div>
          <button
            class="btn btn-danger pull-right"
            ng-click="$ctrl.onProjectDelete({project: $ctrl.project})"
          >
            Delete
          </button>
          <md-progress-circular
            ng-if="$ctrl.loadDelete"
            md-mode="indeterminate"
          ></md-progress-circular>
        </div>
      </div>
    </div>
  </div>
</div>
