<!-- <div class="col-sm-8">
        <div class="form-group" show-errors="{trigger: 'change'}">
            <label for="worksheetFile" class="col-sm-3 control-label">Data</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default form-control">Browse &hellip;</span>
                        <input type="file" style="display:none;" id="worksheetFile" name="worksheetFile_{{$index}}" class="form-control"
                            ngf-select="$ctrl.handleSelect($index, $files)" ngf-pattern="'.xls,.xlsx,.txt,.csv,.tsv'"
                            ngf-model-invalid="invalidWorksheetFile_{{$index}}" required ng-model="$ctrl.data[$index].file"
                        />
                    </label>
                    <input type="text" class="form-control" ng-value="$ctrl.data[$index].file.name || invalidWorksheetFile_{{$index}}.name"
                        readonly/>
                </div>
                <p class="help-block" ng-show="$ctrl.valid[$index] === false">
                    File must have one of the following extensions: .xls, .xlsx, .csv, .tsv, or .txt</p> -->
                <!-- <p class="help-block small col-sm-offset-3" ng-show="$ctrl.form.fasta_{{$index}}.$error.pattern"> -->
<!-- File must have one of the following extensions: .fa, .mpfa, .fna, .fsa, .fas, .fasta, or .txt</p> -->
<!-- </div>
</div>

<div class="form-group" show-errors ng-if="$ctrl.displayWorkbook($index)">
    <label for="worksheet_{{$index}}" class="col-sm-3 control-label">Worksheet</label>
    <div class="col-sm-9">
        <select class="form-control" id="worksheet_{{$index}}" name="fastaMarker_{{$index}}" ng-model="$ctrl.data[$index].worksheet"
            ng-change="$ctrl.onChange({data: $ctrl.data})" required ng-options="worksheet as worksheet for worksheet in $ctrl.worksheets track by worksheet">
            <option value="">-- Select a Worksheet--</option>
        </select>
    </div> -->
    <!-- <md-button class="md-icon-button help-link md-popover-button">
                <md-popover md-popover-class="fasta-help" md-popover-group="fastaHelp" md-direction="bottom">
                    <div ng-include="'fasta-help.popover.html'"></div>
                </md-popover>
                <md-icon md-font-icon="fa fa-question-circle fa-sm"></md-icon>
            </md-button> -->
<!-- </div>
<div class="col-xs-12">
    <md-button class="md-icon-button md-primary btn-sm pull-right" ng-show="$last" ng-click="$ctrl.addData()">
        <md-icon md-font-icon="fa fa-plus fa-sm"></md-icon>
        <!-- <span class="fa fa-plus"></span> -->
    <!-- </md-button>
    <md-button class="md-icon-button md-accent btn-sm pull-right" ng-show="$last && $ctrl.data.length > 1"
        ng-click="$ctrl.removeData()">
        <md-icon md-font-icon="fa fa-minus fa-sm"></md-icon>
    </md-button>
</div>
</div> -->
<div class="col-sm-8">
    <div class="form-group" show-errors="{trigger: 'change'}">
        <label for="{{$ctrl.worksheet}}Data" class="col-sm-3 control-label">{{$ctrl.worksheet}}</label>
        <div class="col-sm-9">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-default form-control">Browse &hellip;</span>
                    <input type="file" style="display:none;" name="{{$ctrl.worksheet}}Data" class="form-control" ngf-select="$ctrl.handleSelect($files)"
                        ngf-pattern="'.xls,.xlsx,.txt,.csv,.tsv'" required ngf-model-invalid="invalidFile"
                        ng-model="$ctrl.file" />
                </label>
                <input type="text" class="form-control" ng-value="$ctrl.file.name || invalidFile.name" readonly/>
            </div>
            <p class="help-block" ng-show="!$ctrl.valid">
                File must have one of the following extensions: .xls, .xlsx, .csv, .tsv, or .txt</p>
        </div>
    </div>
</div>