<h3>{{ $ctrl.currentProject.projectTitle }} Template Generator</h3>
<p class="small">{{ $ctrl.description }}</p>

<div layout="row" class="loading-overlay" ng-show="$ctrl.loading" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="row" id="template-form">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-3">Worksheet:</label>

      <div class="col-sm-4">
        <select
          class="form-control"
          ng-disabled="$ctrl.worksheets.length <= 1"
          ng-model="$ctrl.worksheet"
          ng-options="sheet for sheet in $ctrl.worksheets"
          ng-change="$ctrl.sheetChange()"
        >
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="$ctrl.worksheet !== 'Workbook'">
      <label class="control-label col-sm-3">Template Config:</label>
      <div class="col-sm-4">
        <div class="input-group col-sm-12">
          <select
            class="form-control"
            ng-disabled="$ctrl.templates.length <= 1"
            ng-model="$ctrl.template"
            ng-options="t as t.name for t in $ctrl.templates track by t.name"
            ng-change="$ctrl.templateChange()"
          >
          </select>

          <div class="input-group-btn" ng-show="$ctrl.canRemoveTemplate()">
            <button class="btn btn-danger" ng-click="$ctrl.removeConfig($event)">
              <i class="fa fa-trash fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <button
          type="button"
          ng-click="$ctrl.generate()"
          class="md-button md-raised md-primary pull-right"
        >
          Export Excel
        </button>
      </div>
    </div>
  </form>
</div>
<div layout="row">
  <div flex>
    <div
      ng-repeat="item in $ctrl.attributeArray"
      ng-if="item.worksheet === $ctrl.worksheet || $ctrl.worksheet === 'Workbook'"
    >
      <div ng-if="$first && $ctrl.worksheet === 'Workbook'">
        <div class="btn-group-xs">
          <md-switch
            ng-disabled="!$ctrl.attributes"
            class="md-primary"
            md-no-ink
            aria-label="workbook select all"
            ng-model="workbookSelectAll"
            ng-change="$ctrl.workbookSelectAll(workbookSelectAll)"
          >
            Include all Worksheets
          </md-switch>
        </div>
      </div>
      <md-switch
        ng-disabled="!$ctrl.attributes"
        class="md-primary"
        md-no-ink
        aria-label="entity select all"
        ng-model="$ctrl.entities[item.worksheet]"
        ng-change="$ctrl.worksheetSelectAll([item.worksheet], $ctrl.entities[item.worksheet]) "
      >
        Include all {{ item.worksheet }}
      </md-switch>
      <h3 ng-if="$ctrl.worksheet === 'Workbook'">{{ item.worksheet}}</h3>
      <div class="btn-group btn-group-xs" ng-if="$ctrl.worksheet !== 'Workbook'">
        <button type="button" class="btn btn-link" ng-click="$ctrl.saveConfig($event)">
          Save
        </button>
      </div>
      <uib-accordion close-others="false">
        <div ng-repeat="(group, attributes) in item.data.attributes">
          <div uib-accordion-group class="panel-default" heading="{{ group }}" is-open="true">
            <div class="checkbox" ng-repeat="attribute in attributes">
              <label>
                <input
                  type="checkbox"
                  ng-disabled="group === 'Minimum Information Standard Items'"
                  ng-checked="$ctrl.selected[item.worksheet].indexOf(attribute) > -1"
                  ng-click="$ctrl.toggleSelected(item.worksheet, attribute)"
                />
                {{ attribute.column }}
                <a class="md-popover-button" ng-click="$ctrl.define(item.worksheet, attribute)"
                  >DEF
                </a>
              </label>
            </div>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>

  <div flex hide-xs class="attribute-definition-container" md-sticky>
    <fims-attribute-definition
      current-project="$ctrl.currentProject"
      attribute="$ctrl.defAttribute"
      sheet-name="$ctrl.defWorksheet"
    >
    </fims-attribute-definition>
  </div>
</div>
