<div class="admin project-config">
    <div class="row">
        <div class="col-xs-12">
            <section class="heading">
                <h3>{{ $ctrl.name }}</h3>
                <p>
                    <strong>Description: </strong> {{ $ctrl.description }}</p>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <section>
                <div class="settings-bar">
                    <ul class="nav nav-pills">
                        <li><a href ui-sref=".settings" ui-sref-active="active">Settings</a></li>
                        <li><a href ui-sref=".entities" ui-sref-active="active">Entities</a></li>
                        <li><a href ui-sref=".expeditionMetadata" ui-sref-active="active">Expedition
                                Properties</a></li>
                        <li><a href ui-sref=".lists" ui-sref-active="active">Lists</a></li>

                        <ul class="actions pull-right">
                            <li class="save-config" ng-show="$ctrl.showSave">
                                <md-progress-circular ng-show="$ctrl.saving" md-mode="indeterminate"
                                    md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
                                <a href="#" ng-click="$ctrl.onSave()" ng-show="!$ctrl.saving">
                                    <i class="fa fa-upload"></i> Save Config</a>
                            </li>
                        </ul>
                    </ul>
                </div>

                <div class="row">
                    <div class="settings" ng-class="{loading: $ctrl.loading}">
                        <div layout="column" class="loading-overlay" ng-show="$ctrl.loading"
                            layout-align="top center">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <div ng-if="!$ctrl.loading">

                            <div ui-view="settings" ng-cloak config="$ctrl.configuration" on-update="$ctrl.handleUpdateSettings(configuration)"
                                is-network-admin="$ctrl.isNetworkAdmin"></div>

                            <div ui-view="entities" ng-cloak config="$ctrl.config" entities="$ctrl.config.entities"
                                can-edit="$ctrl.isNetworkAdmin || $ctrl.currentUser.subscribed"
                                on-update-entities="$ctrl.handleUpdateEntities(entities)"
                                on-update-entity="$ctrl.handleUpdateEntity(alias, entity)"
                                on-new-worksheet="$ctrl.handleNewWorksheet(sheetName)">
                            </div>

                            <div ui-view="lists" ng-cloak lists="$ctrl.config.lists"
                                can-edit="$ctrl.isNetworkAdmin || $ctrl.currentUser.subscribed"
                                on-update-list="$ctrl.handleUpdateList(list)"
                                on-update-lists="$ctrl.handleUpdateLists(lists)">
                            </div>

                            <div ui-view="expeditionMetadata" ng-cloak properties="$ctrl.config.expeditionMetadataProperties"
                                can-edit="$ctrl.isNetworkAdmin || $ctrl.currentUser.subscribed"
                                on-change="$ctrl.handleUpdateExpeditionMetadata(properties)">
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

</div>