<div>
    <a class="edit-close" href="#"><i ng-click="$ctrl.onClose()" class="fa fa-times"></i></a>
    <div class="row">
        <div class="col-xs-12">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Concept Alias</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-disabled="!$ctrl.entity.editable"
                               ng-model="$ctrl.entity.conceptAlias"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Unique Key Column</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" disabled ng-show="!$ctrl.entity.editable"
                               ng-model="$ctrl.entity.uniqueKey"/>
                        <select class="form-control" ng-options="column for column in $ctrl.columns"
                                ng-show="$ctrl.entity.editable"
                                ng-model="$ctrl.entity.uniqueKey"></select>
                        <p class="help-block" ng-show="$ctrl.entity.editable">Once saved, this cannot be changed.</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox col-xs-offset-3 col-xs-9">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.entity.uniqueAcrossProject" /> make uniqueKey unique across entire project?
                            <span class="help-block" ng-if="!$ctrl.entity.editable">This will only be enforced for new data loads</span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Worksheet</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" disabled ng-model="$ctrl.entity.worksheet" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Concept URI</label>
                    <div class="col-xs-9">
                        <input type="text" disabled class="form-control" ng-model="$ctrl.entity.conceptURI"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Concept Forwarding Address</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="$ctrl.entity.conceptForwardingAddress"/>
                    </div>
                </div>

                <div class="form-group" ng-show="$ctrl.entity.parentEntity">
                    <label class="control-label col-xs-3">Parent Entity</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" disabled ng-model="$ctrl.entity.parentEntity"/>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>