<div ng-cloak>
    <div class="row back">
        <div class="col-xs-12">
            <a href ui-sref="project-config.entities">
                <i class="fa fa-chevron-left"></i> Entities</a>
            <p layout-padding> Editing {{$ctrl.type}} for entity:
                <strong>{{$ctrl.entity.conceptAlias}}</strong>
            </p>
        </div>
    </div>

    <div ui-view="attributes" selected-attributes="$ctrl.entity.attributes" available="$ctrl.availableAttributes()"
        required-attributes="$ctrl.requiredAttributes()" on-change="$ctrl.handleUpdateAttributes(attributes)"></div>

    <div ui-view="rules" rules="$ctrl.entity.rules" on-change="$ctrl.handleUpdateRules(rules)"
        lists="$ctrl.networkConfig.lists" attributes="$ctrl.entity.attributes"></div>

</div>