<div ng-cloak>
    <div class="row back">
        <div class="col-xs-12">
            <a href ui-sref="project-config.entities">
                <i class="fa fa-chevron-left"></i> Entities</a>
            <p layout-padding> <span ng-if="$ctrl.canEdit">Editing</span> {{$ctrl.type}} for
                entity: <strong>{{$ctrl.entity.conceptAlias}}</strong>
            </p>
        </div>
    </div>
    <p ng-if="!$ctrl.canEdit">Note: only subscribed users can edit a project configuration</p>

    <div ui-view="attributes" selected-attributes="$ctrl.entity.attributes" available="$ctrl.availableAttributes()"
        can-edit="$ctrl.canEdit" required-attributes="$ctrl.requiredAttributes()" on-change="$ctrl.handleUpdateAttributes(attributes)"></div>

    <div ui-view="rules" rules="$ctrl.entity.rules" on-change="$ctrl.handleUpdateRules(rules)"
        can-edit="$ctrl.canEdit" lists="$ctrl.networkConfig.lists" attributes="$ctrl.entity.attributes"></div>

</div>