<fims-header
        current-user="$ctrl.currentUser"
        current-project="$ctrl.currentProject"
        on-project-change="$ctrl.handleProjectChange(project)"
        on-signout="$ctrl.signout()">
</fims-header>

<!-- Sidebar navigation -->
<fims-navigation
        current-project="$ctrl.currentProject"
        current-user="$ctrl.currentUser">
</fims-navigation>

<main class="main">
    <alerts></alerts>
    <div class="content" id="content" ng-if="!$ctrl.loading">
        <div class="container-fluid" ui-view
             on-user-change="$ctrl.handleUserChange(user)"
             current-project="$ctrl.currentProject"
             current-user="$ctrl.currentUser">
        </div>
    </div>
    <div ng-if="$ctrl.loading">
        <span us-spinner></span>
    </div>
</main>
