<div layout-fill layout="column">
    <h2 class="text-center">New Project</h2>
    <p class="text-center">Welcome the the GeOMe project creation wizard</p>

    <div ng-show="$ctrl.errors" class="errors" id="errors">
        <p><strong>The following errors occurred when creating the configuration.</strong></p>
        <md-virtual-repeat-container md-auto-shrink="true">
            <ul flex>
                <li md-virtual-repeat="msg in $ctrl.errors" class="repeated-item">{{msg}}</li>
            </ul>
        </md-virtual-repeat-container>
    </div>

    <div layout="row">
        <form flex name="form" novalidate>
            <md-stepper flex id="create-project-stepper" md-vertical="true" md-prevent-skip="true">
                <md-step md-label="Project Details" class="project-details-step" md-order="0">
                    <md-step-body>
                        <md-input-container flex-gt-sm>
                            <label>Project Title</label>
                            <input name="title" ng-model="$ctrl.project.projectTitle" required
                                project-title ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" />

                            <md-hints>
                                <md-hint ng-if="form.title.$pending">Checking if projectTitle
                                    is available...</md-hint>
                            </md-hints>
                            <div ng-messages="form.title.$error">
                                <div ng-message="required">This field is required.</div>
                                <div ng-message="projectTitle">A project with this title already
                                    exists.</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex-gt-sm>
                            <label>Project Description</label>
                            <textarea name="description" ng-model="$ctrl.project.description"
                                placeholder="What is the purpose of this project" ng-minlength="10"
                                rows="1" md-select-on-focus required></textarea>

                            <div ng-messages="form.description.$error">
                                <div ng-message="minlength">Must be at least 10 characters long.</div>
                            </div>
                        </md-input-container>

                        <md-checkbox ng-model="$ctrl.project.public" class="md-align-top-left" name="public">
                            Public Project?
                            <md-hints>
                                <md-hint>If a project is public, non project members will be able
                                    to query the data</md-hint>
                            </md-hints>
                        </md-checkbox>
                    </md-step-body>
                    <md-step-actions>
                        <md-button class="md-primary md-raised" ng-click="$mdStep.$stepper.next()"
                            ng-disabled="form.description.$invalid || form.title.$invalid || form.title.$pending">Next</md-button>
                    </md-step-actions>
                </md-step>
                <md-step md-label="Project Config" md-order="1">
                    <md-step-body>
                        <p>The project config determines how and what data you can upload. You can
                            use an existing configuration or to clone an existing configuration to
                            use as a template.</p>

                        <md-autocomplete flex required md-no-cache md-show-arrow="true" md-selected-item-change="$ctrl.resetVisitedSteps($mdStep)"
                            md-selected-item="$ctrl.existingConfig" md-items="c in $ctrl.configurations | filter:{name: configSearchText}"
                            md-floating-label="Existing Configuration" md-require-match
                            md-search-text="configSearchText" md-min-length="0" md-item-text="c.name"
                            ng-click="configSearchText = ''">
                            <md-item-template>
                                <span md-highlight-text="configSearchText" md-highlight-flags="i">{{c.name}}</span>
                            </md-item-template>
                            <md-hints>
                                <md-hint>Choose an existing project configuration to clone</md-hint>
                            </md-hints>
                        </md-autocomplete>

                        <div ng-show="$ctrl.existingConfig" class="config-description">
                            <h6>Configuration Description</h6>
                            {{$ctrl.existingConfig.description}}
                        </div>

                        <md-checkbox ng-show="$ctrl.existingConfig" ng-model="$ctrl.syncConfig"
                            class="md-align-top-left" name="syncConfigs">
                            Keep configuration in sync?
                            <md-hints>
                                <md-hint>You will not be able to customize the
                                    configuration, and any changes made to the "cloned" config will
                                    be reflected in your project. If you choose not to "sync"
                                    configurations, you will be able to customize the
                                    configuration, however any changes made to the original config
                                    will not be propagated to your configuration.</md-hint>
                            </md-hints>
                        </md-checkbox>
                    </md-step-body>
                    <md-step-actions>
                        <md-button ng-if="$ctrl.existingConfig && !$ctrl.syncConfig" ng-disabled="!$ctrl.existingConfig"
                            class="md-primary md-raised" ng-click="$ctrl.toConfigStep($mdStep)"
                            layout="row" layout-align="center center">
                            <span ng-show="!$ctrl.loading">Next</span>
                            <md-progress-circular ng-show="$ctrl.loading" md-mode="indeterminate"
                                md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
                        </md-button>
                        <md-button class="md-primary md-raised" ng-click="$ctrl.createProject()"
                            ng-disabled="!$ctrl.existingConfig" ng-if="$ctrl.syncConfig || !$ctrl.existingConfig"
                            layout="row" layout-align="center center">
                            <span ng-show="!$ctrl.creatingProject">Create Project</span>
                            <md-progress-circular ng-show="$ctrl.creatingProject" md-mode="indeterminate"
                                md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
                        </md-button>
                    </md-step-actions>
                </md-step>

                <md-step ng-repeat="e in $ctrl.config.entities track by e.conceptAlias" md-label="Entity - {{e.conceptAlias}}"
                    ng-show="!$ctrl.syncConfig" md-order="$index + 2">
                    <md-step-body>
                        <h4>Attributes</h4>
                        <p class="small">The available attributes for {{e.conceptAlias}} are listed
                            below. You can choose which attributes you would like to collect. You
                            can also edit a the group, description, etc. Attributes that are
                            required by GeOMe can not be disabled.</p>

                        <fims-project-config-attributes selected="e.attributes" available="$ctrl.availableAttributes(e.conceptAlias)"
                            required="$ctrl.requiredAttributes[e.conceptAlias]" on-change="$ctrl.updateAttributes(e, attributes)"></fims-project-config-attributes>

                        <h4>Rules</h4>
                        <p class="small">Here you can configure the validation rules for this
                            entity. Note: any rule required by GeOMe will be automatically added
                            upon creation.</p>

                        <fims-project-config-rules rules="e.rules" required="$ctrl.requiredRules[e.conceptAlias]"
                            attributes="e.attributes" lists="$ctrl.networkConfig.lists" on-change="$ctrl.updateRules(e, rules)">
                            </fims-project-config-attributes>

                    </md-step-body>
                    <md-step-actions>
                        <md-button class="md-primary md-raised" ng-click="$mdStep.$stepper.next()"
                            ng-if="$mdStep.stepNumber < $mdStep.$stepper.steps.length - 1">Next</md-button>
                    </md-step-actions>
                </md-step>

                <md-step md-label="Expedition Metadata Properties" ng-if="$ctrl.config" md-order="$ctrl.config.entities.length + 2">
                    <md-step-body>
                        <p class="small">Specify any additional metadata you would like to collect
                            when an expedition is created</p>

                        <fims-project-config-expedition-metadata properties="$ctrl.config.expeditionMetadataProperties"
                            on-change="$ctrl.updateProperties(properties)">
                        </fims-project-config-expedition-metadata>
                    </md-step-body>
                    <md-step-actions>
                        <md-button class="md-primary md-raised" ng-click="$ctrl.createProject()"
                            layout="row" layout-align="center center">
                            <span ng-show="!$ctrl.creatingProject">Create Project</span>
                            <md-progress-circular ng-show="$ctrl.creatingProject" md-mode="indeterminate"
                                md-diameter="18" class="md-accent md-hue-3"></md-progress-circular>
                        </md-button>
                    </md-step-actions>
                </md-step>
            </md-stepper>
        </form>
    </div>
</div>