<div layout="row">
  <h3 flex>{{$ctrl.tableTitle}}</h3>
  <div flex layout="column" layout-align="center end">
    <div>
      <md-icon md-font-icon="fa fa-search fa-fw"></md-icon>
      <md-input-container>
        <input
          ng-model="searchText"
          ng-change="$ctrl.searchTextChange(searchText)"
          placeholder="Filter Projects"
        />
      </md-input-container>
    </div>
  </div>
</div>

<div ng-if="$ctrl.projects.length === 0 && $ctrl.currentUser">
  <span>
    You don't have any projects yet!
    <strong><a ui-sref="create-project">Create Project </a></strong>
  </span>
</div>

<div layout="row" layout-align="center center">
  <md-progress-circular
    ng-show="$ctrl.loading"
    class="loading-overlay-fixed"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<table md-table ng-model="$ctrl.filteredProjects" class="table-striped">
  <thead md-head md-order="$ctrl.orderBy">
    <tr md-row class="projects-table-header-row" ng-if="$ctrl.projects.length !== 0">
      <th md-column md-order-by="projectTitle" class="project-title"></th>
      <th md-column md-order-by="entityStats.SampleCount">
        Samples
      </th>
      <th md-column md-order-by="hasSRA">
        Has SRA
      </th>
      <th md-column md-order-by="hasPhotos">
        Has Photos
      </th>
    </tr>
  </thead>
  <tbody md-body class="projects-table-body">
    <tr
      md-row
      ng-repeat="project in $ctrl.filteredProjects | orderBy: $ctrl.orderBy"
      class="body-row"
    >
      <td md-cell layout="column" class="title-cell">
        <div layout="row" layout-xs="column" class="title-row" layout-align="space-between">
          <div
            ng-click="$ctrl.goToOverview(project, 'project')"
            md-truncate
            md-colors="{color: 'primary'}"
          >
            <span class="title">{{ project.projectTitle }}</span>
            <md-tooltip md-delay="200" md-direction="bottom">{{ project.projectTitle }}</md-tooltip>
          </div>
          <div>
            <span
              flex
              ng-if="project.user.username === $ctrl.currentUser.username"
              class="label label-primary"
              >admin</span
            >
            <span
              flex
              ng-if="project.public === true && $ctrl.tableTitle !== 'Public Projects'"
              class="label label-warning"
              >public</span
            >
          </div>
        </div>
        <div layout="row" layout-xs="column" layout-align="space-between">
          <small hide-xs class="text-muted activity"
            >Latest Activity: {{ project.latestDataModification.length > 0 ?
            project.latestDataModification.split(' ')[0] : 'N/A' }}</small
          >
          <span
            ng-if="project.projectConfiguration.networkApproved === true"
            ng-click="$ctrl.goToOverview(project, 'team')"
            class="label label-info"
            >{{ project.projectConfiguration.name }} team</span
          >
          <small hide-xl hide-lg hide-md hide-sm class="text-muted activity"
            >Latest Activity: {{ project.latestDataModification ?
            project.latestDataModification.split(' ')[0] : 'N/A' }}</small
          >
        </div>
      </td>

      <td md-cell class="stat-cell">{{ project.entityStats.SampleCount }}</td>
      <td md-cell class="stat-cell">
        <md-icon ng-if="project.hasSRA === true" md-font-icon="fa fa-check success fa-fw">
        </md-icon>
        <md-icon ng-if="project.hasSRA === false " md-font-icon="fa fa-times false fa-fw">
        </md-icon>
      </td>
      <td md-cell class="stat-cell">
        <md-icon ng-if="project.hasPhotos === true" md-font-icon="fa fa-check success fa-fw">
        </md-icon>
        <md-icon ng-if="project.hasPhotos === false " md-font-icon="fa fa-times false fa-fw">
        </md-icon>
      </td>
    </tr>
  </tbody>
</table>
