<div id="warning"></div>
<div class="row validation">
    <h3 class="page-header">Validate and Load Data</h3>

    <p>Using this tool you can check for errors in your metadata file and upload your data. The validate tab can be used
        to ensure that all required fields are completed and that each materialSampleID is unique in your metadata file
        (in tab delimited text format) while the upload tab will also validate your files and ensure that each
        materialSampleID is accompanied by a fasta/fastq file of the same name.</p>
    <p>If you are uploading pooled data (each fastq file represents data from multiple individuals that can't be
        demultiplexed) please include the number of individuals in the pool using the individualCount field and the
        range over which the samples were collected in the coordinateUncertaintyInMeters field with the decimal latitude
        and decimal longitude representing the mid point.
    </p>
    <p ng-show="!$ctrl.currentUser"><strong>To upload data users must have an account.</strong> To set up an account
        send an email with you name, title and affiliation to <a href="mailto:geome.database@gmail.com">geome.database@gmail.com</a>
    </p>

    <p style="margin-top:20px;">Data is subject to our data usage policy found
        <a target="_blank" href="http://diversityindopacific.net/data-usage-agreement/">here</a></p>

    <div class="col-xs-12">
        <uib-tabset active="$ctrl.activeTab">
            <uib-tab index="-1" heading="" disable="true" classes="col-xs-offset-1 hidden-tab"></uib-tab>

            <!-- Validation Tab -->
            <uib-tab index="0" heading="Validate">
                <fims-validate
                        fims-metadata="$ctrl.fimsMetadata"
                        on-metadata-change="$ctrl.fimsMetadataChange(fimsMetadata)"
                        on-validate="$ctrl.validate()">
                </fims-validate>
            </uib-tab>

            <!-- Upload Tab -->
            <uib-tab index="1" heading="Upload" disable="!$ctrl.currentUser">
                <fims-upload
                        is-visible="$ctrl.activeTab === 1"
                        current-project="$ctrl.currentProject"
                        fims-metadata="$ctrl.fimsMetadata"
                        user-expeditions="$ctrl.userExpeditions"
                        on-metadata-change="$ctrl.fimsMetadataChange(fimsMetadata)"
                        on-upload="$ctrl.handleUpload(data)">
                </fims-upload>

            </uib-tab>

            <!-- Results Tab -->
            <uib-tab index="2" heading="Results" disable="!$ctrl.displayResults">
                <fims-results
                        show-genbank-download="$ctrl.showGenbankDownload"
                        results="$ctrl.results"
                        project-id="$ctrl.currentProject.projectId"
                        expedition-code="$ctrl.latestExpeditionCode">
                </fims-results>
            </uib-tab>
        </uib-tabset>


        <div id='map' style="height:400px;width:600px;"></div>
    </div>
</div>
