<div>
  <h2>Contact Us!</h2>

  <h3 id="help" class="md-headline">Technical Support</h3>

  <p>
    If you have general questions about GEOME, please read the
    <a href="docs/helpDocumentation.pdf " target="_blank ">User Help Document.</a> There is also
    information about using GEOME on the <a ui-sref="about({'#':'userHelp'})">About</a> page. If you
    still have questions of a technical nature, or encounter a bug, feel free to send an email to
    <a href="mailto:geome.help@gmail.com">geome.help@gmail.com</a> with your questions, along with
    as much information as possible so we can help resolve the issue.
  </p>

</div>
