<div class="row">
  <h1 class="page-header text-center">Contact Us!</h1>
  <div class="col-sm-12">
    <ul class="list-unstyled contact-list">
      <li>
        <h3>General Questions</h3>
        <ul class="list-unstyled">
          <li>
            <h4 class="contact-name">Michelle R. Gaither</h4>
            <p class="contact-info">
              DIPnet Coordinator
              <br> Hawai‘i Institute of Marine Biology
              <br> P.O. Box 1346
              <br> Kane‘ohe, Hawai‘i 96744 USA
            </p>
            <p class="contact-info">
              <span class="glyphicon glyphicon-envelope"></span>
              <a href="mailto:indopacificgenetics@gmail.com">indopacificgenetics@gmail.com</a>
            </p>
          </li>
          <li>
            <h4 class="contact-name">ERIC D. CRANDALL (DIPNET FOUNDER AND PRINCIPLE)</h4>
            <p class="contact-info">
              Assistant Professor
              <br> California State University Monterey Bay
              <br> School of Natural Sciences
              <br> Seaside, CA 93955 USA
            </p>
            <p class="contact-info">
              <span class="glyphicon glyphicon-envelope"></span>
              <a href="mailto:ecrandall@csumb.edu">ecrandall@csumb.edu</a>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h3>Technical Questions</h3>
        <ul class="list-unstyled">
          <li>
            <h4 class="contact-name">John Deck</h4>
            <p class="contact-info">
              <span class="glyphicon glyphicon-envelope"></span>
              <a href="mailto:jdeck88@gmail.com">jdeck88@gmail.com</a>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
