<div class="row">
  <h1 class="page-header text-center">Contact Us!</h1>
  <div class="col-sm-12">

    <h3 id="help" class="md-headline">Creating New Projects</h3>
    If you would like information on creating a new proejct in GeOMe, send an email request to <a href="mailto:geome.help@gmail.com">geome.help@gmail.com</a>
    with a brief statement of what your project involves. The GeOMe team will be in touch about getting you setup.

    <h3 id="help" class="md-headline">Technical Support</h3>
    If you have general questions about GeOMe, please read the <a href='docs/helpDocumentation.pdf ' target='_blank '>User
      Help Document.</a> There is also information about using GeOMe on the <a ng-click="$ctrl.go()">About</a> page. If
    you still have questions of a technical nature, or encounter a bug, feel free to send an email to <a href="mailto:geome.help@gmail.com">geome.help@gmail.com</a>
    with your questions, along with as much information as possible so we can help resolve the issue.
    <h3 id="help" class="md-headline">Project-Specific Questions</h3>
    <project-info></project-info>

  </div>
</div>