<!-- <section id="dashboard-container" class="p-3 pt-4 mb-3">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h4 class="m-0 text-center">Flower Overview</h4>
            <p class="mt-2 mb-4 text-center">Nothing to do. Just testing app.</p>
        </div>
    </div>
    

    <div class="project-details">
    <div class="row">
        <div class="col-lg-2"><p class="proj-1">Project owner</p></div>
        <div class="col-lg-10"><p class="proj-2"> Soln <span><a href="#">(solutionprovider&#64;yopmail.com)</a></span></p></div>
    </div>

    <div class="row">
        <div class="col-lg-2"><p class="proj-1">Shareable URLs</p></div>
        <div class="col-lg-10">
            <p class="proj-2"> Project URL: <span><a href="#">https://n2t.net/ark:/21547/R2630</a></span></p>
            <p class="proj-2">Template Generator Direct Link: <span><a href="#">
                https://geome-db.org/workbench/template?projectId=630</a></span></p>
            <p class="proj-2">Team Direct Link:<span><a href="#">
                https://geome-db.org/workbench/team-overview?projectId=630</a></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><p class="proj-1">Visibility</p></div>
        <div class="col-lg-10">
            <p class="proj-2"> This is a private project and is not discoverable</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"><p class="proj-1">Team workspace</p></div>
        <div class="col-lg-10">
            <p class="proj-2"> <span class="biocode-btn">Biocode team</span> <span class="px-2"><a href="#">meyerc&#64;si.edu</a></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="mt-2 mb-4 text-center">Nothing to do. Just testing app.</p>
        </div>
    </div>

</div>



    </div>
</section> -->



<!-- <section id="dashboard-container" class="p-3 pt-4 mb-3">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h4 class="m-0 text-center mb-4">Team Diversity of the IndoPacific (DIPNet) Overview</h4>
            <p class="mt-2 mb-4 text-center ps-4">
                The Diversity of the IndoPacific (DIPNet) team uses a single sheet for entering events, samples, and tissues (Samples).    FASTQ metadata may be loaded through the interface to generate an SRA submission package.  FASTA metadata plus sequences can be loaded through the interface as well. The DIPNet team is designed for projects that are working with reduced representation (any flavor of RADseq, GTseq) and whole genome data.   The DIPNet team is open for anyone in the public to contribute by making their own project within this team. However, users will need to accept all DIPNet default values for rules and controlled vocabularies.
              </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p class="proj-1">Administrator</p>
        </div>
        <div class="col-lg-10"><p class="proj-2">undefined undefined</p></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p class="proj-1">Contact</p>
        </div>
        <div class="col-lg-10"><p class="proj-2">eric.d.crandall&#64;gmail.com</p></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-container-section">
                <h2 class="table-proj">Projects</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Samples</th>
                            <th>Project Owner</th>
                            <th>Latest Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Australian intertidal fish</a></td>
                            <td>60</td>
                            <td>j-a-thia</td>
                            <td>2020-02-28</td>
                        </tr>
                        <tr>
                            <td><a href="#">Bionetwork</a></td>
                            <td>165</td>
                            <td>OanhTruong</td>
                            <td>2019-04-17</td>
                        </tr>
                        <tr>
                            <td><a href="#">Diversity of the IndoPacific</a></td>
                            <td>39316</td>
                            <td>dipnetCurator</td>
                            <td>2023-03-03</td>
                        </tr>
                        <tr>
                            <td><a href="#">Environmental DNA</a></td>
                            <td>380</td>
                            <td>Michelle Gaither</td>
                            <td>2021-10-07</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>
    </div>
    </div>
</section> -->


<section id="dashboard-container" class="p-3 pt-4 mb-3">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h4 class="m-0 text-center mb-3">Project Expeditions</h4>
            <p class="mt-2 mb-3 text-center">
                The following may not represent a comprehensive list of expeditions for this project, which can be found under
              </p>
              <div class="proj-btn-sec">
                <button class="proj-btn"><span class="desk-icon"><i class="fa-solid fa-desktop"></i></span><span class="pro-over"> PROJECT OVERVIEW</span></button>
              </div>
        </div>
    </div> 


    <div class="row">
        <div class="col-lg-12">
            <div class="create-btn-sec">
                 <button type="button" class="create-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <span class="exp-icon"><i class="fa-solid fa-plus"></i></span>  CREATE EXPEDITION
                </button>
  
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Expedition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 ...
                 </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>


<!-- <section id="dashboard-container" class="p-3 pt-4 mb-3">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="top-hed-prof">
            <h2 class="m-0 text-start"><span class="cust-profile"><i class="fa-solid fa-user"></i></span>Sorabh</h2>
        </div>

        </div>
    </div>
    
    <div class="profile-section">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="profile-hed">Profile</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group-div">
                    <label for="" class="form-group-label">First Name</label>
                    <input type="text" class="input-cus" placeholder="Enter Email">
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="NordVPN-div">
                    <label for="" class="form-group-label">Last Name</label>
                    <input type="text" class="input-cus" placeholder="A">
                  </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group-div">
                    <label for="" class="form-group-label">Email</label>
                    <input type="text" class="input-cus" placeholder="sorabh_test@yopmail.com">
                  </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group-div">
                    <label for="" class="form-group-label">Institution</label>
                    <input type="text" class="input-cus" placeholder="">
                  </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group-div">
            <button class="pro-save">Save</button>
        </div>
        </div>
        
    </div>
    <div class="profile-section change-password">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="profile-hed">Change Password</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group-div">
                    <label for="" class="form-group-label">Current Password</label>
                    <input type="text" class="input-cus" placeholder="">
                  </div>
            </div>
            <div class="col-lg-3">
                <div class="NordVPN-div">
                    <label for="" class="form-group-label">New Password</label>
                    <input type="text" class="input-cus" placeholder="">
                  </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group-div">
                    <label for="" class="form-group-label">Verify Password</label>
                    <input type="text" class="input-cus" placeholder="">
                  </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group-div">
                <br>
                <button class="pro-save change-passw">Change Password</button>
            </div>
            </div>
        </div>


        
    </div>
    </div>
</section> -->


