<section id="dashboard-container" class="p-3 pt-4 mb-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="m-0 text-center">DiSSCo Overview</h4>
            <p class="mt-2 mb-0">To see how to incorporate biodiversity and museum collections data</p>
        </div>
        <div>
            <div class="project-details">
                <p class="mb-0 d-inline">Project owner</p>
                <p class="mb-0 d-inline">sharif.islam (<a href="" target="_blank">sharif.islam&#64;naturalis.nl</a>)</p>
            </div>
            <div class="project-details">
                <p class="mb-0 d-inline">Project owner</p>
                <div class="d-inline">
                    <p class="mb-0 d-inline">Project URL: https://n2t.net/ark:/21547/R2183</p>
                    <p class="mb-0 d-inline">Template Generator Direct Link: https://geome-db.org/workbench/template?projectId=183</p>
                    <p class="mb-0 d-inline">Team Direct Link: https://geome-db.org/workbench/team-overview?projectId=183</p>
                </div>
            </div>
            <div class="project-details">
                <p class="mb-0 d-inline">Visibility</p>
                <p class="mb-0 d-inline">This is a public project.</p>
            </div>
        </div>
    </div>
</section>