<section id="project-container" class="p-3 pt-4 mb-3 container-bg shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="m-0 text-center">{{projectDetails?.projectTitle}} Overview</h4>
                <p class="mt-2 mb-4 text-center">{{projectDetails?.description}}</p>
            </div>
        </div>


        <div class="project-details custom-table-container">
            <div class="row">
                <div class="col-lg-2">
                    <p class="proj-1">Project owner</p>
                </div>
                <div class="col-lg-10">
                    <p class="proj-2"><a [href]="'mailto:' + projectDetails?.user.email" target="_blank">{{projectDetails?.user.firstName}} {{projectDetails?.user.lastName}}</a>  {{projectDetails?.user.sraUsername ? '[' + projectDetails?.user.sraUsername + ']' : '' }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <p class="proj-1">Shareable URLs</p>
                </div>
                <div class="col-lg-10">
                    <p class="proj-2"> Project URL: <span><a href="https://n2t.net/ark:/21547/R2{{projectDetails?.projectId}}">https://n2t.net/ark:/21547/R2{{projectDetails?.projectId}}</a></span></p>
                    @if(!projectDetails?.limitedAccess){
                        <p class="proj-2">Template Generator Direct Link: <span><a href="{{templateUrl}}">{{templateUrl}}</a></span></p>
                        <p class="proj-2">Team Direct Link:<span><a href="{{teamUrl}}">{{teamUrl}}</a></span></p>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <p class="proj-1">Visibility</p>
                </div>
                <div class="col-lg-10">
                    @if(projectDetails?.public){
                        <p class="proj-2"> This is a public project</p>
                    }
                    @else if(!projectDetails?.public && !projectDetails?.discoverable){
                        <p class="proj-2"> This is a private project and is not discoverable</p>
                    }
                    @else if(!projectDetails?.public && projectDetails?.discoverable){
                        <p class="proj-2"> This is a private project but is discoverable</p>
                    }
                </div>
            </div>

            @if(projectDetails?.principalInvestigator){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Prin. Investigator</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.principalInvestigator}}
                            @if(projectDetails?.principalInvestigatorAffiliation){ <span>, {{projectDetails?.principalInvestigatorAffiliation}}</span> }
                        </p>
                    </div>
                </div>
            }

            @if(projectDetails?.projectContact){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Contact</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.projectContact}}
                            @if(projectDetails?.projectContactEmail){
                                <a href="mailto:{{projectDetails?.projectContactEmail}}" target="_blank">{{projectDetails?.projectContactEmail}}</a>
                            }
                        </p>
                    </div>
                </div>
            }

            @if(projectDetails?.publicationGuid){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Publication DOI</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.publicationGuid}}</p>
                    </div>
                </div>
            }

            @if(projectDetails?.projectDataGuid){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Project Data GUID</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.projectDataGuid}}</p>
                    </div>
                </div>
            }
            
            @if(projectDetails?.permitGuid){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Permit GUID</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.permitGuid}}</p>
                    </div>
                </div>
            }

            @if(projectDetails?.recommendedCitation){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Citation</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.recommendedCitation}}</p>
                    </div>
                </div>
            }

            @if(projectDetails?.localcontextsId){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Local Contexts Page</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"><span><a href="https://localcontextshub.org/projects/{{ projectDetails?.localcontextsId}}" target="_blank">https://localcontextshub.org/projects/{{ projectDetails?.localcontextsId}}</a></span></p>
                    </div>
                </div>
            }

            @if(projectDetails?.license){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">License</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2"> {{ projectDetails?.license}}</p>
                    </div>
                </div>
            }

            @if(projectDetails?.projectConfiguration.networkApproved){
                <div class="row">
                    <div class="col-lg-2">
                        <p class="proj-1">Team workspace</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="proj-2">
                            <span class="biocode-btn cursor-pointer" [routerLink]="['/workbench','team-overview']">{{projectDetails?.projectConfiguration.name}} team</span>
                            <span class="px-2"><a [href]="'mailto:' + projectDetails?.projectConfiguration.user.email" target="_blank">{{projectDetails?.projectConfiguration.user.email}}</a></span>
                            <button class="btn" placement="top" ngbPopover="This team workspace specifies all validation rules and terms for this project. If you have any questions or suggestions, please contact the team owner."><i class="fas fa-circle-question"></i></button>
                        </p>
                    </div>
                </div>
            }

            @if(displayExpedition.length == 0){
                <div class="row">
                    <div class="col-lg-12">
                        <p class="mt-2 mb-4 text-center">There are no expeditions associated with this project.</p>
                    </div>
                </div>
            }
            @else if(displayExpedition.length > 0){
                <div class="row mb-3">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary custom" type="button" [disabled]="projectDetails?.limitedAccess" (click)="downloadProjectCsv()">PROJECT CSV ARCHIVE <i class="fas fa-download ms-2"></i></button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Expedition Title</th>
                            <th scope="col">Events</th>
                            <th scope="col">Samples</th>
                            <th scope="col">Tissues</th>
                            <th scope="col">Fasta Sequences</th>
                            <th scope="col">Fastq Metadata</th>
                            <th scope="col">Expedition GUID</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of displayExpedition; track item) {
                            <tr>
                                <td>
                                    <div class="d-flex flex-column gap-1">
                                        <span>{{item.expeditionTitle}}</span>
                                        <span class="f-12 text-secondary"><b>Owner:</b><a [href]="'mailto:' + projectDetails?.user.email" target="_blank"> {{item.ownerFirstName}} {{item.ownerLastName}}</a> {{item.ownerUsername ? '[' + item.ownerUsername + ']' : '' }}</span>
                                    </div>
                                </td>
                                <td>{{ item.EventCount }}</td>
                                <td>{{ item.SampleCount }}</td>
                                <td>{{ item.TissueCount }}</td>
                                <td>{{ item.fastaSequenceCount }}</td>
                                <td>{{ item.fastqMetadataCount }}</td>
                                <td><a href="https://n2t.net/{{item.expeditionIdentifier}}">https://n2t.net/{{item.expeditionIdentifier}}</a></td>
                                <td><i class="fas fa-search text-secondary f-16 cursor-pointer" (click)="viewData(item.expeditionCode)"></i></td>
                                <td>
                                    @if(menuOptions(item) && menuOptions(item)?.length){
                                        <div ngbDropdown class="d-inline-block">
                                            <span id="download-options" class="cursor-pointer" ngbDropdownToggle>
                                                <i class="fas fa-download text-primary f-16"></i>
                                            </span>
                                            <div ngbDropdownMenu aria-labelledby="download-options">
                                                @for(menu of menuOptions(item); track menu){
                                                    <button ngbDropdownItem (click)="menu.fn()">{{menu.name}}</button>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>