<div class="mt-2">
    <div class="mb-2">
        <p class="primary-text" [routerLink]="['/workbench','config','entities']"><i class="fas fa-angle-left me-2"></i> Entities</p>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="all_attributes" (change)="onAllCheckboxChange($event)" [checked]="selectedAttUris.length == selectedAttributes.length"></th>
                <th scope="col">Column</th>
                <th scope="col">Group</th>
                <th scope="col">Data Type</th>
                <th scope="col">Required</th>
                <th scope="col">SheetOrder</th>
            </tr>
        </thead>
        <tbody>
            @for (item of selectedAttributes; track item) {
                <tr>
                    <td><input type="checkbox" name="attributes_{{item.column}}" (change)="onSelectChange($event, item)" [checked]="selectedAttUris.includes(item.uri)" [disabled]="requiredUris.includes(item.uri)"></td>
                    <td>{{ item.column }}</td>
                    <td>{{ item?.group || 'Default Group' }}</td>
                    <td>{{ item.dataType }}</td>
                    <td>{{ requiredUris.includes(item.uri) }}</td>
                    <td>{{ orderIdxArr.indexOf(item.uri) == -1 ? 'N/A' : orderIdxArr.indexOf(item.uri) }}</td>
                </tr>
            }
        </tbody>
    </table>
    <p>{{ selectedAttUris | json }}</p>
</div>