<div class="mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Meta Data</th>
            </tr>
        </thead>
        <tbody>
            @for (item of detailsList; track item) {
                <!-- <tr>
                    <td>
                        <h6 class="text-primary m-0 mb-1 cursor-pointer"  placement="top" [ngbTooltip]="item.projectTitle" (click)="selectProject(item)">{{item.projectTitle}}</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="m-0 f-12">Latest Activity: {{ item.latestDataModification | date: 'shortDate' }}</p>
                            <button type="button" class="btn btn-primary custom d-inline f-11" style="padding: 5px 8px;">{{item.projectConfiguration.name}}</button>
                        </div>
                    </td>
                    <td>{{ item.entityStats.SampleCount }}</td>
                    <td>
                        @if(item.hasPhotos){ <i class="fas fa-check text-success f-16"></i> }
                        @else{ <i class="fas fa-times text-danger f-16"></i> }
                    </td>
                    <td>
                        @if(item.hasSRA){ <i class="fas fa-check text-success f-16"></i> }
                        @else{ <i class="fas fa-times text-danger f-16"></i> }
                    </td>
                </tr> -->
            }
        </tbody>
    </table>
</div>