/**
 * Document-wide styles.
 **/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.dropdown-menu a {
  .fa {
    padding-right: 8px;
  }

  .fa-after {
    padding-left: 8px;
  }
}

// body {
//   height: 100vh;
//   overflow: hidden; //TODO: move to projectView?
// }




//project-selector
md-checkbox.include-public {
  min-width: 12px;
  min-height: 12px;
  padding-left: 8px;
  margin-left: 32px;

  @include checkbox-container('.md-checked', 12px, 12px);

  .md-container {
    width: 12px;
    height: 12px;

    .md-icon {
      width: 12px;
      height: 12px;
    }
  }

  .md-label {
    margin-left: 8px;
    font-size: 10px;
  }
}






// md-icon[md-font-icon] {
    // height: auto;
// }

// .md-button > .md-icon {
  // display: inline-block;
// }

// full page view
// .full-page {
//   min-height: calc(100vh - #{$navbar-height});
// }

// // query page
// .query-page {
//   flex: 1;
//   display: flex;
// }


// :host {
//   display: flex;
// }

// .query-content {
  // z-index: 10;
//   flex: 2 1;
  // overflow-x: auto;
//   display: flex;
//   flex-direction: column;
//   position: relative;
// }

// .angular-leaflet-map {
//   display: flex;
//   flex: 1 1;
// }

// main view

.main {
  padding-left: $sidenav-width;

  > .content {
    position: relative;

    > .modal-backdrop {
      margin-left: $sidenav-width;
      margin-top: $navbar-height;
    }

    > .container-fluid {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 30px 25px;
    }
  }

  //@media (min-width: $grid-float-breakpoint-max) {
  //  padding-left: 0;
  //}
}

.content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - #{$navbar-height});

  //background-color: hsla(0, 0%, 98%, 1);

  //section {
  //  background-color: #fff;
  //  border: 1px solid hsla(184, 6%, 85%, 1);
  //  padding: 15px;
  //  padding-bottom: 50px;
  //}
}

// alerts

.alerts {
  .alert {
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
  }
}

.alert-error {
  @extend .alert-danger;
}

// page header

.page-header {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center
}

// links

a {
  &.disabled {
    @extend .btn.disabled;
    @extend a.btn.disabled;
  }
}

// admin pages

$adminnav-border-bottom: 1px solid $gray-light;

.admin {
  background-color: hsla(0, 0%, 98%, 1);
  margin: -30px -25px - ($grid-gutter-width / 2);
  padding: 30px 25px + ($grid-gutter-width / 2);
  flex-grow: 1;

  section {
    background-color: #fff;
    border: 1px solid hsla(184, 6%, 85%, 1);
    padding: 15px;
    padding-bottom: 50px;
  }

  .nav-pills {

    > li {
      > a {
        color: $gray-darker;
        border-radius: 0;

        &.active {
          &,
          &:hover,
          &:focus {
            background-color: $nav-link-hover-bg;;
          }
        }
      }
    }

  }

  .back {
    margin-bottom: 5px;

    .fa {
      padding-right: 5px;
    }
  }

  .heading {
    margin-bottom: 20px;
    min-height: 110px;

    h1, h2, h3, h4, h5 {
      margin-top: 5px;
    }
  }

  .nav {
    border-top: 1px solid $gray-light;
    border-bottom: $adminnav-border-bottom;
    margin-bottom: $adminnav-margin-bottom;
  }

  .right-column .list-group {
    margin-bottom: 5px;

    .list-group-item {
      border-left: none;
      border-right: none;
    }
  }
}

.settings {

  legend {
    font-size: $font-size-large;
    font-weight: bold;
    margin-bottom: 8px;
  }

  fieldset {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
  }

  .checkbox {
    margin-top: 0;

    .help-block {
      margin-top: 3px;
      margin-bottom: 0;
    }
  }

  .dropdown {
    .dropdown-toggle {
      color: #000;
    }
  }

  .back {
    margin-top: 10px;
  }

  .row-actions {
    display: flex;

    a {
      text-decoration: none;
      color: $text-color;

      &.delete {
        @extend .text-danger;
      }
    }
  }

  .panel-danger {
    background-color: hsla(6, 80%, 80%, 0.4);
  }

  .help-block {
    color: #798088;
    font-size: $font-size-small;
  }

}

.settings-bar {
  @extend .clearfix;
  margin-top: -$adminnav-margin-bottom;
  margin-bottom: $adminnav-margin-bottom;
  border-bottom: $adminnav-border-bottom;

  .settings-bar-container {
    @extend .col-xs-12;
    @extend .col-lg-9;
    padding-left: 0;
    padding-right: 0;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  .nav {
    border: none;
    margin-bottom: 0;
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;

    &.actions {
      @extend .list-unstyled;
      @extend .list-inline;

      > li {
        padding: $nav-link-padding;
      }
    }

  }

  .order-by {
    text-transform: capitalize;
    padding-left: 5px;
    font-weight: 500;

    .fa-angle-down {
      font-weight: 900;
    }
  }

  a {
    color: #000;
  }

  .dropdown-menu {
    > li {
      > a {
        color: #000;
      }
    }
  }

  .add {
    background-color: hsla(105, 54%, 44%, 0.3);
  }
}

.settings-list {
  @extend .list-group;

  .settings-list-item {
    @extend .list-group-item;
    @extend .clearfix;
    border-left: none;
    border-right: none;
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .info {
      margin-left: 20px;
      width: 100%;

      a {
        color: #000;
      }

      .metadata {
        clear: both;
      }

      .title {
        font-size: $font-size-large;
        font-weight: 500;
        margin-bottom: 5px;
        float: left;
      }
    }
  }
}

// modals

.modal-content {
  border-radius: $border-radius-base !important;
}

// expeditions

.resources {

  .resources-heading {
    border: none;
    font-weight: 700;
    font-size: $font-size-large;
    padding: 15px 15px 10px;
  }

  .resource {
    padding: 20px 15px;
  }
}

// project

.add-view {
  margin-top: 35px;
}

.add-member {
  .ui-select-bootstrap > .ui-select-choices {
    width: auto;
    max-height: 300px;
  }

  .input-group {
    width: 100%;
  }
}

.save-config {
  @extend .add;
  margin-left: 30px;
  margin-right: 30px;
}

.attributes-table {
  > thead {
    > tr {
      > th {
        padding: 10px 15px;
        font-weight: 700;
        font-size: $font-size-large;
      }
    }
  }

  > tbody {
    > tr {
      border-top: 1px solid $list-group-border;
      border-bottom: 1px solid $list-group-border;
      > td {
        padding: 10px 15px;
      }
    }
  }

  .dndPlaceholder {
    height: 40px;
  }

}

.entities {
  .title {
    margin-top: 5px;
  }
}

.edit-popover {
  min-width: 500px;
  display: block;

  .edit-close {
    color: $text-color;
    opacity: .7;
  }

  .row {
    margin-top: -2px;
  }

  textarea {
    resize: vertical;
  }
}

[edit-popover-template-popup].popover {
  display: block !important;
}

.ui-select-multiple {

  .ui-select-match {

    .btn-default {
      display: inline-block;
      width: auto;
      padding: 5px 7px;

      .close {
        color: $text-color;
        opacity: .7;
        font-size: 1.3em;
        line-height: 1;
        padding-left: 2px;
      }
    }
  }
}

.ui-select-match {

  .btn-default {
    @extend .form-control;

    &:active,
    &:hover,
    &:focus {
      color: inherit;
      background-color: inherit;
    }
  }
}

.ui-select-choices-row {
  @extend .small;
  padding: 5px;
  border-bottom: 1px solid $gray-lighter;

  .title {
    margin-bottom: 5px;
  }

  .info {
    @extend .small;
    font-weight: 300;

    label {
      font-weight: 400;
    }

  }
}

.ui-select-highlight {
  font-weight: 900;
}

//= Angular dragNdrop

.dndDraggingSource {
  display: none;
}

// Profile

.profile {

  .heading {
    margin-top: 10px;
    min-height: 0;

    .username {
      margin-top: 0px;

      .fa {
        margin-right: 10px;
      }
    }
  }

  .settings {
    margin-top: 35px;
    border-top: 1px solid $gray-lighter;

    .section {
      border-bottom: 1px solid $gray-lighter;

      .title {
        font-weight: 500;
        margin-bottom: $line-height-computed;
      }
    }
  }
}

.change-password-form {
  display: flex;

  .form-group {
    margin-bottom: $form-group-margin-bottom;
    margin-right: 15px;
  }
}

/** login page rules */
.panel-new-account,
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  margin-top: 30px;

  .panel-heading {
    text-align: center;

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: $font-size-large;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
      background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
      background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
      background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    }
  }
}

.panel-new-account {
  padding-left: 25px;
  padding-right: 25px;
}

.forgot-password {
  text-decoration: underline;
}

.pw-label, .pw-weak .label, .pw-good .label, .pw-strong .label {
  font-size: 100%;
  display: block; }

.pw-weak .label {
  color: #b94a48; }

.pw-good .label {
  color: #3c761e; }

.pw-strong .label {
  color: #3c761e; }
