
<section class="Mekong">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mek-hed1">Mekong River Template Generator</h3>
                <p class="mek-hed1">Population genetics evaluation of fishes within the Lower Mekong Basin and the
                    Mekong Delta.</p>
                <form class="form-horizontal">
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Worksheet:</label>
                        <div class="col-sm-4">
                            <select class="form-control temp-dropdown" [disabled]="worksheets.length == 1">
                                @for(sheet of worksheets; track sheet){
                                    <option [value]="sheet">{{sheet}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Template Config:</label>
                        <div class="col-sm-4">
                            <select class="form-control temp-dropdown">
                                <option selected>DEFAULT</option>
                                @for(template of allTemplates; track allTemplates){
                                    <option [value]="template.name">{{template.name}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary float-end export-btn">Export Excel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="save-temp">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <p class="include-prop">Include properties for all Samples</p>
                    </div>
                    <div class="accordion-section" ngbAccordion>
                        <div class="save-btn-row">
                            <button class="save-btn">Save template</button>
                        </div>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Minimum Information Standard Items</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="panel-body">
                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    materialSampleID
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>

                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    principalInvestigator
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>

                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    yearCollected
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>

                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    decimalLatitude
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>

                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    decimalLongitude
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>

                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    locality
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>

                                            <div class="checkbox-sec">
                                                <label>
                                                    <input type="checkbox" disabled checked>
                                                    country
                                                    <a class="popover-button">DEF</a>
                                                </label>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem>
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Taxonomy and Life History</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum eiusmod. Brunch 3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda shoreditch et. Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="save-right">
                        <h3 class="defin">Definition</h3>
                        <p class="click-def">Click on "DEF" next to any of the headings to see the definition of the
                            term.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <Section class="validate-data">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="valid-hed">Validate Data</h3>
                <p class="valid-hed1"><strong>To upload data users must have an account.</strong>To set up an account send an email with your name, title and affiliation to <a class="valid-link" href="#">geome.database&#64;gmail.com</a> </p>
                <p class="valid-hed2">Data is subject to our <a class="valid-link" href="#">Data Usage Policy.</a></p>
            </div>


            <div class="col-lg-9">
                <div class="container">
                    <div class="form-container">
                        <div class="input-section">
                            <label class="input-label">FASTQ Filenames</label>
                            <input type="file" class="form-control" />
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Layout</label>
                            <div class="btn-group-custom d-flex">
                                <button class="btn btn-outline-primary">Single End</button>
                                <button class="btn btn-outline-primary">Paired End</button>
                            </div>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Strategy</label>
                            <select class="form-select">
                                <option selected>-- Select a Library Strategy --</option>
                            </select>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Source</label>
                            <select class="form-select">
                                <option selected>-- Select a Library Source --</option>
                            </select>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Library Selection</label>
                            <select class="form-select">
                                <option selected>-- Select a Library Selection --</option>
                            </select>
                        </div>
                        <div class="input-section">
                            <label class="input-label">Platform</label>
                            <select class="form-select">
                                <option selected>-- Select a Platform --</option>
                            </select>
                        </div>
                    </div>
                </div>
            
            
            </div>
        </div>
    </div>
</Section> -->


<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="valid-hed">Plate Viewer</h3>
                <p>No Plates found</p>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary float-end export-btn">NEW PLATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- <section class="SRA-sub">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="valid-hed">SRA Submission</h3>
                <p class="valid-hed1">This tool will facilitate the submission of FASTQ data to the SRA database. <strong>This tool is in beta. Please email us at <a class="valid-link" href="#">geome.help&#64;gmail.com </a>if you experience any errors.</strong> </p>
            </div>
        </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-container SRA">
                            <ul class="step-list mt-4">
                                <li class="step-line">
                            <p class="step-active"> <strong>BioProject</strong></p>
                            <p>A BioProject describes the goals of your research.</p>
                            <select id="expedition" class="form-select color-change">
                                <option value="">Expedition <span class="text-danger">*</span></option>
                            </select>
                            <p class="error-text">Expedition is required.</p>
                            <button class="btn bio-next mt-3" disabled>NEXT</button>
                        </li>
                                <li class="step-active">BioProject</li>
                                <li class="step-active">Submission Info</li>
                                <li class="step-active">BioSample Type</li>
                                <li class="step-active">BioSamples</li>
                                <li class="step-active">SRA Metadata</li>
                                <li class="step-active">File Upload</li>
                            </ul>
                        </div>
                    </div>
                </div>
          
    </div>
</section> -->


<!-- <section class="SRA-sub">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="valid-hed">Upload Photos</h3>
                <p class="valid-hed1"><strong>About Photo Uploading in GEOME</strong></p>
                <p class="valid-hed1">There are two primary methods for uploading photos to GEOME described below. Changing photos involves removing photo metadata from your expedition and the "re-loading" your expedition. For detailed instructions about this process refer to "User Help", located under the gear icon menu in the upper right hand corner of your screen.</p>
                <p class="valid-hed1"><strong>OPTION 1: Upload metadata that references images that are already online.</strong></p>
                <p class="valid-hed1">This option is used when your photos are already accessible online. You simply need to load a CSV file telling GEOME where these photos are located along with relevant metadata. Goto Workbench->Load Data and select the sample_photos_csv or the event_photos_csv option.</p>
                <ul class="first-list">
                    <li>You can upload photos on a project by project basis</li>
                    <li>If your photos span multiple expeditions, select “multiple expeditions” in the expedition code option and specify the expeditionCode in the upload file.</li>
                    <li>Fields to include in the CSV file:</li>
                    <ul class="second-list">
                        <li>photoID (May be required. A good idea to specify this so you can update photos using the ID later.).</li>
                        <li>originalUrl (required. URL location of photo that GEOME will obtain)</li>
                        <li>expeditionCode (required if photos span multiple expeditions)</li>
                        <li>other fields (see photo fields under "Generate Template")</li>
                    </ul>
                </ul>
                <p class="valid-hed1"><strong>OPTION 2: Upload photos from your hard-drive.</strong></p>
                <p class="valid-hed1">The GEOME bulk image loader accepts a directory of images zipped into a single file. The max file size is 2GB. If you need to upload more than that, split the upload into multiple uploads. The image loader should be able to accept multiple formats, however, the JPEG format is the most reliable format when uploading. When uploading images, you have the following options:</p>
            </div>
        </div>

            
          
    </div>
</section> -->