
<section class="Mekong">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mek-hed1">{{ currentProject?.projectTitle }}</h3>
                <p class="mek-hed1">{{ currentProject?.description }}</p>
                <form class="form-horizontal">
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Worksheet:</label>
                        <div class="col-sm-4">
                            <select class="form-control temp-dropdown" name="worksheet" [disabled]="worksheets.length == 1" [(ngModel)]="selectedWorksheet" (change)="onWorksheetChange($event)">
                                <option value="" disabled>Select Worksheet</option>
                                @for(sheet of worksheets; track sheet){
                                    <option [value]="sheet">{{sheet}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    @if(selectedWorksheet != 'Workbook'){
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Template Config:</label>
                            <div class="col-sm-4">
                                <select class="form-control temp-dropdown" name="templates" [(ngModel)]="selectedTemplate" (change)="onTemplateChange()">
                                    <option value="">DEFAULT</option>
                                    @for(template of filteredTemplates; track template){
                                        <option [value]="template">{{template}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary float-end export-btn">Export Excel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="save-temp">
            <div class="row">
                <div class="col-lg-6">
                    <div class="accordion-section" ngbAccordion>
                        @if(selectedWorksheet == 'Workbook'){
                            <div class="form-check form-switch mt-3">
                                <input class="form-check-input" type="checkbox" role="switch" (change)="toggleSelectAll($event)">
                                <p class="include-prop">Include all properties</p>
                            </div>
                        }
                        @for(item of attributeArray; track item){
                            @if( selectedWorksheet == 'Workbook' || selectedWorksheet == item.worksheet){
                                <div class="form-check form-switch mt-3">
                                    <input class="form-check-input" type="checkbox" role="switch" (change)="toggleSelect($event, item.worksheet)">
                                    <p class="include-prop">Include properties for all {{item.worksheet}}</p>
                                </div>
                                @if(selectedWorksheet == item.worksheet){
                                    <div class="save-btn-row mt-3">
                                        <button class="save-btn" (click)="openSaveModal(save_template_modal)">Save template</button>
                                    </div>
                                }
                                @else{
                                    <h3 class="my-3">{{item.worksheet}}</h3>
                                }
                                @for(attribute of Object.keys(item.data.attributes); track attribute){
                                    <div ngbAccordionItem [collapsed]="false">
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>{{attribute}}</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                                <ng-template>
                                                    <div class="panel-body">
                                                        @for(entity of item.data.attributes[attribute]; track entity){
                                                            <div class="checkbox-sec">
                                                                <label>
                                                                    @switch(item.worksheet){
                                                                        @case('Samples'){
                                                                            <input type="checkbox" (change)="inputChange($event, entity, item.worksheet)" [disabled]="attribute == 'Minimum Information Standard Items'" [checked]="attribute == 'Minimum Information Standard Items' || sampleChecks.includes(entity.column)">
                                                                        }
                                                                        @case('Events'){
                                                                            <input type="checkbox" (change)="inputChange($event, entity, item.worksheet)" [disabled]="attribute == 'Minimum Information Standard Items'" [checked]="attribute == 'Minimum Information Standard Items' || eventChecks.includes(entity.column)">
                                                                        }
                                                                        @case('Tissues'){
                                                                            <input type="checkbox" (change)="inputChange($event, entity, item.worksheet)" [disabled]="attribute == 'Minimum Information Standard Items'" [checked]="attribute == 'Minimum Information Standard Items' || tissueChecks.includes(entity.column)">
                                                                        }
                                                                        @case('event_photos'){
                                                                            <input type="checkbox" (change)="inputChange($event, entity, item.worksheet)" [disabled]="attribute == 'Minimum Information Standard Items'" [checked]="attribute == 'Minimum Information Standard Items' || eventPhotoChecks.includes(entity.column)">
                                                                        }
                                                                        @case('sample_photos'){
                                                                            <input type="checkbox" (change)="inputChange($event, entity, item.worksheet)" [disabled]="attribute == 'Minimum Information Standard Items'" [checked]="attribute == 'Minimum Information Standard Items' || samplePhotoChecks.includes(entity.column)">
                                                                        }
                                                                        @default {}
                                                                    }
                                                                    {{entity.column}}
                                                                </label>
                                                                <a class="popover-button ms-2 cursor-pointer" (click)="openDef(entity, item.worksheet)">DEF</a>
                                                            </div>
                                                        }
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <!-- <div ngbAccordionItem>
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Taxonomy and Life History</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum eiusmod. Brunch 3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda shoreditch et. Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </ng-template>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="save-right">
                        <h3 class="defin">Definition</h3>
                        <p class="click-def">Click on "DEF" next to any of the headings to see the definition of the
                            term.</p>
                    </div>
                    @if(currentStats){
                        <div class="mt-3">
                            <p class="mb-2"><span class="fw-semibold me-2">Column Name:</span>{{currentStats.column}}</p>
                            <p class="mb-2"><span class="fw-semibold me-2">Defined By:</span><a href="{{currentStats.definedBy}}" target="_blank">{{currentStats.definedBy}}</a></p>
                            <p class="mb-2"><span class="fw-semibold me-2">Data Type:</span>{{currentStats.dataType}}</p>
                            <p class="mb-2"><span class="fw-semibold me-2">Definition</span><br>{{currentStats.definition}}</p>
                        </div>
                        @if(currentStats.errors.length > 0){ <h5 class="mt-3">Validation Rules</h5> }
                        @for(error of currentStats.errors; track error){
                            <div class="mt-3">
                                <p class="mb-2"><span class="fw-semibold me-2">Type:</span>{{error.name}}</p>
                                <p class="mb-2"><span class="fw-semibold me-2">Level:</span>{{error.level}}</p>
                                <p class="mb-2"><span class="fw-semibold me-2">Entity:</span>{{currentStats.entity}}</p>
                            </div>
                        }
                        @if(currentStats.list.length > 0){ <p class="fw-semibold mb-2">list:</p> }
                        <ul>
                            @for(item of currentStats.list; track item){ <li>{{item.value}}</li> }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #save_template_modal let-modal>
    <div class="modal-header border-0 justify-content-center">
		<h5 class="modal-title fw-semibold" id="modal-basic-title">What would you like to name your template?</h5>
	</div>
	<div class="modal-body p-2 px-4 border-0" id="expedition_modal">
        <form [formGroup]="templateForm">
            <div class="mb-3">
                <div class="form-floating mb-1">
                    <input type="text" formControlName="templateName" class="form-control" id="floatingtemplateName" placeholder="templateName">
                    <label for="floatingtemplateName" class="ps-0 fw-semibold">Template Name *</label>
                </div>
                @if(form['templateName'].touched && form['templateName'].invalid){
                    <span class="warn-text f-12">{{ form['templateName'].hasError('required') ? 'templateName is required.' : '' }}</span>
                }
            </div>
        </form>
    </div>
    <div class="modal-footer border-0 pt-0">
		<div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveTemplate()" [disabled]="templateForm.invalid">Save</button>
        </div>
	</div>
</ng-template>