<div class="query-bar">
  <div class="actions" layout="row" layout-align="end center">
    <!-- download menu -->
    <md-menu
      ng-show="$ctrl.results&&$ctrl.results.totalElements!==0"
      class="md-dense"
      md-position-mode="target-right target"
    >
      <md-button
        aria-label="Open query download menu"
        ng-click="$mdMenu.open($event)"
        class="md-primary md-raised download-button"
      >
        <!-- Download -->
        <md-icon md-font-icon="fa fa-download fa-xs"></md-icon>
      </md-button>
      <md-menu-content width="2" class="md-dense download-menu-content">
        <md-menu-item>
          <md-button ng-click="$ctrl.downloadCsv()">CSV Archive</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$ctrl.downloadExcel()">Excel Workbook</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$ctrl.downloadFasta()">Fasta</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <!-- query view toggle -->
    <div class="md-dense" layout="row" layout-align="center center">
      <md-button
        ng-click="$ctrl.toggleMap(true)"
        ng-disabled="$ctrl.showMap"
        class="groupX left md-raised"
        >Map</md-button
      >
      <md-button
        ng-click="$ctrl.toggleTable(true)"
        ng-disabled="$ctrl.showTable"
        class="groupX right md-raised"
        >Table</md-button
      >
      <md-button
        ng-click="$ctrl.togglePhoto(true)"
        ng-disabled="$ctrl.showPhoto"
        class="groupX right md-raised"
        >Browse Photos</md-button
      >
    </div>
  </div>
</div>

<div layout="row" flex class="query-page">
  <!-- sidebar-->
  <md-sidenav
    flex="33"
    class="md-sidenav-left sidebar"
    md-component-id="left"
    md-disable-backdrop
    md-is-locked-open="$ctrl.showSidebar"
    md-whiteframe="4"
  >
    <fims-team-query-form
      ng-if="$ctrl.teamQuery"
      team-id="$ctrl.teamIdNum"
      params="$ctrl.params"
      projects="$ctrl.projects"
      entities-for-download="$ctrl.downloadableEntities(entities)"
      on-new-results="$ctrl.handleNewResults(results, entity)"
      query-map="$ctrl.queryMap"
      markers="$ctrl.markers"
      toggle-loading="$ctrl.toggleLoading(val)"
      layout-padding
      class="team-query"
    ></fims-team-query-form>
    <fims-query-form
      ng-if="!$ctrl.teamQuery"
      params="$ctrl.params"
      projects="$ctrl.projects"
      entities-for-download="$ctrl.downloadableEntities(entities)"
      on-new-results="$ctrl.handleNewResults(results, entity, isAdvancedSearch)"
      team-id="$ctrl.teamIdNum"
      query-map="$ctrl.queryMap"
      class="query-form"
      expeditions="$ctrl.expeditions"
      markers="$ctrl.markers"
      filter-options="$ctrl.filterOptions"
      toggle-loading="$ctrl.toggleLoading(val)"
      layout-padding
    ></fims-query-form>
  </md-sidenav>

  <!-- sidebar toggle -->
  <div class="sidebar-toggle">
    <md-button class="md-raised" ng-click="$ctrl.toggleSidebar()">
      <md-tooltip md-direction="right">{{ $ctrl.sidebarToggleToolTip }}</md-tooltip>
      <md-icon
        md-font-icon="fa {{ $ctrl.showSidebar ? 'fa-chevron-left' : 'fa-chevron-right' }}"
      ></md-icon>
    </md-button>
  </div>

  <!-- main content-->
  <div flex layout="column" class="query-content">
    <md-progress-circular ng-show="$ctrl.loading" md-mode="indeterminate"></md-progress-circular>

    <!-- map -->
    <fims-map ng-show="$ctrl.showMap" flex layout="row" map-instance="$ctrl.queryMap"></fims-map>

    <!-- table -->
    <md-content>
      <fims-query-table
        ng-show="$ctrl.showTable && $ctrl.teamIdNum !== 45"
        class="query-table"
        ng-class="{'full-page-query-table': !$ctrl.showSidebar}"
        results="$ctrl.results"
        entity="$ctrl.entity"
      ></fims-query-table>
      <!--For now, we just use team table for amphibian disease-->
      <fims-team-query-table
        ng-show="$ctrl.showTable && $ctrl.teamIdNum === 45"
        class="query-table"
        ng-class="{'full-page-query-table': !$ctrl.showSidebar}"
        results="$ctrl.results"
      ></fims-team-query-table>

       <!-- photo -->
    <md-content>
      <fims-query-photo
        ng-show="$ctrl.showPhoto"
        class="query-photo"
        ng-class="{'full-page-query-photo': !$ctrl.showSidebar}"
        results="$ctrl.results"
        entity="$ctrl.entity"
      ></fims-query-photo>
    </md-content>

  </div>
</div>
