<ul class="form-group list-inline list-unstyled">
  <li class="" ng-repeat="expedition in selectedExpeditions">
    <div class="input-group input-group-sm list-item">
      <input type="text" readonly class="form-control" value="{{expedition}}" />
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="removeExpedition(expedition)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </li>
</ul>

<div class="dropdown" ng-class="{open:isVisible}">
  <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <input type="text" placeholder="Expedition Name ..." ng-model="filterTerm" ng-change="filterExpeditions()"
      class="form-control" />
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" ng-click="isVisible = !isVisible">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </div>
  </div>
  <div ng-show="isVisible" class="dropdown-menu list-group scrollable-menu">
    <ul class="list-unstyled">
      <li ng-repeat="expedition in filteredExpeditions | orderBy: expedition track by expedition" typeahead-item="expedition"
        ng-class="{'active': active == expedition}" class="list-group-item">{{ expedition }}
      </li>
      <li ng-show="filteredExpeditions.length === 0" class="list-group-item disabled">No Expeditions Found</li>
    </ul>
  </div>

</div>
