<ul class="form-group list-inline list-unstyled">
  <li class="" ng-repeat="expedition in typeahead.selectedExpeditions">
    <!--<div class="btn-group list-item">-->
    <div class="input-group list-item">
      <input type="text" readonly class="form-control" value="{{expedition}}" />
      <!--<button type="button" class="btn btn-default">{{expedition}}</button>-->
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="typeahead.removeExpedition(expedition)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </li>
</ul>

<div class="dropdown" ng-class="{open:typeahead.isVisible}">
  <button type="button" ng-click="typeahead.isVisible = !typeaheadisVisible" class="btn btn-primary dropdown-toggle">
    Add Expedition
    <span class="caret"></span>
  </button>
  <div ng-show="typeahead.isVisible" class="dropdown-menu list-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input type="text" placeholder="Search ..." ng-model="typeahead.filterTerm" ng-change="typeahead.filterExpeditions()"
        class="form-control" />
    </div>
    <ul class="list-unstyled">
      <li ng-repeat="expedition in typeahead.filteredExpeditions track by expedition" typeahead-item="expedition"
        class="list-group-item">{{ expedition }}
      </li>
    </ul>
  </div>

</div>
