<div layout-fill layout="column" class="admin dashboard">
  <section class="heading">
    <div class="text-center">
      <h2 class="text-center">Dashboard</h2>
      Click on project title to view more
    </div>
  </section>

  <section>
    <div class="settings-bar">
      <ul class="nav nav-pills">
        <li><a href ui-sref=".myProjects" ui-sref-active="active">Projects I Own</a></li>
        <li><a href ui-sref=".publicProjects" ui-sref-active="active">All Public Projects</a></li>
        <li>
          <a href ui-sref=".memberProjects" ui-sref-active="active">Projects I'm a Member Of</a>
        </li>
      </ul>
    </div>

    <div
      ui-view="myProjects"
      ng-cloak
      current-user="$ctrl.currentUser"
      current-project="$ctrl.currentProject"
    ></div>

    <div ui-view="publicProjects" ng-cloak current-project="$ctrl.currentProject"></div>

    <div
      ui-view="memberProjects"
      ng-cloak
      current-user="$ctrl.currentUser"
      current-project="$ctrl.currentProject"
    ></div>
  </section>
</div>
