<table class="table attributes-table">
    <thead>
        <th></th>
        <th>Name</th>
        <th>Level</th>
        <th>Metadata</th>
    </thead>

    <tbody>
        <tr ng-repeat="rule in $ctrl.rules track by $index"
            id="rule_{{ $index }}"
            uib-popover-template="'editRule.html'"
            popover-is-open="$index===$ctrl.editRule"
            popover-placement="auto bottom"
            popover-trigger="'none'"
            popover-class="edit-popover">
            <td class="row-actions">
                <a href="#" ng-click="$ctrl.handleToggleEdit($index)"><i class="fa fa-pencil fa-fw"></i></a>
                <a href="#" class="delete" ng-click="$ctrl.handleOnDelete($index)"><i
                        class="fa fa-trash text-danger fa-fw"></i></a>
            </td>
            <td ng-click="$ctrl.handleToggleEdit($index)">{{ rule.name }}</td>
            <td ng-click="$ctrl.handleToggleEdit($index)">{{ rule.level }}</td>
            <td ng-click="$ctrl.handleToggleEdit($index)">
                <ul class="list-inline">
                    <li ng-repeat="(key, value) in rule.metadata()">
                        <strong class="text-capitalize">{{ key }}:</strong>
                        <span ng-if="$ctrl.isArray(value)">{{ value.join(', ') }}</span>
                        <span ng-if="!$ctrl.isArray(value)">{{ value }}</span>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/ng-template" id="editRule.html">
    <fims-edit-rule
        rule="rule"
        lists="$ctrl.lists"
        columns="$ctrl.columns"
        on-update="$ctrl.handleOnUpdate($index, rule)"
        on-close="$ctrl.handleToggleEdit($index)">
    </fims-edit-rule>
</script>
