<div class="text-center">
  <h2>Requested Resource is Forbidden</h2>
  <p>
    The resource you are looking for is marked as private and you are not logged in with appropriate
    permissions to view this resource. <br />If you are attempting to access a private resource, you
    can either make the containing project publicly readable or:
    <br />
    <md-button
      class="small md-raised md-primary"
      ng-click="$ctrl.signIn()"
      align="center"
      style="pointer-events: auto"
      >Sign In
      <md-tooltip md-delay="600" md-direction="bottom">Sign In to see this resource</md-tooltip>
    </md-button>
  </p>
</div>
