section.records{
    height: calc(100vh - 80px);
    overflow:hidden auto;
}
.divider{
    height: 1px;
    width: 100%;
    border: 1px solid grey;
}

.entity-data{
    display: block;
    width: 100%;
    max-width: 180px;
    min-width: 180px;
    word-break: break-word;
}

.col-12.col-md-6.col-lg-4{
    width: 32.5% !important;
}

::ng-deep{
    .main-details gallery-core{ background-color: #fff; }
    
    gallery-core{ gap: 10px !important; }
}

.pl-10{
    padding-left: 10px !important;
    margin-top: 10px !important;
}
