<div layout="row" class="loading-overlay" ng-show="$ctrl.loading" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div layout="column" class="record-detail" ng-show="!$ctrl.loading">
  <h3>
    {{ $ctrl.record.entity }} {{ $ctrl.getIdentifier($ctrl.record) }}
    <span
      ng-if="$ctrl.invalidUrl && $ctrl.record.entity === 'Sample_Photo'"
      class="alert alert-danger"
      role="alert"
    >
      <i class="fa fa-exclamation-circle"></i>
      Original Url is invalid
    </span>
    <span
      ng-if="$ctrl.record.processed === 'false' && ($ctrl.record.entity === 'Sample_Photo' || $ctrl.record.entity === 'Event_Photo')"
      class="alert alert-warning"
      class="text-center"
      role="alert"
    >
      <i class="fa fa-exclamation-circle"></i>
      Image is still being processed
    </span>
  </h3>

  <div class="main-details" layout="row" layout-align="center center">
    <div ng-if="$ctrl.record.img1024" flex="100">
      <a href="{{ $ctrl.record.img1024 }}"><img ng-src="{{ $ctrl.record.img512 }}"/></a>
    </div>
    <div
      ng-if="$ctrl.record.originalUrl && !$ctrl.invalidUrl && $ctrl.record.processed !== 'false'"
      flex="100"
    >
      <a href="{{ $ctrl.record.img1024 }}"><img ng-src="{{ $ctrl.record.originalUrl }}"/></a>
    </div>
    <table ng-if="!$ctrl.record.originalUrl" flex="100">
      <tbody>
        <tr ng-repeat="(key, value) in $ctrl.mainRecordDetails() track by key">
          <th>{{ key }}:</th>
          <td ng-if="value.href && value.text" class="truncate">
            <a href="{{ value.href }}" target="_blank">{{ value.text }}</a>
          </td>
          <td ng-if="!value.href || !value.text">
            <div class="truncate">
              <md-tooltip
                md-direction="top"
                class="fix-placement"
                text-overflow-tooltip
                md-visible="false"
                >{{ value.text }}</md-tooltip
              >
              {{ value.text || 'N/A' }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div flex="100" ng-if="$ctrl.photos">
      <ng-image-gallery images="$ctrl.photos" inline="true" img-Bubbles="true" bubble-size="64">
      </ng-image-gallery>
    </div>
  </div>

  <md-divider ng-if="$ctrl.auxiliaryRecordDetails(0)"></md-divider>

  <div ng-if="$ctrl.auxiliaryRecordDetails(0)" layout="row" class="auxiliary-details">
    <table flex>
      <tbody>
        <tr ng-repeat="(key, value) in $ctrl.auxiliaryRecordDetails(0) track by key">
          <th
            ng-class="{'error': key === 'imageProcessingErrors' && ($ctrl.record.entity === 'Sample_Photo' || $ctrl.record.entity === 'Event_Photo')}"
          >
            {{ key }}:
          </th>
          <td ng-class="{'sequence': key === 'sequence'}">
            <md-tooltip
              md-direction="top"
              class="fix-placement"
              text-overflow-tooltip
              md-visible="false"
              >{{ value.text || value }}</md-tooltip
            >
            <span ng-if="!value.href">{{ value }}</span>
            <span ng-if="value.href">
              <a href="{{ value.href }}">{{ value.text }}</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Not sure why the following isn't working, but works on the angularjs material docs website -->
    <!-- <table hide show-gt-sm flex class="table table-condensed"> -->
    <table ng-show="$ctrl.$mdMedia('gt-sm')" flex>
      <tbody>
        <tr ng-repeat="(key, value) in $ctrl.auxiliaryRecordDetails(1) track by key">
          <th>{{ key }}:</th>
          <td ng-class="{'sequence': key === 'sequence'}">
            <md-tooltip
              md-direction="top"
              class="fix-placement"
              text-overflow-tooltip
              md-visible="false"
              >{{ value.text || value }}</md-tooltip
            >
            <span ng-if="!value.href">{{ value }}</span>
            <span ng-if="value.href">
              <a href="{{ value.href }}">{{ value.text }}</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <md-divider ng-if="$ctrl.parentDetail"></md-divider>

  <div class="parent-details horizontal-description-list" ng-if="$ctrl.parentDetail">
    <h4>Parent {{ $ctrl.parent.entity }}</h4>
    <div layout="row">
      <dl flex layout="row">
        <dt ng-repeat-start="(key, value) in $ctrl.parentDetail track by key">{{ key }}:</dt>
        <dd ng-repeat-end>
          <span ng-if="!value.href">{{ value.text || 'N/A' }}</span>
          <span ng-if="value.href">
            <a href="{{ value.href }}">{{ value.text || 'N/A' }}</a>
          </span>
        </dd>
      </dl>
    </div>
  </div>

  <md-divider ng-if="$ctrl.childDetails"></md-divider>

  <div class="child-details horizontal-description-list" ng-if="$ctrl.childDetails">
    <h4>Child Entities</h4>
    <div class="entity-group" ng-repeat="(entity, children) in $ctrl.childDetails track by entity">
      <div layout="row" ng-repeat="child in children track by $index">
        <span class="entity">{{ entity }}</span>
        <dl flex layout="row">
          <dt ng-repeat-start="(key, value) in child track by key">{{ key }}:</dt>
          <dd ng-repeat-end>
            <span ng-if="!value.href">{{ value.text || 'N/A' }}</span>
            <span ng-if="value.href">
              <a href="{{ value.href }}">{{ value.text || 'N/A' }}</a>
            </span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
