<div layout="row" class="loading-overlay" ng-show="$ctrl.loading" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<root-record ng-if="$ctrl.rootRecord" record="$ctrl.record"></root-record>
<div class="record-detail" layout="column" ng-show="!$ctrl.loading" ng-if="$ctrl.record.entity">
  <div class="photo-error-labels" ng-if="$ctrl.record.photoID">
    <div ng-if="$ctrl.invalidPhoto" class="alert alert-danger text-center text-large" role="alert">
      <i class="fa fa-exclamation-circle"></i>
      An error occurred while processing this image.
    </div>
    <div
      ng-if="$ctrl.record.processed === 'false'"
      class="alert alert-warning text-center text-large"
      role="alert"
    >
      <i class="fa fa-exclamation-circle"></i>
      Image is processing.
    </div>
  </div>
  <div layout="row">
    <h3>{{ $ctrl.record.entity }} {{ $ctrl.getIdentifier($ctrl.record) }}</h3>
    <notice-label ng-if="$ctrl.record.traditionalKnowledgeNotice === 'TRUE'"></notice-label>
  </div>
  <div
    class="main-details"
    layout="row"
    layout-sm="column"
    layout-xs="column"
    layout-align="center center"
  >
    <md-card
      class="photo-entity"
      ng-if="$ctrl.record.photoID && $ctrl.record.processed !== 'false' && !$ctrl.invalidPhoto"
      flex
      layout-padding
    >
      <a href="{{ $ctrl.record.img1024 }}">
        <img ng-if="$ctrl.record.img1024" ng-src="{{ $ctrl.record.img512 }}"/>
      </a>
    </md-card>
    <md-card layout-padding flex ng-class="$ctrl.record.entity">
      <table class="table">
        <tbody>
        <tr ng-if="$ctrl.invalidPhoto && $ctrl.record.originalUrl.includes('base64')">
          <th class="text-danger">Error Detail:</th>
          <td>GEOME does not support base64 encoded images</td>
        </tr>
        <tr ng-repeat="(key, value) in $ctrl.mainRecordDetails() track by key">
          <th>{{ key }}:</th>
          <td ng-if="value.href && value.text" class="truncate">
            <a href="{{ value.href }}" target="_blank">{{ value.href }}</a>
          </td>
          <td ng-if="!value.href || !value.text">
            <div class="truncate">
              <md-tooltip
                md-direction="top"
                class="fix-placement"
                text-overflow-tooltip
                md-visible="false"
              >{{ value.text }}
              </md-tooltip
              >
              {{ value.text || 'N/A' }}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </md-card>
    <md-card layout-padding flex ng-if="$ctrl.photos.length > 0" ng-class="$ctrl.entity">
      <ng-image-gallery images="$ctrl.photos" inline="true" img-Bubbles="true" bubble-size="64">
      </ng-image-gallery>
    </md-card>
    <md-card class="map-container" ng-if="$ctrl.record.entity === 'Event'" flex>
      <fims-map class="record-map" map-instance="$ctrl.map"></fims-map>
    </md-card>

    <md-card ng-if="$ctrl.getLocalContextsPresent()" flex layout-padding>
      <div id=localContextsLabels style="max-height:300px; overflow:scroll">
        <div id="localContextsHeader"><i>Loading Local Contexts Data...</i></div>
        <!--<i>{{$ctrl.getLocalContextsDetails()['title']}}</i>
        <div style='display:block;height:75px;overflow:scroll;'
                     ng-repeat="(key, value) in $ctrl.getLocalContextsDetails()['notice']">
                  <img
                    ng-click="$ctrl.showLabelMessage(value['name'],value['default_text'])"
                    src="{{value['img_url']}}"
                    height=70
                    style="padding: 4px; max-height: 70px; float: left; ">
                  <a href="{{$ctrl.getLocalContextsDetails()['project_page']}}" target="_blank">{{value['name']}}</a>
                </div>
        <div style='display:block;height:75px;overflow:scroll;'
             ng-repeat="(key, value) in $ctrl.getLocalContextsDetails()['bc_labels']">
          <img
            ng-click="$ctrl.showLabelMessage(value['name'],value['label_text'])"
            src="{{value['img_url']}}"
            height=70
            style="padding: 4px; max-height: 70px; float: left; ">
          <a href="{{$ctrl.getLocalContextsDetails()['project_page']}}" target="_blank">{{value['name']}}</a>
          <p><i>{{value['community']}}</i></p>
        </div>
        <div style='display:block;height:75px;overflow:scroll;'
             ng-repeat="(key, value) in $ctrl.getLocalContextsDetails()['tk_labels']">
          <img
            ng-click="$ctrl.showLabelMessage(value['name'],value['label_text'])"
            src="{{value['img_url']}}"
            height=70
            style="padding: 4px; max-height: 70px; float: left; ">
          <a href="{{$ctrl.getLocalContextsDetails()['project_page']}}" target="_blank">{{value['name']}}</a>
          <p><i>{{value['community']}}</i></p>
        </div>
        -->
      </div>
    </md-card>
  </div>


  <md-divider ng-if="$ctrl.auxiliaryRecordDetails(0)"></md-divider>

  <div ng-if="$ctrl.auxiliaryRecordDetails(0)" layout="row" class="auxiliary-details">
    <table flex>
      <tbody>
      <tr ng-repeat="(key, value) in $ctrl.auxiliaryRecordDetails(0) track by key">
        <th ng-class="{'text-danger': key === 'imageProcessingErrors'}">{{ key }}:</th>
        <td ng-class="{'sequence': key === 'sequence'}">
          <md-tooltip
            md-direction="top"
            class="fix-placement"
            text-overflow-tooltip
            md-visible="false"
          >{{ value.text || value }}
          </md-tooltip
          >
          <span ng-if="!value.href">{{ value }} </span>
          <span ng-if="value.href">
              <a href="{{ value.href }}" target="_blank">{{ value.text }}</a>
            </span>
        </td>
      </tr>
      </tbody>
    </table>
    <table ng-show="$ctrl.$mdMedia('gt-sm')" flex>
      <tbody>
      <tr
        ng-if="$ctrl.record.genus && $ctrl.record.specificEpithet && !$ctrl.record.scientificName"
      >
        <th>scientificName:</th>
        <td>{{$ctrl.record.genus}} {{$ctrl.record.specificEpithet}}</td>
      </tr>
      <tr ng-repeat="(key, value) in $ctrl.auxiliaryRecordDetails(1) track by key">
        <th>{{ key }}:</th>
        <td ng-class="{'sequence': key === 'sequence'}">
          <md-tooltip
            md-direction="top"
            class="fix-placement"
            text-overflow-tooltip
            md-visible="false"
          >{{ value.text || value }}
          </md-tooltip
          >
          <span ng-if="!value.href">{{ value }}</span>
          <span ng-if="value.href">
              <a href="{{ value.href }}" target="_blank">{{ value.text }}</a>
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <md-divider ng-if="$ctrl.parentDetail"></md-divider>

  <div class="parent-details horizontal-description-list" ng-if="$ctrl.parentDetail">
    <h4>Parent {{ $ctrl.parent.entity }}</h4>
    <div layout="row">
      <dl flex layout="row">
        <dt ng-repeat-start="(key, value) in $ctrl.parentDetail track by key">{{ key }}:</dt>
        <dd ng-repeat-end>
          <span ng-if="!value.href">{{ value.text || 'N/A' }}</span>
          <span ng-if="value.href">
            <a href="{{ value.href }}">{{ value.text || 'N/A' }}</a>
          </span>
        </dd>
      </dl>
    </div>
  </div>

  <md-divider ng-if="$ctrl.childDetails"></md-divider>

  <div class="child-details horizontal-description-list" ng-if="$ctrl.childDetails">
    <h4>Child Entities</h4>
    <div class="entity-group" ng-repeat="(entity, children) in $ctrl.childDetails track by entity">
      <div layout="row" ng-repeat="child in children track by $index">
        <span class="entity">{{ entity }}</span>
        <dl flex layout="row">
          <dt ng-repeat-start="(key, value) in child track by key">{{ key }}:</dt>
          <dd ng-repeat-end>
            <span ng-if="!value.href">{{ value.text || 'N/A' }}</span>
            <span ng-if="value.href">
              <a href="{{ value.href }}">{{ value.text || 'N/A' }}</a>
            </span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
