<div class="container">
    <div id="warning"></div>
    <div class="row">
        <h3 class="page-header">Validate and Load Data</h3>

        <div class="col-xs-12">
            <uib-tabset active="vm.activeTab">
                <uib-tab index="-1" heading="" disable="true" classes="col-xs-offset-1 hidden-tab"></uib-tab>

                <!-- Validation Tab -->
                <uib-tab index="0" heading="Validate">
                    <form role="form" name="validateForm" class="form-horizontal" ng-submit="vm.validate()">

                        <ng-include src="'app/components/validation/templates/data.tpl.html'"></ng-include>

                        <div class="form-group">
                            <div class="col-xs-1 col-xs-offset-9">
                                <button type="submit" class="btn btn-default pull-right">Validate</button>
                            </div>
                        </div>
                    </form>
                </uib-tab>

                <!-- Upload Tab -->
                <uib-tab index="1" heading="Upload">

                    <form role="form" name="vm.uploadForm" class="form-horizontal" novalidate ng-submit="vm.upload()">

                        <ng-include src="'app/components/validation/templates/data.tpl.html'"></ng-include>

                        <div class="form-group" ng-show="vm.project">
                            <div class="col-xs-offset-3">
                                <div class="col-xs-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="isPublic" ng-model="vm.expedition.public"/>
                                        <span class="control-label">Public Expedition?</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr ng-show="vm.project" class="separator"/>

                        <div class="form-group">
                            <div class="col-xs-1 col-xs-offset-9">
                                <button type="submit" class="btn btn-primary pull-right">Upload</button>
                            </div>
                        </div>

                    </form>
                </uib-tab>

                <!-- Results Tab -->
                <uib-tab index="2" heading="Results" disable="!vm.displayResults">
                    <div class="col-xs-11 col-xs-offset-1"
                         ng-include="'app/components/validation/results/results.tpl.html'">
                    </div>
                </uib-tab>
            </uib-tabset>


            <div id='map' style="height:400px;width:600px;"></div>
        </div>
    </div>
</div>
