<div class="panel-danger">
  <div class="modal-header panel-heading text-center">
    <h3 class="modal-title">Warning!</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to remove <strong>{{vm.username}}</strong> from this project? They will no
    longer have access.
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="vm.remove()">REMOVE</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
  </div>
</div>
