<h3>Definition</h3>

<p>Click on "DEF" next to any of the headings to see the definition of the term.</p>

<div ng-show="$ctrl.attribute">
  <p>
    <strong>Column Name:</strong> {{ $ctrl.attribute.column }}
    <br />
    <span  
      ><strong>Defined By:</strong>
      <span ng-show="$ctrl.attribute.definedBy.indexOf('urn:') > -1">{{ $ctrl.attribute.definedBy }} (This term is defined by GEOME).</span>
      <a ng-hide="$ctrl.attribute.definedBy.indexOf('urn:') > -1"  href="{{ $ctrl.attribute.definedBy }}" target="_blank" >
        {{ $ctrl.attribute.definedBy }}</a
      >
    </span>
  </p>

  <p><strong>Definition</strong></p>
  <p>{{ $ctrl.attribute.definition }}</p>

  <div ng-show="$ctrl.rules.length > 0">
    <p><strong>Validation Rules</strong></p>
    <ul class="list-unstyled" ng-repeat="rule in $ctrl.rules">
      <li><strong>Type:</strong> {{ rule.name }}</li>
      <li><strong>Level:</strong> {{ rule.level }}</li>
      <li ng-if="rule.listName">
        <strong>list:</strong>
        <ul>
          <li ng-repeat="field in $ctrl.getListFields(rule.listName)">{{ field.value }}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
