<hr class="separator" />
<div class="col-sm-8">
  <div ng-repeat="d in $ctrl.data track by $index">
    <div class="form-group" show-errors="{trigger: 'change'}">
      <label for="fasta" class="col-sm-3 control-label">FASTA Data</label>
      <div class="col-sm-9">
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-default form-control">Browse &hellip;</span>
            <input
              type="file"
              style="display:none;"
              id="fasta"
              name="fasta_{{$index}}"
              class="form-control"
              ng-change="$ctrl.dataChanged()"
              ngf-select
              ngf-pattern="'.fa,.mpfa,.fna,.fsa,.fas,.fasta,.txt'"
              ngf-model-invalid="invalidFastaFile_{{$index}}"
              required
              ng-model="$ctrl.data[$index].file"
            />
          </label>
          <input
            type="text"
            class="form-control"
            ng-value="$ctrl.data[$index].file.name || invalidFastaFile_{{$index}}.name"
            readonly
          />
        </div>
        <p
          class="help-block small col-sm-offset-3"
          ng-show="$ctrl.form.fasta_{{$index}}.$error.pattern"
        >
          File must have one of the following extensions: .fa, .mpfa, .fna, .fsa, .fas, .fasta, or
          .txt
        </p>
      </div>
    </div>

    <div class="form-group" show-errors>
      <label for="fastaMarker" class="col-sm-3 control-label">Marker</label>
      <div class="col-sm-9">
        <select
          class="form-control"
          id="fastaMarker"
          name="fastaMarker_{{$index}}"
          ng-model="$ctrl.data[$index].marker"
          ng-change="$ctrl.dataChanged()"
          required
          ng-options="marker.value as marker.value for marker in $ctrl.markers"
        >
          <option value="">-- Select a Marker --</option>
        </select>
      </div>
      <md-button class="md-icon-button sequence-help-link md-popover-button">
        <md-popover
          md-popover-class="fasta-help"
          md-popover-group="fastaHelp"
          md-direction="bottom"
        >
          <div ng-include="'fasta-help.popover.html'"></div>
        </md-popover>
        <md-icon md-font-icon="fa fa-question-circle fa-sm"></md-icon>
      </md-button>
    </div>
    <div class="col-xs-12">
      <button
        type="button"
        class="btn btn-primary btn-sm pull-right"
        ng-show="$last"
        ng-click="$ctrl.addData()"
      >
        <span class="fa fa-plus"></span>
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm pull-right"
        ng-show="$last && $ctrl.data.length > 1"
        ng-click="$ctrl.removeData()"
      >
        <span class="fa fa-minus"></span>
      </button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <ul>
    <li class="list-unstyled big">
      <strong>Instructions:</strong>
    </li>
    <li>The name of your fasta sequences must match the tissue identifiers in the metadata file</li>
    <li>You can include multiple taxa in a single fasta/metadata file</li>
    <li>
      Each fasta file can only include data from a single marker type (e.g. CO1, CYB, etc). If you
      have multiple markers for the same taxa you must upload multiple fasta files for a single
      metadata file.
    </li>
  </ul>
</div>

<!----------------------------
help templates
 ---------------------------->

<script type="text/ng-template" id="fasta-help.popover.html">
  <div>
      <table class="table table-condensed">
          <thead>
          <tr>
              <th>Marker</th>
              <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="field in $ctrl.markers track by field.value">
              <td>{{ ::field.value }}</td>
              <td>{{ ::field.definition}}</td>
          </tr>
          </tbody>
      </table>
  </div>
</script>
