<p class="text-center">The validate option checks that all required fields are complete and that each materialSampleID is unique</p>

<form role="form" name="validateForm" class="form-horizontal" ng-submit="$ctrl.validate()">

    <fims-metadata fims-metadata="$ctrl.fimsMetadata" required="false" on-change="$ctrl.onMetadataChange({ fimsMetadata: fimsMetadata })">
    </fims-metadata>

    <div class="col-xs-8">
        <div class="col-xs-12">
            <button type="submit" class="md-button md-raised md-primary pull-right">Validate</button>
        </div>
    </div>
</form>