<section id="team-container" class="p-3 pt-4 mb-3 container-bg shadow">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h4 class="m-0 text-center mb-4">Team {{currentProject?.projectConfiguration.name}} Overview</h4>
            <p class="mt-2 mb-4 text-center ps-4">{{currentProject?.projectConfiguration.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p class="proj-1">Administrator</p>
        </div>
        <div class="col-lg-10"><p class="proj-2">{{currentProject?.projectConfiguration.user?.firstName || '-'}} {{currentProject?.projectConfiguration.user?.lastName}}</p></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p class="proj-1">Contact</p>
        </div>
        <div class="col-lg-10"><p class="proj-2">{{currentProject?.projectConfiguration.user.email}}</p></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @if(projectStats && projectStats.length > 0){
                <div class="table-container-section custom-table-container">
                    <h4 class="table-proj">Projects</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-center">Samples</th>
                                <th class="text-center">Project Owner</th>
                                <th class="text-center">Latest Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(project of projectStats; track project.projectId){
                                <tr class="cursor-pointer" (click)="selectProject(project)">
                                    <td class="text-primary text-eclipse" style="max-width: 300px;">{{project.projectTitle}}</td>
                                    <td class="text-center">{{project.entityStats.SampleCount}}</td>
                                    <td class="text-center">{{project.user.username}}</td>
                                    <td class="text-center">{{project.latestDataModification ? (project.latestDataModification | date:'shortDate') : 'N/A'}}</td>
                                </tr>
                            }
                            <!-- <tr>
                                <td><a href="#">Bionetwork</a></td>
                                <td>165</td>
                                <td>OanhTruong</td>
                                <td>2019-04-17</td>
                            </tr>
                            <tr>
                                <td><a href="#">Diversity of the IndoPacific</a></td>
                                <td>39316</td>
                                <td>dipnetCurator</td>
                                <td>2023-03-03</td>
                            </tr>
                            <tr>
                                <td><a href="#">Environmental DNA</a></td>
                                <td>380</td>
                                <td>Michelle Gaither</td>
                                <td>2021-10-07</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            }
            @else{
                <p class="proj-2">No Projects Found.</p>
            }
        </div>
    </div>
    </div>
</section>