<md-card>
  <md-card-content>
    <md-card-title class="md-headline" layout-align="center">
      <span>{{ $ctrl.currentUser.username }}'s Expeditions</span>
    </md-card-title>
    <p align="center">
      The following expeditions belong to
      <strong>{{ $ctrl.currentUser.username }}</strong>
      and may not represent a comprehensive list of expeditions for this project, which can be found
      under
      <br />
      <md-button href ui-sref="overview">
        <md-icon md-font-icon="fa fa-desktop fa-fw"></md-icon>
        Project Overview
      </md-button>
    </p>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <div align="center">
      <p ng-if="$ctrl.expeditions.length === 0">You do not have any expeditions yet</p>
      <md-button class="md-primary md-raised" ng-click="$ctrl.createExpedition()">
        <md-icon md-font-icon="fa fa-plus fa-fw"></md-icon>
        CREATE EXPEDITION
      </md-button>
    </div>
  </md-card-content>
</md-card>
<md-card class="list-group">
  <md-card-content>
      <a
        class="list-group-item clearfix"
        ng-repeat="expedition in $ctrl.expeditions"
        href
        ui-sref="expeditions.detail({ id: expedition.expeditionId })"
      >
        <div class="col-xs-6">
          <md-tooltip
            >Click to change title, permissions or collaborators for expedition
            {{expedition.expeditionTitle}}</md-tooltip
          >
          <h4 class="list-group-item-heading">{{ expedition.expeditionTitle }}</h4>
          <strong>Code:</strong> {{ expedition.expeditionCode }}
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled">
            <li><strong>Identifier: </strong>http://n2t.net/{{ expedition.identifier }}</li>
            <li>
              <strong>Visibility: </strong>
              {{ expedition.visibility }}
            </li>
          </ul>
        </div>
      </a>
    </p></md-card-content
  >
</md-card>
