
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg12">
                <div class="proj-config">
                <h3 class="mek-hed1">Project configuration</h3>
                <p class="mek-hed1">Here you can view and edit the configuration for your project. Any changes will only be enforced for new data loads.</p>
            </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="proj-config">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button ngbNavLink>Entities</button>
                    <ng-template ngbNavContent>
                        <div class="mt-4">
                            <ul class="list-group">
                                <li class="list-group-box d-flex align-items-center">
                                    <div class="d-flex align-items-center events-first">
                                        <a href="#" class="me-2 arrow-icons"><i class="fa fa-arrows"></i></a>
                                        <a href="#" class="me-2 arrow-icons"><i class="fa fa-pencil"></i></a>
                                    </div>
                                    <div class="third-list">
                                        <a href="/workbench/config/entities/Event/" class="event-hed">Event</a>
                                        <ul class="work-list">
                                            <li><strong>worksheet:</strong>Samples</li>
                                            <li><strong>uniqueAcrossProject:</strong> false</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="list-inline mb-0">
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/attributes">
                                                    <span class="badge bg-primary">92</span> Attributes
                                                </a>
                                            </li>
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/rules">
                                                    <span class="badge bg-success">18</span> Rules
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-box d-flex align-items-center">
                                    <div class="d-flex align-items-center events-first">
                                        <a href="#" class="me-2 arrow-icons"><i class="fa fa-arrows"></i></a>
                                        <a href="#" class="me-2 arrow-icons"><i class="fa fa-pencil"></i></a>
                                    </div>
                                    <div class="third-list">
                                        <a href="/workbench/config/entities/Event/" class="event-hed">Event</a>
                                        <ul class="work-list">
                                            <li><strong>worksheet:</strong>Samples</li>
                                            <li><strong>uniqueAcrossProject:</strong> false</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="list-inline mb-0">
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/attributes">
                                                    <span class="badge bg-primary">92</span> Attributes
                                                </a>
                                            </li>
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/rules">
                                                    <span class="badge bg-success">18</span> Rules
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink>Expedition Properties</button>
                    <ng-template ngbNavContent>
                        <div class="custom-table-container">
                            <table class="table table-bordered align-middle custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name <span>↑</span></th>
                                        <th>Type</th>
                                        <th>Required</th>
                                        <th><button class="prop-btn"><a href="#" class="text-primary">+ ADD NEW PROPERTY</a></button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="action-icon edit-icon"><i class="fa-solid fa-pencil"></i></span>
                                            <span class="action-icon delete-icon"><i class="fa-solid fa-trash"></i></span>
                                        </td>
                                        <td>Test</td>
                                        <td>STRING</td>
                                        <td>
                                            <input type="checkbox" checked disabled>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                          
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <button ngbNavLink>Lists</button>
                    <ng-template ngbNavContent>
                        <div class="mt-4">
                            <div class="add-btn">
                                <button class="prop-btn">
                                    <a href="#" class="text-primary">+ ADD LIST</a>
                                </button>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-box list-section d-flex align-items-center">
                                    <div class="work-boxes">
                                        <a href="/workbench/config/entities/Event/" class="event-hed">_LS454</a>
                                        <ul class="work-list">
                                            <li><strong>caseSensitive:</strong> true</li>
                                            <li><strong>isNetworkList: </strong> true</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="list-inline mb-0">
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/attributes">
                                                    <span class="badge bg-primary">6</span> Fields
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-box list-section d-flex align-items-center">
                                    <div class="work-boxes">
                                        <a href="/workbench/config/entities/Event/" class="event-hed">ABI_SOLID</a>
                                        <ul class="work-list">
                                            <li><strong>caseSensitive:</strong> true</li>
                                            <li><strong>isNetworkList: </strong> true</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="list-inline mb-0">
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/attributes">
                                                    <span class="badge bg-primary">10</span> Fields
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-box list-section d-flex align-items-center">
                                    <div class="work-boxes">
                                        <a href="/workbench/config/entities/Event/" class="event-hed">ageUnit</a>
                                        <ul class="work-list">
                                            <li><strong>caseSensitive:</strong> true</li>
                                            <li><strong>isNetworkList: </strong> true</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="list-inline mb-0">
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/attributes">
                                                    <span class="badge bg-primary">5</span> Fields
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-box list-section d-flex align-items-center">
                                    <div class="work-boxes">
                                        <a href="/workbench/config/entities/Event/" class="event-hed">basisOfIdentification</a>
                                        <ul class="work-list">
                                            <li><strong>caseSensitive:</strong> true</li>
                                            <li><strong>isNetworkList: </strong> true</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="list-inline mb-0">
                                            <li class="lists-attributes">
                                                <a href="/workbench/config/entities/Event/attributes">
                                                    <span class="badge bg-primary">3</span> Fields
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <button ngbNavLink>Setting</button>
                    <ng-template ngbNavContent>
                        <div class="mt-4 ps-4">
                            <div class="form-check master-conf">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="masterConfig">
                                    Master Configuration?
                                </label>
                                <p class="form-text text-muted">
                                    Master Configurations are for subscribing teams only. This enables team collaboration and multiple projects to be created using the same configuration.
                                    See <a href="/about#subscriptions" class="text-decoration-none">our about page</a> for more information.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
</div>
</div>
</div>
</section>