/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// @import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: #000 !important;
}

:root,[data-bs-theme="light"]{
    --primary-color: #2196f3;
    --warn-color: #ff6d00;
    --section-background: #fff;
    --body-background: #fafafa;
}

body{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //"Roboto", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    background-color: var(--body-background);
    overflow: hidden;
}

::ng-deep ngb-modal-window.d-block.modal.no-backdrop.fade.show{
    background-color: #00000080;
}

.custom-popover{
    padding: 10px 15px !important;
    font-size: 13px;
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
    .popover-body{
        padding: 0px !important;
    }
    &.small-size{
        max-height: 300px;
        overflow: hidden auto;
    }
    &.fastq .popover-body{
        padding: 0px var(--bs-popover-header-padding-x) !important;
    }
}

.container-bg{ background-color: var(--section-background); }

.primary-text{ color: var(--primary-color) !important;}
.warn-text{ color: var(--warn-color) !important;}

.f-11{ font-size: 11px !important; }
.f-12{ font-size: 12px !important; }
.f-14{ font-size: 14px !important; }
.f-15{ font-size: 15px !important; }
.f-16{ font-size: 16px !important; }
.f-18{ font-size: 18px !important; }
.f-20{ font-size: 20px !important; }
.f-25{ font-size: 25px !important; }
.f-30{ font-size: 30px !important; }

.h-0{ height: 0px; overflow: hidden;}
.w-0{ width: 0px; overflow: hidden;}

.cursor-pointer{ cursor: pointer; }

.base-text-color{ color: rgba(0, 0, 0, 0.67); }

a{ text-decoration: none; }

.text-eclipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-floating > .form-select {
    padding-top: 1.25rem !important;
}

// Theme Button
.btn-primary.custom{
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: #1e88e5;
    --bs-btn-hover-border-color: #1e88e5;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #1a87e6;
    --bs-btn-active-border-color: #1a87e6;
}

// loader
.map-section .loader{
    z-index: 1000;
} 

// Search Bar
.searchBar{
    min-width: 50%;
    max-width: 300px;
}

// Table
.custom-table-container {
    padding: 20px;
    overflow-x: auto;
    margin-right: 25px;
    padding-bottom: 0px;
}

// Authentication pages
section#login-container, section#register-container, section#resetPass-container, section#dashboard-container, section#teams-list-container, #expedition_modal, section.SRA-sub, section.plates-container, .custom-fields{
    .form-control,
    .form-control-plaintext{
        border: none;
        box-shadow: none;
        border-bottom: 1px solid var(--primary-color);
        border-radius: 0px;
        border-color: #0000001f;
        padding: 0.75rem 0.75rem 0px 0px !important;
        height: calc(3rem + calc(var(--bs-border-width)* 2));
        min-height: calc(3rem + calc(var(--bs-border-width)* 2));
        &:focus{
            border-color: blue;
            ~ label { color: var(--primary-color); }
        }
        &.ng-invalid.ng-touched, .ng-invalid.ng-touched:focus, &.invalid.ng-touched{
            border-color: var(--warn-color);
            ~ label { color: var(--warn-color); }
        }
    }

    .form-control:focus,
    .form-control:not(:placeholder-shown),
    .form-control-plaintext,
    .form-select {
        ~ label { transform: scale(0.85) translateY(-1.5rem) translateX(0.15rem) !important; }
    }
}

// Workbench Page
.main-content-container{
    flex: 1;
    max-height: calc( 100vh - 62px );
    overflow-y: auto;
}

.proj-1 {
    font-weight: 600;
    margin-bottom: 10px;
}
.proj-2{
    margin-bottom: 10px;
}
span.biocode-btn {
    background: #029acf;
    padding: 5px 5px;
    color: #fff;
    font-size: 12px;
}

.table-container-section {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0px;
}
.table-container-section .table-proj {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}
.table-container-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.table-container-section th, td {
    text-align: left;
    padding: 10px;
}

.table-container-section td a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}
.table-container-section tr:hover{
background-color: #f5f5f5;
}
.table-container-section td:nth-child(4){
    color: #808080;
    font-size: 12px;
}
.proj-btn-sec {
    text-align: center;
}
button.proj-btn{
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    border: none;
    background: none;
    border-radius: 5px;
    padding: 0px 10px;
}
button.proj-btn:hover{
    background-color: #9e9e9e33;
}
span.pro-over{
    font-size: 14px;
    font-weight: 600;
}
button.proj-btn span.pro-over:hover{
    color: #2196f3;
}
span.desk-icon i {
    color: #0000008a;
    font-size: 14px;
}

.create-btn-sec{
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding: 18px 0px;
    margin: 20px 0 0 0;
}
button.create-btn {
    background: #2196f3;
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}
span.cust-profile{
    margin-right: 10px;
}

.top-hed-prof {
    padding: 10px 0 10px 0;
}

.NordVPN-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 25.94px;
    letter-spacing: 0px;
    color: #000;
    display: block;
    margin: 0 0 10px 0;
}

.input-cus {
    border: 1px solid rgba(204, 204, 204, 1);
    height: 39px;
    border-radius: 6px;
    background-color: transparent;
    font-weight: 500;
    font-size: 15px;
    line-height: 16.86px;
    letter-spacing: 0px;
    color: #4c4c4c;
    width: 100%;
    padding: 8px 12px;
}
.profile-section {
    margin-top: 35px;
    border-top: 1px solid #ddd;
}
.profile-hed {
    padding: 20px 0px;
}
.form-group-div {
    margin-bottom: 20px;
}
button.pro-save {
    border: none;
    background: #2e394b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 15px;
}
.profile-section.change-password {
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
button.pro-save.change-passw {
    background: #777;
}



// New Scss
.Mekong {
    padding: 30px 0 0 0;
}
.col-form-label {
    text-align: end;
}
.mek-hed1{
    color: #444;
}
.accordion-section .accordion-button:not(.collapsed){
    background-color: #fff !important;
    border: none !important;
}
select.form-control.temp-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"><path d="M1.5 5.5l6.5 6 6.5-6H1.5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
    border-radius: 0px;
}
.export-btn {
    background: #2196f3;
    border: none;
}
#flexSwitchCheckDefault {
    width: 50px;
    height: 25px;
    border: none;
}
.form-switch .form-check-input{
    width: 3rem;
    height: 1.5rem;
    margin-top: 0px;
    margin-right: 5px;
}
// .form-switch .form-check-input {
//     background-color: #ddd;
//     border-color: #aaa;
// }
// .form-switch .form-check-input:checked {
//     background-color: #bbb;
//     border-color: #888;
// }
// .form-check.form-switch{
//     display: flex;
//     align-items: center;
// }
.include-prop {
    margin-bottom: 0px;
    padding: 0 0 0 10px;
}
.defin {
    color: #444;
    margin: 30px 0px 10px 0px;
}
.accordion-section {
    margin: 20px 0px 0px 0px;
}
button.save-btn {
    border: none;
    background: none;
    color: #1e88e5;
}
.checkbox-sec {
    margin: 0 0 4px 0;
}
.accordion-section .accordion-item{
    margin: 0 0 10px 0;
}
.save-btn-row {
    margin-bottom: 10px;
}
.accordion-button::after {
    display: none !important;
}
.save-temp {
    margin: 50px 0 0 0;
}


// ================Validate Data==================

.valid-hed {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}
.valid-hed1 {
    margin: 0 0 10px 0;
    color: #000000de;
}
.valid-hed2 {
    margin: 20px 0 10px 0;
    color: #000000de;
}



// =======================SRA Submission====================
.form-container.SRA {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}
.step-list {
    list-style: none;
    padding: 0;
}
.step-list li {
    padding: 10px 0 0 0;
    font-size: 16px;
}
.step-active {
    margin-bottom: 5px;
}
.error-text {
    color: #ff6d00;
    font-size: 12px;
}
.step-list {
    position: relative;
}
select#expedition {
    border: none;
    border-bottom: 1px solid #ff6d00;
    border-radius: 0px;
}
.form-select.color-change{
    color: #ff6d00;
}

.bio-next{
    background: #00000061;
    border: none;
    color: #ddd;
    width: 100%;
    max-width: 120px;
    padding: 8px 0px;
}
.step-list::after {
    position: absolute;
    left: 0;
    top: 22px;
    bottom: 22px;
    width: 2px;
    content: "";
    background: rgb(0, 130, 199);
    height: 190px;
}
.step-line {
    margin-bottom: 20px;
}
.step-list li {
    position: relative;
    padding-left: 20px;
}

.step-list li::after {
    position: absolute;
    left: -4px;
    top: 17px;
    background: rgba(0, 130, 199, 1);
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 10px;
    z-index: 9;
}



// Validate Data
.validate-data, .SRA-sub{
    .bottom-form-section {
        border-top: 1px solid #ddd;
        padding: 1.5rem 3rem;
    }
    .form-container.FASTQ {
        // padding: 40px 0px;
    }
    .input-section {
        display: flex;
        align-items: center;
    }
    label.input-label.fastq-label {
        width: 100%;
        max-width: 200px;
        text-align: end;
        padding: 0 25px 0 0;
    }
    button.info-btn {
        border: none;
        background: none;
    }
    button.info-btn i {
    color: #42516a;
    }
    .input-med-sec {
        width: 100%;
    }
    .form-check-inline {
        display: flex;
        margin-right: 1rem;
        align-items: center;
        gap: 10px;
    }
    .input-med-sec .form-select {
        color: #777;
    }
    .load{
        color: #00000061;
        background-color: #0000001f;
        border: none;
        padding: 5px 20px;
        float: inline-end;
        font-size: 16px;
        font-weight: 500;
    }
    .instr-box {
        // padding: 40px 0px;
    }
    h6.inst-hed {
        padding: 0 0 0 32px;
        font-weight: 600;
    }    
}

section.projects{
    .flower-section {
        background-color: #fff;
        border: 1px solid #d6dbdb;
        padding: 15px;
        margin: 0 0 20px 0;
    }
    .flow-hed{
        color: #444;
    }
    .flower-section ul.nav.nav-tabs{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .flower-section ul.nav.nav-tabs .nav-link{
        border: none;
        border-radius: 0 0 0 0;
        background: transparent;
    }
    .flower-section .nav-tabs .nav-link.active, 
    .nav-tabs .nav-link.active {
        background-color: #ddd !important;
    }
    .req-save{
        background-color: #42516a;
        color: #fff;
    }
    .card-sec.border-danger {
        border: 1px solid #dc3545;
        margin: 20px 0 0 40px;
        padding: 10px 30px;
        border-radius: 5px;
        background-color: #fbddda;
    }
    .span-text{
        color: #b94a48;
    }
    .grant-user{
        background: #cbe6c2;
    }
    .setting-bar{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    button.btn-ban {
        border: none;
        background: transparent;
    }
    button.btn-ban i{
        color: #dc3545;
    
    }
    .ban-cont{
        font-size: 20px;
        font-weight: 500;
    
    }
    .list-group-item {
        border: none;
    }
    .list-group{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .box-container{
        padding: 0 0 0 40px;
    }
    
    ::ng-deep ngb-modal-window.d-block.modal.no-backdrop.fade.show{
        background-color: #00000080;
    }
    
    .user-dropdown{
        max-height: 250px;
        overflow-y: auto;
        max-width: 50vw;
        .dropdown-item p{
            max-width: 50vw;
        }
    }
    .dropdown-toggle{
        position: relative;
        &::after{
            position: absolute;
            right: 10px;
            top: 1em;
            bottom: 0px;
        }
    }
}


// Project- configurations
section.project-configuration{
    .proj-config {
        padding: 15px 15px;
        border: 1px solid #d6dbdb;
        background: #fff;
        margin-bottom: 50px;
    }
    .proj-config ul.nav.nav-tabs {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    
    }
    .list-group-box{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 15px 15px;
    }
    .proj-config .nav-tabs .nav-link {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        padding: 15px 15px;
    }
    .add-btn {
        text-align: end;
        margin-bottom: 10px;
    }
    button.prop-btn {
        background: none;
        border: none;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
    }
    .proj-config .nav-tabs .nav-link {
        border: none;
        border-top-left-radius: none !important;
        border-top-right-radius: none !important;
        color: #000;
    }
    table.table.align-middle.custom-table tr th {
        background: #fff;
        border: none;
    }
    table.table.table-bordered.align-middle.custom-table tr td {
        border: none;
        color: #777;
    }
    table.table.align-middle.custom-table tr th:last-child {
       float: inline-end;
    }
    .proj-config .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
        background-color: #ddd;
        border-top-left-radius: none !important;
        border-top-right-radius: none !important;
    }
    .third-list {
        width: 50%;
    }
    .events-first{
        width: 10%;
    }
    .event-hed{
        font-size: 19px;
        font-weight: 500;
        color: #000;
    }
    ul.work-list {
        display: flex;
        justify-content: start;
        gap: 10px;
        padding: 0px;
        list-style: none;
    }
    .arrow-icons{
        color: #777;
    }
    
    .custom-table-container {
        margin: 20px auto;
    }
    .custom-table th {
        background-color: #f1f1f1;
    }
    .action-icon {
        cursor: pointer;
    }
    .edit-icon {
        color: #6c757d;
        margin-right: 5px;
    }
    .delete-icon {
        color: #dc3545;
    }
    .work-boxes{
        width: 60%;
    }
    li.list-group-box.list-section {
        padding: 10px 0 10px 10px;
    }
    .master-conf{
        padding: 0 20px 0 20px;
    }
}

section.map-section{
    .top-tab-sec{
        background: #60869899;
        padding: 0 10px;
    }
    .map-tbl {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 10px 0px;
    }
    .map-tbl li {
        width: 100%;
        max-width: 70px;
    }
    
    .map-tbl li button {
        width: 100%;
        padding: 8px 0px;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    .down-btn button {
        background: #2196f3;
        color: #fff;
    }
    li.map-btn1 button {
        background: #fff;
    }
    .form-section{
        padding: 20px 30px;
        overflow: auto;
        height: calc(100vh - 120px);
        background-color: #fff;
        .form-control{
            border: none;
            border-bottom: 1px solid #cccccc;
            border-radius: 0px;
            &:focus{
                box-shadow: none;
                border-color: #007bff;
            }
        }
    }
    .form-btns {
        padding: 0px 0px 0px 0px;
        list-style: none;
        margin: 15px 0px;
    }
    ul.form-btns li {
        margin: 0 0 10px 0px;
    }
    .form-btns li button{ 
        border: none;
        background-color: #b0bec5;
        color: #000000de;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 10px;
        font-weight: 500;
    }
    ul.check-list {
        list-style: none;
        padding: 0px;
        li{ display: flex; }
    }
    .form-section .form-group{
        margin-bottom: 10px;
    }
    .form-section .form-group label {
        font-size: 16px;
        padding: 0 0 5px 0;
        font-weight: 600;
        word-break: break-all;
    }
    
    ul.check-list label {
        padding-left: 10px !important;
        font-weight: 400 !important;
    }
    
    table.custom-table.table-bordered {
        width: 100%;
    }
    .custom-table th, .custom-table td {
        text-align: left;
    }
    .form-group.search-btn-div {
        text-align: end;
        padding: 15px 0px;
    }
    .form-group.search-btn-div .search-btn{
        border: none;
        padding: 10px 10px;
        font-size: 16px;
        background-color: #2196f3;
        color: #fff;
    }
    button.search-btn i {
        padding-right: 10px;
    }    
}


@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1230px;
    }
}

@media screen and (max-width: 991px) {
    .validate-data .bottom-form-section{ padding: 1.5rem !important; }
    .validate-data label.input-label.fastq-label, .SRA-sub label.input-label.fastq-label{ width: auto !important; }
}