<md-dialog aria-label="Project Selector dialog" class="project-selector-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Select a project</h2>
      <!-- <span flex></span> -->
    </div>
  </md-toolbar>

  <md-dialog-content flex layout="column">
    <div flex></div>
    <project-selector layout="row" layout-align="center center" is-authenticated="$ctrl.isAuthenticated" on-change="$ctrl.select(project)"
      button-class="">
    </project-selector>
    <div flex></div>
    <md-dialog-actions>
      <md-button ng-click="$ctrl.cancel()" class="md-warn">Go Back</md-button>
    </md-dialog-actions>
</md-dialog>