<div class="settings">
    <div ui-view>
        <div class="settings-bar">
            <div class="settings-bar-container">
                <ul class="nav nav-pills pull-left">
                    <li><a href ui-sref="^.entities" ui-sref-active="active">Entities</a></li>
                    <li><a href ui-sref="^.lists" ui-sref-active="active">Lists</a></li>
                    <li><a href ui-sref="^.metadata" ui-sref-active="active">Metadata</a></li>
                </ul>

                <ul class="actions pull-right">
                    <li class="save-config" ng-show="$ctrl.showSave">
                        <a href="#"  ng-click="$ctrl.save()">
                            <i class="fa fa-upload"></i> Save Config</a>
                    </li>
                    <li class="add">
                        <a href ng-click="$ctrl.add()">
                            <i class="fa fa-plus fa-fw"></i> Add {{ $ctrl.addText }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div ui-view="objects"
             config="$ctrl.config"
             on-update-entities="$ctrl.handleUpdateEntities(entities)">
        </div>

    </div>
</div>