<div class="settings">
    <div ui-view>
        <fims-project-config-navbar
                show-save="$ctrl.showSave"
                on-save="$ctrl.handleOnSave()"
                add-text="$ctrl.addText"
                on-add="$ctrl.handleOnAdd()">
            <li><a href ui-sref="^.entities" ui-sref-active="active">Entities</a></li>
            <li><a href ui-sref="^.lists" ui-sref-active="active">Lists</a></li>
            <li><a href ui-sref="^.metadata" ui-sref-active="active">Metadata</a></li>
        </fims-project-config-navbar>

        <div ui-view="objects"
             config="$ctrl.config"
             on-update-entities="$ctrl.handleUpdateEntities(entities)"
             on-new-worksheet="$ctrl.handleNewWorksheet(sheetName)">
        </div>

    </div>
</div>