<div class="settings">
    <div ui-view="detail"
         config="$ctrl.config"
         show-save="$ctrl.showSave"
         on-save="$ctrl.handleOnSave()"
         on-update-entity="$ctrl.handleUpdateEntity(alias, entity)"
         on-update-list="$ctrl.handleUpdateList(alias, list)">
        <!-- NOTE: this will be replaced when a route targets the 'detail' ui-view above -->
        <fims-project-config-overview
                config="$ctrl.config"
                show-save="$ctrl.showSave"
                on-save="$ctrl.handleOnSave()"
                on-update-metadata="$ctrl.handleUpdateMetadata(config)"
                on-new-worksheet="$ctrl.handleNewWorksheet(sheetName)"
                on-update-entities="$ctrl.handleUpdateEntities(entities)"
                on-update-lists="$ctrl.handleUpdateLists(lists)">
        </fims-project-config-overview>
    </div>
</div>