<div class="settings-bar">
    <div class="settings-bar-container">
        <ul class="nav nav-pills pull-left" ng-transclude></ul>

        <ul class="actions pull-right">
            <li class="save-config" ng-show="$ctrl.showSave">
                <a href="#"  ng-click="$ctrl.onSave()">
                    <i class="fa fa-upload"></i> Save Config</a>
            </li>
            <li class="add" ng-show="!!($ctrl.addText)">
                <a href ng-click="$ctrl.onAdd()">
                    <i class="fa fa-plus fa-fw"></i> Add {{ $ctrl.addText }}
                </a>
            </li>
        </ul>
    </div>
</div>