<fims-project-config-navbar
        show-save="$ctrl.showSave"
        on-save="$ctrl.onSave()"
        add-text="$ctrl.addText"
        on-add="$ctrl.handleOnAdd()">
    <li><a href ui-sref="^.entities" ui-sref-active="active">Entities</a></li>
    <li><a href ui-sref="^.lists" ui-sref-active="active">Lists</a></li>
    <li><a href ui-sref="^.expeditionMetadata" ui-sref-active="active">Expedition Properties</a></li>
    <li><a href ui-sref="^.metadata" ui-sref-active="active">Metadata</a></li>
</fims-project-config-navbar>

<div ui-view="metadata"
     config="$ctrl.config"
     on-update="$ctrl.onUpdateMetadata({ config:config })">
</div>

<div ui-view="entities"
     config="$ctrl.config"
     entities="$ctrl.config.entities"
     on-add-entity="$ctrl.handleAddEntity(entity)"
     on-update-entities="$ctrl.onUpdateEntities({ entities: entities })"
     on-new-worksheet="$ctrl.onNewWorksheet({ sheetName: sheetName })">
</div>

<div ui-view="lists"
     lists="$ctrl.config.lists"
     on-update-lists="$ctrl.onUpdateLists({ lists: lists })"
     on-add-list="$ctrl.handleOnAddList(list)">
</div>

<div ui-view="expeditionMetadata"
    properties="$ctrl.config.expeditionMetadataProperties"
    on-update="$ctrl.handleOnUpdateExpeditionMetadata({ expeditionMetadata: expeditionMetadata })">
</div>
