<section class="map-section position-relative">
    <div class="row">
        <div class="col-lg-12">
            <div class="top-tab-sec">
                <ul class="map-tbl mb-0">
                    @if(queryResult.length && entities.length){
                        <li class="down-btn" ngbDropdown>
                            <button type="button" class="btn btn-primary-original" id="downloadOptions" ngbDropdownToggle>
                                <i class="fas fa-download"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="downloadOptions">
                                <span ngbDropdownItem (click)="downloadCsv()" class="cursor-pointer">CSV Archive</span>
                                <span ngbDropdownItem (click)="downloadExcel()" class="cursor-pointer">Excel Workbook</span>
                                <span ngbDropdownItem (click)="downloadFasta()" class="cursor-pointer">Fasta</span>
                            </div>
                        </li>
                    }
                    <li class="map-btn1"><button type="button" class="btn btn-sm rounded-0" [ngClass]="active === 'map' ? 'btn-primary' : 'btn-light'" (click)="active = 'map'">Map</button></li>
                    <li class="map-btn1"><button type="button" class="btn btn-sm rounded-0" [ngClass]="active === 'table' ? 'btn-primary' : 'btn-light'" (click)="active = 'table'">Table</button></li>
                    @if(entity.includes('Photo')){
                        <li class="map-btn1"><button type="button" class="btn btn-sm rounded-0" [ngClass]="active === 'photos' ? 'btn-primary' : 'btn-light'" (click)="active = 'photos'">Browse Phtots</button></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-0 ps-2" [ngClass]="isSidebarVisible ? 'col-md-4 col-3' : 'w-0 h-0 overflow-hidden'">
            @if(teamQuery){
                <app-query-form (queryResult)="updateQueryResult($event, 'teamQueryForm')" [params]="params"/>
            }
            @else{
                <app-query-form (queryResult)="updateQueryResult($event, 'queryForm')" [params]="params" [q]="requestedParams" (entitesForDownload)="downloadableEntities($event)"/>
            }
        </div>
        
        <div class="p-0 pe-2" [ngClass]="isSidebarVisible ? 'col-md-8' : 'col-md-12'">
            <div [ngClass]="active === 'map' ? '' : 'w-0 h-0 overflow-hidden'">
                <app-map (sidebarToggle)="onSidebarToggle($event)"/>
            </div>
            <div class="custom-table-container" [ngClass]="active === 'table' ? 'query-table' : 'w-0 h-0 overflow-hidden p-0'">
                @if(queryResult.length){
                    <app-query-table [entity]="entity" [queryResult]="queryResult"/>
                }
                @else{
                    <div class="d-flex justify-content-center">
                        <p>Click <span class="fw-semibold">Search</span> on sidebar to display query results</p>
                    </div>
                }
            </div>
            <div class="custom-table-container" [ngClass]="active === 'photos' ? '' : 'w-0 h-0 overflow-hidden p-0'">
                <app-query-photos [entity]="entity" [queryResult]="queryResult"/>
            </div>
        </div>



    </div>
    @if(dummyDataService.loadingState | async){
        <app-loader />
    }
</section>
