<section class="map-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="top-tab-sec">
                <ul class="map-tbl mb-0">
                    <li class="down-btn"><button><i class="fa-solid fa-download"></i></button></li>
                    <li class="map-btn1"><button type="button" (click)="active = 'map'">Map</button></li>
                    <li class="map-btn1"><button type="button" (click)="active = 'table'">Table</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-0 ps-2" [ngClass]="isSidebarVisible ? 'col-lg-4' : 'col-0 overflow-hidden'">
            <app-query-form />
        </div>
        
        <div class="p-0 pe-2" [ngClass]="isSidebarVisible ? 'col-lg-8' : 'col-lg-12'">
            <div [ngClass]="active == 'map' ? '' : 'w-0 h-0 overflow-hidden'">
                <div id="map" style="min-height: calc(100vh - 130px); width: 100%;"></div>
            </div>
            <div class="custom-table-container" [ngClass]="active != 'map' ? '' : 'w-0 h-0 overflow-hidden'">
                <p class="fw-bold">Total Number of Results: 574</p>
                <table class="custom-table table-bordered">
                    <thead>
                        <tr>
                            <th>MaterialSampleID</th>
                            <th>EventID</th>
                            <th>Locality</th>
                            <th>DecimalLatitude</th>
                            <th>DecimalLongitude</th>
                            <th>YearCollected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BALI_7722</td>
                            <td>INDO_123</td>
                            <td>Horse Reef ARMS site</td>
                            <td>-8.12787</td>
                            <td>114.65562</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>BALI_7723</td>
                            <td>INDO_123</td>
                            <td>Horse Reef ARMS site</td>
                            <td>-8.12787</td>
                            <td>114.65562</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>BALI_7724</td>
                            <td>INDO_123</td>
                            <td>Horse Reef ARMS site</td>
                            <td>-8.12787</td>
                            <td>114.65562</td>
                            <td>2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</section>