<div class="row section">
    <div class="sectioncontent">
        <h2 class="page-header">Query</h2>

        <div ng-show="queryVm.error" class="alert alert-error">
            <a href="#" class="close" ng-click="queryVm.error = null" aria-label="close">&times;</a>
            {{ queryVm.error }}
        </div>
        <div class="col-sm-12">
            <form method="POST" class="form-horizontal" name="queryForm">

                <project-select select-classes="form-control" public-btn-classes="pull-right"
                                project="queryVm.project"></project-select>

                <div ng-show="queryVm.project">
                    <div class="form-group" style="margin-bottom: 0px">
                        <div class="col-sm-offset-3 col-sm-6">
                            <input type="text" placeholder="Query String..." ng-model="queryVm.queryString"
                                   class="form-control"/>
                            <a class="help-block text-right" href="#"
                               ng-click="queryVm.moreSearchOptions = !queryVm.moreSearchOptions">
                                More search options</a>
                        </div>
                    </div>

                    <div ng-show="queryVm.moreSearchOptions">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Expedition(s)</label>
                            <div class="col-sm-6">
                                <typeahead class="typeahead" expeditions="queryVm.expeditions"
                                           selected-expeditions="queryVm.selectedExpeditions"></typeahead>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-3">Filter(s)</label>
                            </div>
                        </div>
                        <div class="form-group row" ng-repeat="filter in queryVm.filters track by $index">
                            <div class="col-sm-offset-3 col-sm-2">
                                <select ng-model="filter.column"
                                        ng-change="queryVm.filters[$index].value=null"
                                        ng-options="f for f in queryVm.filterOptions"
                                        class="form-control"
                                ></select>
                            </div>
                            <div class="col-sm-1 text-center"><span>=</span></div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="filter.value"/>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" ng-show="queryVm.filters.length > 1"
                                    ng-click="queryVm.removeFilter($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-show="$last"
                                    ng-click="queryVm.addFilter()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button ng-click="queryVm.search()" class="btn pull-right btn-default"><span
                                    class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown">Download <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="queryVm.downloadCsv()">CSV</a></li>
                                <li><a href="#" ng-click="queryVm.downloadKml()">KML</a></li>
                                <li><a href="#" ng-show="queryVm.selectedExpeditions.length === 1"
                                       ng-click="queryVm.downloadExcel()">Excel
                                    Template</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row sectioncontent">
        <div class="panel panel-default" ng-show="queryVm.queryResults" style="overflow: auto">
            <span ng-show="queryVm.queryInfo.totalElements === 0">No Samples found.</span>

            <table class="table table-condensed table-hover text-nowrap">
                <thead>
                    <th sly-repeat="key in queryVm.queryResults.keys">{{ key }}</th>
                </thead>
                <tbody>
                    <tr sly-repeat="resource in queryVm.queryResults.data">
                        <td uib-popover="{{value}}"
                            popover-enable="value.length > 35"
                            popover-trigger="mouseenter"
                            ng-class="{hideOverflow: value.length > 35}"
                            popover-placement="bottom"
                            popover-append-to-body="true"
                            sly-repeat="value in resource">{{value}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul ng-show="queryVm.queryInfo.totalElements > queryVm.queryInfo.size"
                uib-pagination total-items="queryVm.queryInfo.totalElements" ng-model="queryVm.currentPage"
                ng-change="queryVm.queryJson()"
                max-size="10"
                force-ellipses="true"
                boundary-link-numbers="true"
                items-per-page="queryVm.queryInfo.size"></ul>
        </div>
    </div>
</div>