<section class="map-section position-relative">
    <div class="row">
        <div class="col-lg-12">
            <div class="top-tab-sec">
                <ul class="map-tbl mb-0">
                    @if(queryResult.length && entities.length){
                        <li class="down-btn" ngbDropdown>
                            <button type="button" class="btn btn-outline-primary" id="downloadOptions" ngbDropdownToggle>
                                <i class="fas fa-download"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="downloadOptions">
                                <span ngbDropdownItem (click)="downloadCsv()" class="cursor-pointer">CSV Archive</span>
                                <span ngbDropdownItem (click)="downloadExcel()" class="cursor-pointer">Excel Workbook</span>
                                <span ngbDropdownItem (click)="downloadFasta()" class="cursor-pointer">Fasta</span>
                            </div>
                        </li>
                    }
                    <li class="map-btn1"><button type="button" (click)="active = 'map'">Map</button></li>
                    <li class="map-btn1"><button type="button" (click)="active = 'table'">Table</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-0 ps-2" [ngClass]="isSidebarVisible ? 'col-md-4 col-3' : 'w-0 h-0 overflow-hidden'">
            @if(teamQuery){
                <app-query-form (queryResult)="updateQueryResult($event, 'teamQueryForm')"/>
            }
            @else{
                <app-query-form (queryResult)="updateQueryResult($event, 'queryForm')" [q]="requestedQuery" (entitesForDownload)="downloadableEntities($event)"/>
            }
        </div>
        
        <div class="p-0 pe-2" [ngClass]="isSidebarVisible ? 'col-md-8' : 'col-md-12'">
            <div [ngClass]="active == 'map' ? '' : 'w-0 h-0 overflow-hidden'">
                <app-map (sidebarToggle)="onSidebarToggle($event)"/>
            </div>
            <div class="custom-table-container" [ngClass]="active != 'map' ? 'query-table' : 'w-0 h-0 overflow-hidden'">
                @if(queryResult.length){
                    <p class="fw-bold">Total Number of Results: {{queryResult.length}}</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">MaterialSampleID</th>
                                <th scope="col">EventID</th>
                                <th scope="col">Locality</th>
                                <th scope="col">DecimalLatitude</th>
                                <th scope="col">DecimalLongitude</th>
                                <th scope="col">YearCollected</th>
                                <th scope="col">Phylum</th>
                                <th scope="col">ScientificName</th>
                                <th scope="col">ExpeditionCode</th>
                                <th scope="col">Bcid</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of queryResult; track item) {
                                <tr>
                                    <td>{{ item.materialSampleID }}</td>
                                    <td>{{ item.eventID }}</td>
                                    <td>{{ item.locality }}</td>
                                    <td>{{ item.decimalLatitude }}</td>
                                    <td>{{ item.decimalLongitude }}</td>
                                    <td>{{ item.yearCollected }}</td>
                                    <td>{{ item.phylum }}</td>
                                    <td>{{ item.scientificName }}</td>
                                    <td>{{ item.expeditionCode }}</td>
                                    <td>{{ item.eventBcid }}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @else{
                    <div class="d-flex justify-content-center">
                        <p>Click <span class="fw-semibold">Search</span> on sidebar to display query results</p>
                    </div>
                }
            </div>
        </div>



    </div>
    @if(dummyDataService.loadingState | async){
        <app-loader />
    }
</section>
