<div layout-fill layout="column" class="team-overview">
  <h3 class="text-center page-header">
    Team {{$ctrl.currentProject.projectConfiguration.name}} Overview
  </h3>
  <div layout="row" class="team-description text-center">
    <div class="col-sm-12 text-center" ng-class="{truncate: $ctrl.textTruncated}">
      {{ $ctrl.currentProject.projectConfiguration.description }}
      <span
        ng-click="$ctrl.textTruncated = !$ctrl.textTruncated"
        class="ellipsis"
        md-colors="{color: 'primary'}"
      >
        ...
      </span>
    </div>
  </div>
  <div class="team-details" layout="row">
    <div class="col-sm-6">
      <div layout="row" ng-if="value !== undefined" ng-repeat="(key, value) in $ctrl.teamDetails">
        <div class="col-sm-6 detail-key text-left">{{key}}:</div>
        <div class="col-sm-6 text-left">
          {{value}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="collaboration-checkbox-row" ng-show="!$ctrl.loadingcollab">
        <md-tooltip
          ng-if="!$ctrl.currentUser || 
          $ctrl.currentUser.username !== 
          $ctrl.currentProject.projectConfiguration.user.username"
        >
          To make changes to this teams configuration, you must be signed in as team administrator
        </md-tooltip>
        <md-checkbox
          ng-model="$ctrl.openToCollaboration"
          ng-change="$ctrl.collaborationCheckboxChange()"
          ng-disabled="!$ctrl.currentUser || 
          $ctrl.currentUser.username !== 
          $ctrl.currentProject.projectConfiguration.user.username || 
          $ctrl.loadingCollaborationCheckbox"
          aria-label="collaboration checkbox"
        >
          <span>Open to Collaborate</span>
        </md-checkbox>
        <collaboration-label></collaboration-label>
      </div>
      <md-progress-circular
        ng-if="$ctrl.loadingCollaborationCheckbox"
        class="loading-overlay-fixed"
        md-mode="indeterminate"
      ></md-progress-circular>
    </div>
  </div>
  <section class="projects">
    <table class="table table-hover" ng-if="!$ctrl.loading">
      <h4 class="text-center">Projects</h4>
      <div ng-if="$ctrl.loading" layout="row" layout-align="center center" class="loader">
        <md-progress-circular
          class="loading-overlay-fixed"
          md-mode="indeterminate"
        ></md-progress-circular>
      </div>
      <tr class="title-row">
        <td>Title</td>
        <td class="text-center">Samples</td>
        <td class="text-center">Events</td>
        <td class="text-center">Tissues</td>
        <td class="text-center">Latest Activity</td>
      </tr>

      <tr
        ng-repeat="project in $ctrl.projects | orderBy: 'projectTitle'"
        ng-click="$ctrl.projectDetail(project)"
        ng-if="$ctrl.currentProject.projectConfiguration.name === project.projectConfiguration.name"
      >
        <td layout="column">
          <div md-truncate layout="row" layout-align="space-between" class="title-row">
            <div md-colors="{color: 'primary'}">
              <span class="project-title">{{ project.projectTitle }}</span>
              <md-tooltip md-delay="200" md-direction="bottom"
                >{{ project.projectTitle }}</md-tooltip
              >
            </div>
          </div>
        </td>
        <td class="text-center">
          {{project.entityStats.SampleCount}}
        </td>
        <td class="text-center">
          {{project.entityStats.EventCount}}
        </td>
        <td class="text-center">
          {{project.entityStats.TissueCount}}
        </td>
        <td class="text-center">
          <small class="text-muted activity"
            >{{ project.latestDataModification ? project.latestDataModification.split(' ')[0] :
            'N/A' }}</small
          >
        </td>
      </tr>
    </table>
  </section>
</div>
