<div class="team-overview">
  <h3 class="text-center page-header">
    Team {{$ctrl.currentProject.projectConfiguration.name}} Overview
  </h3>
  <div layout="row" class="description text-center">
    <div ng-click="$ctrl.textTruncated = !$ctrl.textTruncated">
      <span ng-class="{truncate: $ctrl.textTruncated}">
        {{ $ctrl.currentProject.projectConfiguration.description }}
      </span>
      <span
        class="ellipsis"
        ng-if="$ctrl.currentProject.projectConfiguration.description"
        hide-gt-sm
        md-colors="{color: 'primary'}"
      >
        ...
      </span>
    </div>
  </div>

  <!---<div layout="row" layout-xs="column" class="detail-row">-->
  <div layout-fill layout="column">
    <div class="project-details" >
 	<div class="row">
      		<div class="col-sm-4 col-md-3 col-lg-2"><strong>Administrator</strong></div>
      		<div class="col-sm-8 col-md-9 col-lg-10"><span>{{ $ctrl.administrator }}</span> </div>
	</div>
 	<div class="row">
      		<div class="col-sm-4 col-md-3 col-lg-2"><strong>Contact</strong></div>
      		<div class="col-sm-8 col-md-9 col-lg-10"><span>{{ $ctrl.contact }}</span> </div>
	</div>
<!-- 	This has nowhere to go... need to implement teamId search
	<div class="row">
      		<div class="col-sm-4 col-md-3 col-lg-2"><strong>Team Direct Link</strong></div>
      		<div class="col-sm-8 col-md-9 col-lg-10"><span><a href="{{ $ctrl.teamUrl }}">{{ $ctrl.teamUrl}}</a></span> </div>
	</div>
	-->
    </div>
  </div>
  <section>
    <table class="table table-hover" ng-if="!$ctrl.loading">
      <h4 class="text-center">Projects</h4>
      <div ng-if="$ctrl.loading" layout="row" layout-align="center center" class="loader">
        <md-progress-circular
          class="loading-overlay-fixed"
          md-mode="indeterminate"
        ></md-progress-circular>
      </div>
      <tr class="title-row" flex>
        <td width="30%">Title</td>
        <td class="text-center md-clip" md-truncate>Samples</td>
        <td class="text-center md-clip" md-truncate>Project Owner</td>
        <td class="text-center md-clip" md-truncate>Latest Activity</td>
      </tr>

      <tr
        ng-repeat="project in $ctrl.projectStats | orderBy: 'projectTitle'"
        ng-click="$ctrl.viewProjectOverview(project)"
        ng-if="$ctrl.currentProject.projectConfiguration.name === project.projectConfiguration.name"
      >
        <td>
          <div md-truncate md-colors="{color: 'primary'}" class="project-title">
            <span>{{ project.projectTitle }}</span>
            <md-tooltip md-delay="200" md-direction="bottom">{{ project.projectTitle }}</md-tooltip>
          </div>
        </td>
        <td class="text-center">
          {{project.entityStats.SampleCount}}
        </td>
        <td class="text-center">
          {{project.user.username}}
        </td>
        <td class="text-center">
          <small class="text-muted activity"
            >{{ project.latestDataModification ? project.latestDataModification.split(' ')[0] :
            'N/A' }}</small
          >
        </td>
      </tr>
    </table>
  </section>
</div>
