<div>
	<uib-accordion>
		<ul ng-repeat="x in $ctrl.data">
			<li uib-accordion-group heading="{{x.projectTitle}}">
				<ul class="list-unstyled">
				<li>
					<strong>{{x.projectTitle}} ({{x.projectCode}})</strong>
				</li>
				<li>
					<i>{{x.description}}description description description</i>
				</li>
				<li>
					<u>Administrator</u>:
					<span class="text-capitalize">{{x.user.firstName}} {{x.user.lastName}} </span>(
					<a href="mailto:{{x.user.email}}">{{x.user.email}}</a>)</li>
				<li>
					<u>Status</u>:
					<span ng-if="!x.public">Not </span>Visible To Public</li>
				<!--<li><u>Elements</u>: elements elements elements{{x.elements}}</li> -->

				</li>
				</ul>
			</li>
		</ul>
	</uib-accordion>
</div>
