<div>

    <b>Diversity of the IndoPacific Metadatabase (DIPNet)</b>

    <p></p>

    Founded in 2012 the Diversity of the Indo-Pacific Network (DIPnet) was created to advance genetic diversity research in the
    Indo-Pacific Oceans by aggregating (published) population genetic data into a searchable database so that original datasets
    can be utilized to address questions concerning conservation of marine biodiversity. It is our aim to promote collaboration
    and advocate best practices for conducting biodiversity research.

    <p></p>

    Administrator: ERIC D. CRANDALL (ecrandall@csumb.edu) Status: Visible to public Elements: Sample, FASTA sequences, FASTQ
    sequences

    <p></p>
    <b></b>

    <b>PEER (PEER)</b>

    <p></p>

    Founded with the
    <a href="http://biocode.berkeley.edu/">Moorea Biocode Project</a> in 2006, the Biocode project family includes a number of projects that have since adopted
    the Moorea Biocode database. We are in the process of porting Biocode projects to GeOMe.

    <p></p>

    Administrator: Christopher Meyer (meyerc@si.edu) Status: Visible to public Elements: Sample, Events, Tissues, Sample Photos,
    Tissue Photos
</div>