<div ui-view class="admin" current-project="$ctrl.currentProject">
<!-- <div class="admin"> -->
    <div class="row">
        <div class="col-xs-12">
            <section class="heading">
                <h3>{{ $ctrl.currentProject.projectTitle }}</h3>
                <p>
                    <strong>Description: </strong> {{ $ctrl.currentProject.description }}</p>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <section>
                <ul class="nav nav-pills">
                    <li>
                        <a href ui-sref="project.settings" ui-sref-active="active">Settings</a>
                    </li>
                    <li>
                        <a href ui-sref="project.expeditions" ui-sref-active="active">Expeditions</a>
                    </li>
                    <li>
                        <a href ui-sref="project.members" ui-sref-active="active">Members</a>
                    </li>
                    <!-- <li> -->
                        <!-- <a href ui-sref="project.config" ui-sref-active="active">Config</a> -->
                    <!-- </li> -->
                </ul>

                <div class="row">
                    <div ui-view="details" class="col-xs-12" current-project="$ctrl.currentProject" on-project-update="$ctrl.handleProjectUpdate(project)">
                    </div>
                </div>

            </section>
        </div>
    </div>

</div>