<div>
    <a class="edit-close" href="#"><i ng-click="$ctrl.onClose()" class="fa fa-times"></i></a>
    <div class="row">
        <div class="col-xs-12">

            <form class="form-horizontal">

                <div class="form-group" ng-class="{ 'has-error': $ctrl.duplicateValue }">
                    <label class="control-label col-xs-3">Name</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="$ctrl.list.alias" ng-change="$ctrl.validateAlias()"/>
                        <div class="help-block" ng-show="$ctrl.duplicateValue">Another list with this name already exists.</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox col-xs-offset-3 col-xs-9">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.caseSensitive"
                                   ng-change="$ctrl.list.caseInsensitive = !$ctrl.caseSensitive"/> case sensitive?
                        </label>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>