<div ng-cloak>
    <div class="row back">
        <div class="col-xs-12">
            <a href ui-sref="project-config.lists">
                <i class="fa fa-chevron-left"></i> Lists</a>
            <p layout-padding> Showing fields for list:
                <strong>{{$ctrl.list.alias}}</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>List fields are controlled by the GeOMe admin. If you would like to request a
                modification feel free to send an email to <a href="mailto:geome.help@gmail.com">geome.help@gmail.com</a></p>

            <fims-network-config-list list="$ctrl.list"></fims-network-config-list>
        </div>
    </div>
</div>