<div layout="row">
  <span flex></span>
  <button
    ng-click="$ctrl.addList($event)"
    class="md-primary md-button md-ink-ripple add-button"
    ng-show="$ctrl.canEdit"
  >
    <md-icon md-font-icon="fa fa-plus fa-fw"></md-icon>
    Add List
  </button>
</div>
<ul class="settings-list lists">
  <li
    class="settings-list-item"
    ng-repeat="list in $ctrl.lists | orderBy: ['networkList', 'alias']"
  >
    <div class="row-actions" ng-if="$ctrl.canEdit">
      <a ng-if="!list.networkList" href="#" ng-click="$ctrl.removeList($event, list)"
        ><i class="fa fa-trash fa-fw text-danger"></i
      ></a>
      <!-- spacer -->
      <span ng-if="list.networkList"><i class="fa fa-fw "></i></span>
    </div>
    <div class="info">
      <div class="row">
        <div layout="row" class="col-xs-12">
          <div flex>
            <a ui-sref=".detail({ alias: list.alias, list: list })" href class="title">
              {{ list.alias }}
            </a>
          </div>
          <div flex flex-gt-sm="25" flex-gt-md="35">
            <ul class="list-unstyled">
              <li>
                <a href ui-sref=".detail({ alias: list.alias, list: list })">
                  <span class="badge">{{ list.fields.length }}</span>
                  Fields
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12">
          <ul class="list-inline metadata">
            <li><strong>caseSensitive:</strong> {{ !list.caseInsensitive }}</li>
            <li><strong>isNetworkList:</strong> {{ list.networkList}}</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
