<div>
  A project can be setup to disable expedition access checks, allowing all project members to upload
  to any expedition. To allow expedition access to all project members, the project administrator
  may do the following:
  <ul>
    <li>Visit <a ui-sref="project">"Project Settings"</a> under Workbench</li>
    <li>Uncheck the "Enforce Expedition Access Control" checkbox</li>
  </ul>
  <br />
  Having multiple members in one expedition is a feature that will be implemented in the future.
</div>
